{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
  Patient details
{% endblock %}

{% block beforeContent %}

  <div class="nhsuk-full-width-container">
    <div class='scra-bordered-tabs-container'>
      <div class="nhsuk-width-container-fluid">
        <ul class="scra-bordered-tabs">
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
          </li>
          <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
            <a class="scra-bordered-tabs-link" href="#">Patient</a>
          </li>
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
          </li>
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="#">Documents</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-quarter">
        <div class="govuk-accordion" data-module="accordion" id="accordion-default">

          <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header scra-accordion__header">
              <h2 class="govuk-accordion__section-heading scra-accordion__heading">
                <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
                  Key demographics
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul>
                <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
                <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
                <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header scra-accordion__header">
              <h2 class="govuk-accordion__section-heading scra-accordion__heading">
                <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
                  Contacts & next of kin
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header scra-accordion__header">
              <h2 class="govuk-accordion__section-heading scra-accordion__heading">
                <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
                  GP & Care providers
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header scra-accordion__header">
              <h2 class="govuk-accordion__section-heading scra-accordion__heading">
                <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
                  Chargeability status
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">

            </div>
          </div>

        </div>
      </div>

      <div class="nhsuk-grid-column-three-quarters">
          <h1 class="nhsuk-heading-l">Key demographics</h1>
          <div class="scra-card">
            <div class="scra-card-header">
              <h2 class="nhsuk-heading-m" id="patient-details-names">Names</h2>
            </div>
            <div class="scra-card-content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Usual Name:</span>
                    <span class="card-content-name">William Shakespeare</span>
                  </div>
                </div>
              </div>
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Preferred Name:</span>
                    <span class="card-content-detail">None recorded</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Other names:</span>
                    <span class="card-content-detail">None recorded</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Previous names:</span>
                    <span class="card-content-detail">None recorded</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scra-card">
            <div class="scra-card-header">
              <h2 class="nhsuk-heading-m" id="patient-key-details">Key details</h2>
            </div>
            <div class="scra-card-content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Gender:</span>
                    <span class="card-content-detail card-content-detail-gender">Male</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">NHS Number:</span>
                    <span class="card-content-detail card-content-detail-nhs-no">123 456 7890</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Date of birth:</span>
                    <span class="card-content-detail card-content-detail-dob">01-Dec-1970</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-quarter">
                  <div class="card-content-section">
                    <span class="card-content-label">Place of birth:</span>
                    <span class="card-content-detail card-content-detail-pob">Stratford-upon-Avon</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scra-card">
            <div class="scra-card-header">
              <h2 class="nhsuk-heading-m" id="patient-details-address">Address</h2>
            </div>
            <div class="scra-card-content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <div class="card-content-section">
                    <span class="card-content-label">Address:</span>
                    <span class="card-content-detail card-content-detail-address">1 Town Street</span>
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <div class="card-content-section">
                    <span class="card-content-label">Temporary address:</span>
                    <span class="card-content-detail">None recorded</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


  </div>
{% endblock %}
