{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Find a patient
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Find a patient</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="nhsuk-full-width-container">
    <div class='scra-bordered-tabs-container'>
      <div class="nhsuk-width-container">
        <ul class="scra-bordered-tabs">
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="nhs-number-search">By NHS Number</a>
          </li>
          <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
            <a class="scra-bordered-tabs-link" href="patient-details-search">By Patient Details</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h2 class="nhsuk-heading-m">Enter as many details as you know</h1>

      <form id="advanced-details-search" action="search-results">

        <!--- Error Summary --->

        <div class="nhsuk-error-summary" id="nhsuk-advanced-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" style="display:none">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <p>
              You must correct the following errors
            </p>
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li><a id="error-summary-advanced-gender" href="#nhsuk-form-group-gender" style="display:none">You must select a gender for the patient</a></li>
              <li><a id="error-summary-advanced-last-name" href="#nhsuk-form-group-last-name" style="display:none">You must enter a last name for the patient</a></li>
              <li><a id="error-summary-advanced-dob" href="#nhsuk-form-group-dob" style="display:none">You must enter a date of birth rangefor the patient</a></li>
            </ul>
          </div>
        </div>

        <!--- Gender Radio Buttons --->
        <div id="nhsuk-form-group-gender-advanced" class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="gender-radio">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              Gender
            </legend>
            <span id="advanced-gender-error-error" class="nhsuk-error-message" style="display: none">
              You must select a gender
            </span>
            <div class="nhsuk-radios nhsuk-radios--inline">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gender-female-advanced" name="gender-advanced" type="radio" value="Female">
                <label class="nhsuk-label nhsuk-radios__label" for="gender-female-advanced">
                  Female
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gender-male-advanced" name="gender-advanced" type="radio" value="Male">
                <label class="nhsuk-label nhsuk-radios__label" for="gender-male-advanced">
                  Male
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gender-not-known-advanced" name="gender-advanced" type="radio" value="Not known">
                <label class="nhsuk-label nhsuk-radios__label" for="gender-not-known-advanced">
                  Not known
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gender-not-specified-advanced" name="gender-advanced" type="radio" value="Not specified">
                <label class="nhsuk-label nhsuk-radios__label" for="gender-not-specified-advanced">
                  Not specified
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <!--- First name text input --->
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label__strong" for="first-name-advanced">
            First name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="first-name-advanced" name="first-name" type="text">
        </div>
        <!--- Last name text input --->
        <div id="nhsuk-form-group-last-name-advanced" class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label__strong" for="last-name-advanced">
            Last name
          </label>
          <span id="advanced-last-name-error-error" class="nhsuk-error-message" style="display: none">
            You must enter a last name
          </span>
          <input class="nhsuk-input nhsuk-input--width-20" id="last-name-advanced" name="last-name" type="text">
        </div>
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="widen-search">

            <div class="nhsuk-checkboxes">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="widen-search-checkbox" name="widen-search" type="checkbox" value="widen-search">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="widen-search-checkbox">
                  Widen search to include similar names and misspellings
                </label>
              </div>

            </div>
          </fieldset>

        </div>
        <!--- Postcode text input --->

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label__strong" for="postcode-advanced">
            Postcode (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="postcode-advanced" name="postcode" type="text">
        </div>

        <!--- Date of birth text input --->
        <div id="nhsuk-form-group-dob-advanced" class="nhsuk-form-group">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-form-group">
              <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                <fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Date of birth from
                  </legend>
                  <span id="dob-from-error-error" class="nhsuk-error-message" style="display: none">
                    You must enter a date
                  </span>
                  <div class="nhsuk-date-input" id="dob-from">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-day-from">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-day-from" name="dob-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-month-from">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-month-from" name="dob-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-year-from">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4" id="dob-year-from" name="dob-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                <fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Date of birth to
                  </legend>
                  <span id="dob-to-error-error" class="nhsuk-error-message" style="display: none">
                    You must enter a date
                  </span>
                  <div class="nhsuk-date-input" id="dob-to">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-day-to">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-day-to" name="dob-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-month-to">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-month-to" name="dob-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-year-to">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4" id="dob-year-to" name="dob-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <!--- Date of death text input --->
        <div class="nhsuk-form-group">
          <div class="nhsuk-grid-row">
            <div id="nhsuk-form-group-dod" class="nhsuk-form-group">
              <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                <fieldset class="nhsuk-fieldset" aria-describedby="dod-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Date of death from (optional)
                  </legend>
                  <div class="nhsuk-date-input" id="dod-from">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-day-from">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dod-day-from" name="dob-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-month-from">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dod-month-from" name="dob-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-year-from">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dod-year-from" name="dob-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                <fieldset class="nhsuk-fieldset" aria-describedby="dod-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Date of death to (optional)
                  </legend>
                  <div class="nhsuk-date-input" id="dob-to">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-day-to">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dod-day-to" name="dob-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-month-to">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dod-month-to" name="dob-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dod-year-to">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dod-year-to" name="dob-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <!--- GP Practice Code --->
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label__strong" for="gp-input">
            GP Practice Code (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="gp-input" name="postcode" type="text">
        </div>
      </form>

    </div>

  </div>

  <form id="advanced-search-button" action="search-results">
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button" type="submit">
            Find patient
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
