{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Functional search</p>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="section">
        <h2 class='nhs-heading-l'>About this prototype</h2>

        <p class="nhsuk-body">
          This prototype adds search functionality to the SCRa redesign, so that we can test how our users would search for their patients.
        </p>
      </div>

      <form action="nhs-number-search">
        <button class="nhsuk-button" type="submit">
          Begin prototype
        </button>
      </form>

      <div class="section">
        <h2 class='nhs-heading-m'>Additional tasks</h2>

        <p class="nhsuk-body">
          We are also investigating how best to display the patient results to our users. An initial mockup using Sketch has allowed us to put a number of ideas infront of our users to measure their feedback:
        </p>

        <p><a href="/images/search-results.pdf">View search results mockups</a></p>
      </div>

    </div>

    <div class="nhsuk-grid-column-one-third">
      <div class="scra-card">
        <h2 class="nhsuk-heading-m">Prototypes</h2>
        <p>
          <a href="nhs-number-search">No advanced search tab</a>
        </p>
        <p>
          <a href="nhs-number-search-adv">Advanced search tab</a>
        </p>
        <p>
          <a href="../search/bordered-tabs/advanced-search-age-range">Advanced search age range</a>
        </p>
        <p>
          <a href="../search/bordered-tabs/advanced-search-age-select">Advanced search with age selector</a>
        </p>
      </div>
    </div>

  </div>
{% endblock %}
