<div class="nhsuk-grid-column-one-quarter">
  <div class="govuk-accordion accordion-desktop" data-module="accordion" id="accordion-default">

    <div class="govuk-accordion__section govuk-accordion__section--expanded">
      <div class="govuk-accordion__section-header scra-accordion__header">
        <h2 class="govuk-accordion__section-heading scra-accordion__heading">
          <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
            Summary Care Record
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <ul>
          <li>
            <a class="scra-accordion__link" href="#">Allergies & Sensitivities</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Acute Medications</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Current Repeat Medications</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Past Repeat Medications</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Diagnoses</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Observations</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Treatments</a>
          </li>
          <li>
            <a class="scra-accordion__link" href="#">Care events</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="nhsuk-grid-column-three-quarters">
  <h1 class="nhsuk-heading-l">Summary Care Record</h1>
  <section id="allergies" title="Allergies & sensitivities">

    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">Allergies & sensitivities</h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Severity</th>
                <th class="nhsuk-table__header" scope="col">Certainty</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell">20-Sep-2011</td>
                <td class="nhsuk-table__cell bold-field">H/O: drug allergy to Ciprofloxacin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Moderate</td>
                <td class="nhsuk-table__cell ">Likely</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="3">Intolerance<br />Causing abdominal pain</td>
              </tr>
              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell">20-Sep-2011</td>
                <td class="nhsuk-table__cell bold-field">H/O: penicillin allergy to Amoxicillin 250mg capsules</td>
                <td class="nhsuk-table__cell ">Moderate</td>
                <td class="nhsuk-table__cell ">Likely</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="3">Allergy<br />causing O/E - itchy rash</td>
              </tr>
              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell">18-Sep-2011</td>
                <td class="nhsuk-table__cell bold-field">H/O: cat allergy</td>
                <td class="nhsuk-table__cell ">Moderate</td>
                <td class="nhsuk-table__cell ">Likely</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="3">Allergy<br />to cat fur</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="acute-medications" title="Acute medications">


    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Acute medications
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden"> - </span>
              (For the 12 month period 26 May 2019 to 26 May 2020)
            </span>
          </span>
        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Acute medications issued in the last 12 months</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Medication item</th>
                <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                <th class="nhsuk-table__header" scope="col">Quantity</th>
                <th class="nhsuk-table__header" scope="col">Type</th>

              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell ">Prescribed:<br />26-May-2020</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">take twice daily</td>
                <td class="nhsuk-table__cell ">28 tablets</td>
                <td class="nhsuk-table__cell">Acute Medication</td>

              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell ">Post date:<br />21-Oct-2019</td>
                <td class="nhsuk-table__cell bold-field">Panadol 500mg capsules (GlaxoSmithKline Consumer Healthcare)</td>
                <td class="nhsuk-table__cell ">TAKE 1 OR 2 FOUR TIMES DAILY</td>
                <td class="nhsuk-table__cell ">80 capsule</td>
                <td class="nhsuk-table__cell">Post-Dated Acute</td>
              </tr>

              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell ">Post date:<br />08-Aug-2019</td>
                <td class="nhsuk-table__cell bold-field">Codeine 15mg tablets</td>
                <td class="nhsuk-table__cell ">TAKE ONE FOUR TIMES DAILY WHEN REQUIRED</td>
                <td class="nhsuk-table__cell ">100 tablet</td>
                <td class="nhsuk-table__cell">Prescribed Elsewhere</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="4">Reason for Medication: for arthritis in neck<br />Supporting Information: for arthritis in neck</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="current-repeat-medications" title="Current repeat medications">


    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Current repeat medications
          </span>
        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Current repeat medications</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Medication item</th>
                <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                <th class="nhsuk-table__header" scope="col">Quantity</th>
                <th class="nhsuk-table__header" scope="col">Type</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell ">Last issued:<br />26-May-2020</td>
                <td class="nhsuk-table__cell bold-field">Brufen 400mg tablets (Abbott Laboratories Ltd)</td>
                <td class="nhsuk-table__cell ">TAKE ONE THREE TIMES DAILY</td>
                <td class="nhsuk-table__cell ">84 tablet</td>
                <td class="nhsuk-table__cell">Repeat Medication</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell ">Authorised (not issued):<br />20-Mar-2020</td>
                <td class="nhsuk-table__cell bold-field">Brufen 400mg tablets (Abbott Laboratories Ltd)</td>
                <td class="nhsuk-table__cell ">TAKE ONE THREE TIMES DAILY</td>
                <td class="nhsuk-table__cell ">84 tablet</td>
                <td class="nhsuk-table__cell">Repeat Medication</td>
              </tr>
              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell ">Authorised:<br />20-Mar-2020</td>
                <td class="nhsuk-table__cell bold-field">Mepore dressing 10cm x 11cm (Molnlycke Health Care Ltd)</td>
                <td class="nhsuk-table__cell ">ASD</td>
                <td class="nhsuk-table__cell ">40 dressing</td>
                <td class="nhsuk-table__cell">Repeat Dispense</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="4">Supporting Information: Please complete the course. Number of repeats authorised: 3</td>
              </tr>
              <tr class="nhsuk-table__row tr_master">
                <td class="nhsuk-table__cell ">Entered:<br />20-Mar-2020</td>
                <td class="nhsuk-table__cell bold-field">GLICLAZIDE tabs 40mg</td>
                <td class="nhsuk-table__cell ">1 EVERY DAY</td>
                <td class="nhsuk-table__cell ">28 tablet(s)</td>
                <td class="nhsuk-table__cell">Repeat Prescribed Elsewhere</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell td_support" colspan="4">Reason for Medication: for blood glucose control</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell "><br />16-Mar-2020</td>
                <td class="nhsuk-table__cell bold-field">Prednisolone 5mg gastro-resistant tablets</td>
                <td class="nhsuk-table__cell ">6 EVERY DAY</td>
                <td class="nhsuk-table__cell ">30 tablet</td>
                <td class="nhsuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="discontinued-repeat-medications" title="Discontinued repeat medications">
    <div class="scra-card" >
    <div class="scra-card-header">
      <h2 class="nhsuk-heading-m">
        <span role="text">Discontinued Repeat Medications
          <span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            (For the 12 month period 26 May 2019 to 26 May 2020)
          </span>
        </span>

      </h2>
    </div>
    <div class="scra-card-content">
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table scr-table">
          <caption class="nhsuk-table__caption">Discontinued repeat medications</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Date</th>
              <th class="nhsuk-table__header" scope="col">Medication item</th>
              <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
              <th class="nhsuk-table__header" scope="col">Quantity</th>
              <th class="nhsuk-table__header" scope="col">Type</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row tr_master">
              <td class="nhsuk-table__cell ">Last issued:<br />26-May-2020</td>
              <td class="nhsuk-table__cell bold-field">Brufen 400mg tablets (Abbott Laboratories Ltd)</td>
              <td class="nhsuk-table__cell ">TAKE ONE THREE TIMES DAILY</td>
              <td class="nhsuk-table__cell ">84 tablet</td>
              <td class="nhsuk-table__cell">Repeat Medication</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell td_support" colspan="4">***Date Discontinued: 13-Mar-2020, Reason: Allergy***</td>
            </tr>
            <tr class="nhsuk-table__row tr_master">
              <td class="nhsuk-table__cell ">Authorised (not issued):<br />20-Mar-2020</td>
              <td class="nhsuk-table__cell bold-field">Brufen 400mg tablets (Abbott Laboratories Ltd)</td>
              <td class="nhsuk-table__cell ">TAKE ONE THREE TIMES DAILY</td>
              <td class="nhsuk-table__cell ">84 tablet</td>
              <td class="nhsuk-table__cell">Repeat Medication</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell td_support" colspan="4">***Date Discontinued: 13-Mar-2020, Reason: Allergy***</td>
            </tr>
            <tr class="nhsuk-table__row tr_master">
              <td class="nhsuk-table__cell ">Authorised:<br />20-Mar-2020</td>
              <td class="nhsuk-table__cell bold-field">Mepore dressing 10cm x 11cm (Molnlycke Health Care Ltd)</td>
              <td class="nhsuk-table__cell ">ASD</td>
              <td class="nhsuk-table__cell ">40 dressing</td>
              <td class="nhsuk-table__cell">Repeat Dispense</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell td_support" colspan="4">***Date Discontinued: 13-Mar-2020, Reason: Allergy***</td>
            </tr>
            <tr class="nhsuk-table__row tr_master">
              <td class="nhsuk-table__cell ">Entered:<br />20-Mar-2020</td>
              <td class="nhsuk-table__cell bold-field">GLICLAZIDE tabs 40mg</td>
              <td class="nhsuk-table__cell ">1 EVERY DAY</td>
              <td class="nhsuk-table__cell ">28 tablet(s)</td>
              <td class="nhsuk-table__cell">Repeat Prescribed Elsewhere</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell td_support" colspan="4">***Date Discontinued: 13-Mar-2020, Reason: Allergy***</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">Entered:<br />16-Mar-2020</td>
              <td class="nhsuk-table__cell bold-field">Prednisolone 5mg gastro-resistant tablets</td>
              <td class="nhsuk-table__cell ">6 EVERY DAY</td>
              <td class="nhsuk-table__cell ">30 tablet</td>
              <td class="nhsuk-table__cell">Repeat Prescribed Elsewhere</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell td_support" colspan="4">***Date Discontinued: 13-Mar-2020, Reason: Allergy***</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>




</div>
