<div class="nhsuk-grid-column-one-quarter">
  <div class="govuk-accordion accordion-desktop" data-module="accordion" id="refactor-nav">
    <div class="accordion-inner">
      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Summary Care Record
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="navigation-ul">

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-column-three-quarters">
  <h1 class="nhsuk-heading-l">Summary Care Record</h1>
  <section id="allergies" title="Allergies & sensitivities">

    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">Allergies & sensitivities</h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Severity</th>
                <th class="nhsuk-table__header" scope="col">Certainty</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">15-Jun-2010</td>
                <td class="nhsuk-table__cell bold-field">Adverse reaction to erythromycin</td>
                <td class="nhsuk-table__cell "></td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="4"><span class="supporting-info">severe vomiting</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="acute-medications" title="Acute medications">


    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Acute medications
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden"> - </span>
              (For the 12 month period 26 Jun 2019 to 26 Jun 2020)
            </span>
          </span>
        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Acute medications issued in the last 12 months</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Type</th>
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Medication item</th>
                <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                <th class="nhsuk-table__header" scope="col">Quantity</th>

              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />04-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Medi Derma-S barrier cream (Medicareplus International Ltd)</td>
                <td class="nhsuk-table__cell ">Use a pea sized amount of cream only. For patients with incontinence this can be applied after every third wash, 56 applications in 28g</td>
                <td class="nhsuk-table__cell ">180 gram</td>

              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />26-May-2020</td>
                <td class="nhsuk-table__cell bold-field">Bisoprolol 1.25mg tablets</td>
                <td class="nhsuk-table__cell ">take one daily</td>
                <td class="nhsuk-table__cell ">28 tablets</td>

              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />21-Dec-2019</td>
                <td class="nhsuk-table__cell bold-field">Flucloxacillin 250mg capsules</td>
                <td class="nhsuk-table__cell ">Take one 4 times/day</td>
                <td class="nhsuk-table__cell ">28 capsule</td>
              </tr>

              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />20-Aug-2019</td>
                <td class="nhsuk-table__cell bold-field">Flucloxacillin 250mg capsules</td>
                <td class="nhsuk-table__cell ">Take one 4 times/day</td>
                <td class="nhsuk-table__cell ">28 capsule</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />17-Jul-2019</td>
                <td class="nhsuk-table__cell bold-field">Co-amoxiclav 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 3 times/day</td>
                <td class="nhsuk-table__cell ">15 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />11-Jul-2019</td>
                <td class="nhsuk-table__cell bold-field">Co-amoxiclav 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 3 times/day</td>
                <td class="nhsuk-table__cell ">15 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell">Acute Medication</td>
                <td class="nhsuk-table__cell ">Prescribed:<br />28-Jun-2019</td>
                <td class="nhsuk-table__cell bold-field">Ciprofloxacin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one twice daily</td>
                <td class="nhsuk-table__cell ">10 tablet</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="current-repeat-medications" title="Current repeat medications">


    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Current repeat medications
          </span>
        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Current repeat medications</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Type</th>
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Medication item</th>
                <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                <th class="nhsuk-table__header" scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Citalopram 20mg tablets</td>
                <td class="nhsuk-table__cell ">One to be taken each day</td>
                <td class="nhsuk-table__cell ">28 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for Medication: Mixed anxiety and depressive disorder</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issed:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Clopidogrel 75mg tablets</td>
                <td class="nhsuk-table__cell ">Take one once daily</td>
                <td class="nhsuk-table__cell ">28 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for Medication: Heart failure</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Colecalciferol 200unit / Calcium carbonate 1.25g chewable tablets</td>
                <td class="nhsuk-table__cell ">One to be taken each day</td>
                <td class="nhsuk-table__cell ">112 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issed:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Digoxin 62.5microgram tablets</td>
                <td class="nhsuk-table__cell ">Take one daily</td>
                <td class="nhsuk-table__cell ">28 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for Medication: Atrial fibrillation</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for medication: Chest infection. Supporting Information: This comes second.</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Authorised (not issued)<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Prescribed Elsewhere</td>
                <td class="nhsuk-table__cell ">Entered:<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">This medication could be either Acute or Repeat medication. Please check with the patient and / or carer(s) to clarify this detail. Reason for medication: Chest infection. Supporting Information: This comes second.</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Dispense</td>
                <td class="nhsuk-table__cell ">Authorised<br />26-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for medication: Chest infection. Supporting Information: This comes second.</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Apr-2020</td>
                <td class="nhsuk-table__cell bold-field">Latanoprost 50micrograms/ml eye drops</td>
                <td class="nhsuk-table__cell ">one drop to be used at night in the affected eye</td>
                <td class="nhsuk-table__cell ">2.5ml</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issed:<br />02-Feb-2020</td>
                <td class="nhsuk-table__cell bold-field">Aymes Shake powder (Flavour not specified)</td>
                <td class="nhsuk-table__cell ">one to be taken between meals</td>
                <td class="nhsuk-table__cell ">1596 gram</td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />02-Feb-2020</td>
                <td class="nhsuk-table__cell bold-field">CareSens N testing strips (Spirit healthcare Ltd)</td>
                <td class="nhsuk-table__cell ">use as directed</td>
                <td class="nhsuk-table__cell ">50 strip</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for Medication: Type II diabetes mellitus with persistent microalbuminuria</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issed:<br />10-Nov-2020</td>
                <td class="nhsuk-table__cell bold-field">Zerobase 11% cream (Thornton & Ross Ltd)</td>
                <td class="nhsuk-table__cell ">Apply to dry skin area two or three times daily and rub in well</td>
                <td class="nhsuk-table__cell ">50 gram</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section id="discontinued-repeat-medications" title="Discontinued repeat medications">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Discontinued Repeat Medications
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden"> - </span>
              (For the 12 month period 26 May 2019 to 26 May 2020)
            </span>
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Discontinued repeat medications</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Type</th>
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Medication item</th>
                <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                <th class="nhsuk-table__header" scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Dispense</td>
                <td class="nhsuk-table__cell ">Authorised:<br />26-Jun-2019</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">Reason for medication: Chest infection. Supporting Information: This comes second. Number of repeats authorised: This comes third<br />***Date Discontinued: 13-Jul-2009, Reason: Allergy***			</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last Issued:<br />26-Jun-2019</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">***Date Discontinued: 13-Jul-2009, Reason: Allergy***			</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Authorised (not issued):<br />26-Jun-2019</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">***Date Discontinued: 13-Jul-2009, Reason: Allergy***			</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Prescribed Elsewhere</td>
                <td class="nhsuk-table__cell ">Entered:<br />26-Jun-2019</td>
                <td class="nhsuk-table__cell bold-field">Erythromycin 250mg tablets</td>
                <td class="nhsuk-table__cell ">Take one 4 times per day</td>
                <td class="nhsuk-table__cell ">100 tablets</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">This medication could be either Acute or Repeat medication. Please check with the patient and / or carer(s) to clarify this detail. Reason for medication: Chest infection. Supporting Information: This comes second. Number of repeats authorised: This comes third<br />***Date Discontinued: 13-Jul-2009, Reason: Allergy*** </span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell">Repeat Medication</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Mar-2019</td>
                <td class="nhsuk-table__cell bold-field">Brufen 400mg tablets (Abbott Laboratories Ltd)</td>
                <td class="nhsuk-table__cell ">TAKE ONE THREE TIMES DAILY</td>
                <td class="nhsuk-table__cell ">84 tablet</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">***Date Discontinued: 27-Mar-2020, Reason: Allergy***</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell">Repeat Dispense</td>
                <td class="nhsuk-table__cell ">Last issued:<br />26-Mar-2019</td>
                <td class="nhsuk-table__cell bold-field">Mepore dressing 10cm x 11cm (Molnlycke Health Care Ltd)</td>
                <td class="nhsuk-table__cell ">ASD</td>
                <td class="nhsuk-table__cell ">40 dressing</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="5"><span class="supporting-info">***Date Discontinued: 27-Mar-2020, Reason: Allergy***</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="diagnoses" title="Diagnoses">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Diagnoses
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Diagnoses</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">06-Jan-2014</td>
                <td class="nhsuk-table__cell bold-field">Diabetic retinopathy</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">06-Jan-2014</td>
                <td class="nhsuk-table__cell bold-field">Glaucoma</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">17-Dec-2013</td>
                <td class="nhsuk-table__cell bold-field">Recurrent urinary tract infection</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">06-Sep-2013</td>
                <td class="nhsuk-table__cell bold-field">Type II diabetes mellitus with persistent microalbuminuria</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">06-Jan-2012</td>
                <td class="nhsuk-table__cell bold-field">Mixed anxiety and depressive disorder</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">01-Mar-2011</td>
                <td class="nhsuk-table__cell bold-field">Mitral regurgitation</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell ">01-Mar-2011</td>
                <td class="nhsuk-table__cell bold-field">Tricuspid regurgitation</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="3"><span class="supporting-info">see report</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">01-Jan-2011</td>
                <td class="nhsuk-table__cell bold-field">Atrial fibrillation</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">19-Jan-2010</td>
                <td class="nhsuk-table__cell bold-field">Heart failure</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">19-Jan-2010</td>
                <td class="nhsuk-table__cell bold-field">Eczema</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell ">19-May-2007</td>
                <td class="nhsuk-table__cell bold-field">Cateract</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="3"><span class="supporting-info">Laterality: Left</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Diabetes mellitus</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Diabetes mellitus</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Hypercholesterolaemia</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Hypercholesterolaemia</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="problems-and-issues" title="Problems and Issues">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Problems and Issues
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Problems and Issues</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">06-Jan-2014</td>
                <td class="nhsuk-table__cell bold-field">Diabetic retinopathy</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">06-Jan-2014</td>
                <td class="nhsuk-table__cell bold-field">Glaucoma</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">06-Sep-2013</td>
                <td class="nhsuk-table__cell bold-field">Type II diabetes mellitus with persistent microalbuminuria</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">08-Jan-2013</td>
                <td class="nhsuk-table__cell bold-field">GSF status green</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell ">19-Jan-2012</td>
                <td class="nhsuk-table__cell bold-field">Patient's next of kin</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell td_support" colspan="3"><span class="supporting-info">Daughter's tel number is 01234 567890</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">01-Jan-2011</td>
                <td class="nhsuk-table__cell bold-field">Atrial fibrillation</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">19-Jan-2010</td>
                <td class="nhsuk-table__cell bold-field">Heart failure</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Diabetes mellitus</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">08-May-2008</td>
                <td class="nhsuk-table__cell bold-field">Hypercholesterolaemia</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="clinical-observations-and-findings" title="Clinical Observations and Findings">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Clinical Observations and Findings
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Clinical Observations and Findings</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">05-Jun-2020</td>
                <td class="nhsuk-table__cell bold-field">O/E - weight</td>
                <td class="nhsuk-table__cell ">20.58 Kg</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">18-Oct-2018</td>
                <td class="nhsuk-table__cell bold-field">FI - Frailty Index</td>
                <td class="nhsuk-table__cell ">0.305</td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">16-Jun-2017</td>
                <td class="nhsuk-table__cell bold-field">Australia-modified Karnofsky Performance Status scale</td>
                <td class="nhsuk-table__cell ">80%</td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">08-Jan-2013</td>
                <td class="nhsuk-table__cell bold-field">GSF status green</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="treatments" title="Treatments">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Treatments
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Treatments</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">07-Oct-2019</td>
                <td class="nhsuk-table__cell bold-field">Influenza vaccine</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">07-Oct-2018</td>
                <td class="nhsuk-table__cell bold-field">Influenza vaccine</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">07-Oct-2017</td>
                <td class="nhsuk-table__cell bold-field">Influenza vaccine</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">07-Oct-2016</td>
                <td class="nhsuk-table__cell bold-field">Influenza vaccine</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">24-Mar-1995</td>
                <td class="nhsuk-table__cell bold-field">First polio hepatitis A and typhoid vaccination</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">07-Oct-1994</td>
                <td class="nhsuk-table__cell bold-field">Second hepatitis A and typhoid vaccination</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">24-Feb-1995</td>
                <td class="nhsuk-table__cell bold-field">Third polio vaccination</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">30-Jan-1995</td>
                <td class="nhsuk-table__cell bold-field">Second polio vaccination</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">07-Jan-1995</td>
                <td class="nhsuk-table__cell bold-field">First polio</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="investigation-results" title="Investigation Results">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Investigation Results
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Investigation Results</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">02-Mar-2011</td>
                <td class="nhsuk-table__cell bold-field">Echocardiogram abnormal</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="care-events" title="Care Events">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Care Events
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Care Events</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>

              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master tr_even">
                <td class="nhsuk-table__cell ">18-Mar-09</td>
                <td class="nhsuk-table__cell bold-field">Learning disabilities health assessment</td>
                <td class="nhsuk-table__cell"></td>

              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell td_support" colspan="3"><span class="supporting-info">Problem; First; Diagnoses - Cerebral palsy, quadriplegia, scoliosis; Health promotion - non-smoker, alc- 1 drink Xmas, contraception n/a (not sexually active); smear attempted in past, pt unable to understand or consent to procedure (or communicate dissent other than by resisting exam); diet good, no vomiting; exercise - quadriplegic, sees physio; dental - has 6 monthly checks; BP satis; Co-existing illnesses - oesophagitis (haematemesis in past, has had recurrent vomiting), currently stable; Systems review - mobility - regular turning in bed/chair, weekly physio; vision poor (optician checks), hearing OK, bowels reg with movicol; urinary function - incontinent, needs pads; OE - HR 84,reg, BP 118/77, chest clear, severe scoliosis, breasts NAD. Mental health/behaviour review - no problems; Carers/co-ordination other agencies - physio only; Actions needed? None at present</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="provision-of-advice-and-information-to-parents-and-carers" title="Provision of Advice and Information to Parents and Carers">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Provision of Advice and Information to Parents and Carers
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Provision of Advice and Information to Parents and Carers</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">03-Jul-2014</td>
                <td class="nhsuk-table__cell bold-field">Preferred place of death: discussed with family</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="personal-preferences" title="Personal Preferences">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Personal Preferences
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Personal Preferences</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_odd">
                <td class="nhsuk-table__cell ">30-Jul-2014</td>
                <td class="nhsuk-table__cell bold-field">Not for resuscitation</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">30-Jul-2014</td>
                <td class="nhsuk-table__cell bold-field">Preferred place of death: patient undecided</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="social-and-personal-circumstances" title="Social and Personal Circumstances">
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">
          <span role="text">Social and Personal Circumstances
          </span>

        </h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table scr-table">
            <caption class="nhsuk-table__caption">Social and Personal Circumstances</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Date</th>
                <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Value</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row tr_master tr_odd">
                <td class="nhsuk-table__cell ">09-Jan-2012</td>
                <td class="nhsuk-table__cell bold-field">Patient's next of kin</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
              <tr class="nhsuk-table__row tr_odd">

                <td class="nhsuk-table__cell td_support" colspan="3"><span class="supporting-info">Daughter's tel number is 01234 567890</span></td>
              </tr>
              <tr class="nhsuk-table__row tr_even">
                <td class="nhsuk-table__cell ">03-Sep-2010</td>
                <td class="nhsuk-table__cell bold-field">Main spoken languages is English</td>
                <td class="nhsuk-table__cell "></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>
