<div class="nhsuk-grid-column-one-quarter nhsuk-grid-column-tablet-one-half">
  <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
    <div class="nhsuk-care-card__heading-container overview-card__heading-container">
      <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Patient details:
          </span>Patient</span>
      </h3>
      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
    </div>
    <div class="nhsuk-care-card__content overview-card__content">

      <ul class="overview-card__list">
        <li class="overview-card__list-item"><a href="patient-details">Demographics</a></li>
        <li class="overview-card__list-item"><a href="patient-details">Contacts & next of kin</a></li>
        <li class="overview-card__list-item"><a href="patient-details">Power of attorney</a></li>
        <li class="overview-card__list-item"><a href="patient-details">Chargeability status</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="nhsuk-grid-column-one-quarter nhsuk-grid-column-tablet-one-half">
  <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
    <div class="nhsuk-care-card__heading-container overview-card__heading-container">
      <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Clinical details:
          </span>Clinical</span>
      </h3>
      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
    </div>
    <div class="nhsuk-care-card__content overview-card__content">

      <ul class="overview-card__list">
        <li class="overview-card__list-item"><a data-target="#myModal" data-toggle="modal" class="open_modal" href="#myModal">Summary Care Record</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="nhsuk-grid-column-one-quarter nhsuk-grid-column-tablet-one-half">
  <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
    <div class="nhsuk-care-card__heading-container overview-card__heading-container">
      <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Documents available:
          </span>Documents available</span>
      </h3>
      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
    </div>
    <div class="nhsuk-care-card__content overview-card__content">

      <p>
        There are <strong>2</strong> documents available
      </p>
      <p>
        <a href="#">View the document repository</a>
      </p>
    </div>
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->

  <div class="modal-content">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full-width">
          <span class="close">&times;</span>
          <h3>Has this patient given permission to view their Summary Care Record?</h3>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <a class="nhsuk-button nhsuk-button--blue" type="submit" style="width:100%;" href="patient-clinical">
            Yes
          </a>
          <p>
            View record
          </p>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <button class="nhsuk-button nhsuk-button--reverse close-btn" type="submit" style="width:100%;">
            No
          </button>
          <p>
            Access refused
          </p>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <button class="nhsuk-button nhsuk-button--red emergency-btn" type="submit" style="width:100%;">
            Emergency access
          </button>
          <p>
            The usual legal, ethical, and professional obligations apply when accessing a patient's clinical record
          </p>
        </div>
      </div>
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full-width">
          <div class="nhsuk-grid-column-one-half">
            <button class="nhsuk-button nhsuk-button--reverse" type="submit" style="width:100%;">
              I need to access the record for other reasons
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="myModalEmergency" class="modal">

  <!-- Modal content -->

  <div class="modal-content">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full-width">
          <span class="close">&times;</span>
          <h3>Accessing in an emergency</h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="more-detail">
            Explanation
          </label>
          <span class="nhsuk-hint" id="more-detail-hint">
            Please provide an explanation for accessing the patient's record
          </span>
          <textarea class="nhsuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full-width">
          <div class="nhsuk-grid-column-one-half">
            <a class="nhsuk-button nhsuk-button--blue" type="submit" style="width:100%;" href="patient-clinical">
              Continue
            </a>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <button class="nhsuk-button nhsuk-button--reverse close-btn" type="submit" style="width:100%;">
              Cancel
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
