<div class="nhsuk-grid-column-one-quarter">
  <div class="govuk-accordion" data-module="accordion" id="scra-accordion">

    <div class="govuk-accordion__section govuk-accordion__section--expanded">
      <div class="govuk-accordion__section-header scra-accordion__header">
        <h2 class="govuk-accordion__section-heading scra-accordion__heading">
          <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
            Key demographics
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <ul>
          <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
          <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
          <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
        </ul>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header scra-accordion__header">
        <h2 class="govuk-accordion__section-heading scra-accordion__heading">
          <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
            Contacts & next of kin
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">

      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header scra-accordion__header">
        <h2 class="govuk-accordion__section-heading scra-accordion__heading">
          <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
            GP & Care providers
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">

      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header scra-accordion__header">
        <h2 class="govuk-accordion__section-heading scra-accordion__heading">
          <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
            Chargeability status
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">

      </div>
    </div>

  </div>
</div>

<div class="nhsuk-grid-column-three-quarters patient-details-content">
  <h1 class="nhsuk-heading-l">Key demographics</h1>
  <div class="scra-card">
    <div class="scra-card-header">
      <h2 class="nhsuk-heading-m" id="patient-details-names">Names</h2>
    </div>
    <div class="scra-card-content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Usual Name:</span>
            <span class="card-content-name">{{ patient.firstName }} {{ patient.lastName.toUpperCase() }}</span>
          </div>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Preferred Name:</span>
            <span class="card-content-detail">None recorded</span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Other names:</span>
            <span class="card-content-detail">None recorded</span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Previous names:</span>
            <span class="card-content-detail">None recorded</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scra-card">
    <div class="scra-card-header">
      <h2 class="nhsuk-heading-m" id="patient-key-details">Key details</h2>
    </div>
    <div class="scra-card-content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Gender:</span>
            <span class="card-content-detail card-content-detail-gender">{{ patient.gender }}</span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">NHS Number:</span>
            <span class="card-content-detail card-content-detail-nhs-no">{{ patient.nhsNumber }}</span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Date of birth:</span>
            <span class="card-content-detail card-content-detail-dob">{{ patient.dob }}</span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Place of birth:</span>
            <span class="card-content-detail card-content-detail-pob">{{ patient.county }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scra-card">
    <div class="scra-card-header">
      <h2 class="nhsuk-heading-m" id="patient-details-address">Address</h2>
    </div>
    <div class="scra-card-content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Address:</span>
            <span class="card-content-detail card-content-detail-address">
              {{ patient.address }},
              {{ patient.county }},
              {{ patient.postcode }}
            </span>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
          <div class="card-content-section">
            <span class="card-content-label">Temporary address:</span>
            <span class="card-content-detail">None recorded</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
