<option value="ADEL PHARMACY (FA061), 141 LONG CAUSEWAY, ADEL, LS16 8EX">
<option value="ADEL PHARMACY (FGQ01), 141 LONG CAUSEWAY, ADEL, LS16 8EX">
<option value="ADVANTAGE PHARMACY (FCW85), WEST POINT BUSINESS PARK, WESTLAND SQUARE, LS11 5SS">
<option value="AL-SHAFA PHARMACY (FG281), 267 DEWSBURY ROAD, LS11 5HZ">
<option value="AL-SHAFA PHARMACY (FMA95), UNIT 2&3 HILLSIDE BLDG, BEESTON ROAD, BEESTON, LS11 6AY">
<option value="AL-SHAFA PHARMACY (FTE47), UNIT 2&3 HILLSIDE BLDG, BEESTON ROAD, BEESTON, LS11 8BB">
<option value="ALLIANCE PHARMACY (FE397), 10 FINKLE HILL, SHERBURN IN ELMET, LS25 6EA">
<option value="ALLIANCE PHARMACY (FHC58), 10 FINKLE HILL, SHERBURN IN ELMET, LS25 6EA">
<option value="ALLIANCE PHARMACY (FMD28), 262-266 HAREHILLS LANE, LS9 7BD">
<option value="ALLIANCE PHARMACY (FW022), 17-19 MARKET STREET, WETHERBY, LS22 6LQ">
<option value="ALLIED(MIDDLETON)PHARMACY (FEN25), LINGWELL CROFT SURGERY, 20 SHELLDRAKE DRIVE, LS10 3NB">
<option value="ARMLEY MOOR PHARMACY (FHC18), 90-91A TOWN STREET, ARMLEY, LS12 3HD">
<option value="ARMLEY PHARMACY (FRA37), 62 ARMLEY RIDGE ROAD, LS12 3NP">
<option value="ASDA PHARMACY (FLR39), KILLINGBECK DRIVE, LS14 6UF">
<option value="ASDA PHARMACY MORLEY (FWF91), HOWLEY PARK ROAD, MORLEY, LS27 0BP">
<option value="ASDA STORES LTD (FA131), HOLT ROAD, HOLT PARK, LS16 7RY">
<option value="BASKIND PHARMACY (FLA66), 6 STAINBECK LANE, LS7 3QY">
<option value="BASKIND PHARMACY (FVL41), RUTLAND LODGE, SCOTT HALL ROAD, LS7 3DR">
<option value="BEESTON HILL PHARMACY (FAQ06), 134 BEESTON ROAD, BEESTON, LS11 8BB">
<option value="BELLE ISLE PHARMACY (FHG12), 219 MIDDLETON ROAD, LS10 3HU">
<option value="BELLE ISLE PHARMACY (FR582), 219 MIDDLETON ROAD, LS10 3HU">
<option value="BELLE ISLE PHARMACY (FXN81), 219 MIDDLETON ROAD, LS10 3HU">
<option value="BEN WILSON LTD (FXH99), 7 AUSTHORPE VIEW, WHITKIRK, LS15 8NN">
<option value="BOOTS OF ILKLEY (FCE76), 37-39 BROOK STREET, ILKLEY, LS29 8AG">
<option value="BOOTS THE CHEMIST (FF200), UNIT 6,GUISELEY RETAIL PK, PARK ROAD, GUISELEY, LS20 8QH">
<option value="BOOTS THE CHEMIST LTD (FCR27), UNIT 2, SAVINS MILL WAY, KIRKSTALL VALLEY RET PARK, LS5 3RP">
<option value="BOOTS THE CHEMISTS LTD (FE048), 33 ARNDALE CENTRE, CROSSGATES, LS15 8ET">
<option value="BOOTS THE CHEMISTS LTD (FFQ21), 255-257 ROUNDHAY ROAD, LS8 4HS">
<option value="BOOTS UK LIMITED (FA008), 49-51 THE MERRION CENTRE, LS2 8DB">
<option value="BOOTS UK LIMITED (FC221), 69-71 COMMERCIAL STREET, ROTHWELL, LS26 0AP">
<option value="BOOTS UK LIMITED (FE521), 11 CHURCH LANE, PUDSEY, LS28 7LD">
<option value="BOOTS UK LIMITED (FFP17), CITY STATION CONCOURSE, LS1 4DT">
<option value="BOOTS UK LIMITED (FGY10), WHITE ROSE CENTRE, LS11 8LL">
<option value="BOOTS UK LIMITED (FK275), 19 ALBION ARCADE, BOND STREET CENTRE, LS1 5ET">
<option value="BOOTS UK LIMITED (FK276), 12-14 KIRKGATE MARKET CTR, VICAR LANE, LS1 7JH">
<option value="BOOTS UK LIMITED (FK382), 35 OTLEY ROAD, LS6 3AA">
<option value="BOOTS UK LIMITED (FKK20), 1 HORSEFAIR CENTRE, WETHERBY, LS22 6FL">
<option value="BOOTS UK LIMITED (FKP51), 31-33 BRAMLEY CENTRE, BRAMLEY, LS13 2ET">
<option value="BOOTS UK LIMITED (FMD07), UNIT 3,COLTON PARK, STILE HILL WAY, LS15 9JB">
<option value="BOOTS UK LIMITED (FP763), CROWN POINT RETAIL PARK, JUNCTION STREET, LS10 1ET">
<option value="BOOTS UK LIMITED (FQ500), 5-7 TOWN STREET, LS12 1UG">
<option value="BOOTS UK LIMITED (FTC55), 28-32 KIRKGATE, OTLEY, LS21 3HJ">
<option value="BOOTS UK LIMITED (FYX23), 3 WINDSOR COURT, MORLEY, LS27 9BG">
<option value="BROAD ING PHARMACY (FX402), 26 OTLEY ROAD, GUISELEY, LS20 8AH">
<option value="BRYAN BLOOM CHEMISTS LTD (FLN50), 54 TONG ROAD, LS12 1LZ">
<option value="CARDIGAN ROAD PHARMACY (FE459), 136 CARDIGAN ROAD, LS6 1LU">
<option value="CARDIGAN ROAD PHARMACY (FLN80), 136 CARDIGAN ROAD, LS6 1LU">
<option value="CARDIGAN ROAD PHARMACY (FPF36), 136 CARDIGAN ROAD, LS6 1LU">
<option value="CHARLES FOX LTD (FH885), 190 HIGH STREET, BOSTON SPA, LS23 6BT">
<option value="CHEMIST 247 (FDT62), 54 SUGARMILL, OAKHURST AVENUE, LS11 7HL">
<option value="CHURCH LANE PHARMACY (FE589), 23 CHURCH LANE, PUDSEY, LS28 7LD">
<option value="CHURCH LANE PHARMACY (FPW17), 23 CHURCH LANE, PUDSEY, LS28 7LD">
<option value="COHEN'S CHEMIST (FP585), CHAPELTOWN HEALTH CENTRE, SPENCER PLACE, LS7 4BB">
<option value="COHEN'S CHEMIST (FVR46), 26 OTLEY ROAD, GUISELEY, LS20 8AH">
<option value="COHEN'S CHEMIST (FXM58), 6 TINSHILL LANE, LS16 7AP">
<option value="COHENS CHEMIST (FAC97), 80 OSMONDTHORPE LANE, LS9 9EF">
<option value="COHENS CHEMIST (FAE93), NEW BUILDING, GREEN LANE, WORTLRY, LS12 1JZ">
<option value="COHENS CHEMIST (FAN49), STREET LANE PRACTICE, 12 DEVONSHIRE AVENUE, LS8 1AY">
<option value="COHENS CHEMIST (FC418), SHAFTESBURY MEDICAL CTR., 480 HAREHILLS LANE, LS9 6DE">
<option value="COHENS CHEMIST (FC822), 54 OATLAND LANE, LS7 1SP">
<option value="COHENS CHEMIST (FDA67), 396 HARROGATE ROAD, MOORTOWN CORNER, LS17 6PY">
<option value="COHENS CHEMIST (FEC99), 72 OSMONDTHORPE LANE, LS9 9EF">
<option value="COHENS CHEMIST (FFR88), 5A SHAFTON LANE, LS11 9LY">
<option value="COHENS CHEMIST (FH095), HIGHFIELD SURGERY, HOLTDALE APPROACH, LS16 7RX">
<option value="COHENS CHEMIST (FHK38), PARK EDGE MEDICAL CENTRE, ASKETT DRIVE, LS14 1HX">
<option value="COHENS CHEMIST (FJ018), GARFORTH MEDICAL CENTRE, CHURCH LANE, GARFORTH, LS25 1HB">
<option value="COHENS CHEMIST (FM223), IVESON APPROACH, TINSHILL, LS16 6FR">
<option value="COHENS CHEMIST (FPN53), 225 CHAPELTOWN ROAD, LS7 3DX">
<option value="COHENS CHEMIST (FPQ06), 190 HIGH STREET, BOSTON SPA, LS23 6BT">
<option value="COHENS CHEMIST (FPT06), 10 MAIN STREET, GARFORTH, LS25 1EZ">
<option value="COHENS CHEMIST (FV525), 1 BRIDGE STREET, OTLEY, LS21 1BQ">
<option value="COHENS CHEMIST (FVG26), 230 YORK ROAD, LS9 9BP">
<option value="COHENS CHEMIST (FWW72), 125 HAREHILLS ROAD, LS8 5BW">
<option value="COHENS CHEMIST (FXC56), 399 HAREHILLS LANE, LS9 6AP">
<option value="COHENS CHEMIST (FXV72), 230 YORK ROAD, LS9 9BP">
<option value="COHENS CHEMISTS (FHV13), 283-285 TOWN STREET, BRAMLEY, LS13 3JT">
<option value="COHENS CHEMISTS (FLF43), 368 OAKWOOD LANE, LS8 3LF">
<option value="COHENS CHEMISTS (FR591), 166 WOODHOUSE LANE, LS2 9HB">
<option value="COTTINGLEY PHARMACY (FG760), 3 COTTINGLEY VALE, COTTINGLEY, LS11 0JY">
<option value="COTTINGLEY PHARMACY (FR637), 3 COTTINGLEY VALE, COTTINGLEY, LS11 0JY">
<option value="CROSSGATES DAY & NIGHT PHARMACY (FK545), 17 AUSTHORPE ROAD, CROSSGATES, LS15 8BA">
<option value="CUTLER PHARMACY (FF841), 42 AUSTHORPE ROAD, LS15 8DX">
<option value="CUTLER PHARMACY (FL486), 35 BRAMLEY CENTRE, BRAMLEY, LS13 2ET">
<option value="DAY LEWIS PHARMACY (FVF52), CROSSLEY STREET SURGERY, CROSSLEY STREET, WETHERBY, LS22 6RT">
<option value="EAST LEEDS PHARMACY (FR825), 80 OSMONDTHORPE LANE, LS9 9EF">
<option value="FREEMANS PHARMACY (FLM70), WORTLEY BECK HEALTH CTR, RING ROAD, LOWER WORTLEY, LS12 5SG">
<option value="GALLAGHER PS LTD (FT086), 7 AUSTHORPE VIEW, WHITKIRK, LS15 8NN">
<option value="GARNERS PHARMACY LTD (FGT36), 49 COMMERCIAL STREET, ROTHWELL, LS26 0AP">
<option value="GORDONS CHEMISTS LTD (FGQ67), 49 SELBY ROAD, LS9 0EW">
<option value="GORDONS CHEMISTS LTD (FJL26), 91 MORESDALE LANE, LS14 6GG">
<option value="HALTON PHARMACY (FE878), 253 SELBY ROAD, HALTON, LS15 7JR">
<option value="HALTON PHARMACY (FXW64), 253 SELBY ROAD, HALTON, LS15 7JR">
<option value="HAREHILLS PHARMACY (FVC48), 365 HAREHILLS LANE, LS9 6AX">
<option value="HAWKIN WA & SONS LTD (FAH13), 78 OTLEY OLD ROAD, LS16 6LQ">
<option value="HEADINGLEY PHARMACY (FWG49), ST MICHAELS COURT, 1 SHIRE OAK STREET, LS6 2DP">
<option value="HEALTHNET HOMECARE LTD (FXG83), UNIT 3, GERALD POINT, PHILLIPA WAY, LS12 6LS">
<option value="HENCONNER PHARMACY (FAL51), 88 HENCONNER LANE, BRAMLEY, LS13 4LG">
<option value="HENCONNER PHARMACY (FW476), 203 PUDSEY ROAD, LS13 4JA">
<option value="HOLBECK PHARMACY (FFN16), 5A SHAFTON LANE, LS11 9LY">
<option value="HOLBECK PHARMACY (FJG37), 5A SHAFTON LANE, LS11 9LY">
<option value="HYDE PARK PHARMACY (FH186), 46 WOODSLEY ROAD, LS3 1DT">
<option value="IMAAN PHARMACY (FW811), 262-266 HAREHILLS LANE, LS9 7BD">
<option value="KHAN PHARMACY (FWJ72), 168 ROUNDHAY ROAD, LS8 5PL">
<option value="KING LANE PHARMACY (FW003), 79 KING LANE, LS17 5AX">
<option value="KNIGHTS CHAPEL ALLERTON PHARMACY (FNP86), 6 STAINBECK LANE, LS7 3QY">
<option value="KNIGHTS SCOTT HALL PHARMACY (FCL08), RUTLAND LODGE, SCOTT HALL ROAD, LS7 3DR">
<option value="LEES PHARMACY (FM077), 365 HAREHILLS LANE, LS9 6AX">
<option value="LIPTROT TL LTD (FAM10), 38-42 TOWN STREET, FARSLEY, LS28 5LD">
<option value="LIPTROTS FARSLEY LTD (FWW11), 38-42 TOWN STREET, FARSLEY, LS28 5LD">
<option value="LIVING CARE PHARMACY (FAC00), 3 UPPER ACCOMMODATION RD, LS9 8RZ">
<option value="LIVING CARE PHARMACY (FJ635), 5-7 EAST PARK ROAD, EAST END PARK, LS9 9JG">
<option value="LIVING CARE PHARMACY (FMX84), 188 OLD LANE, LS11 8AG">
<option value="LIVING CARE PHARMACY (FPQ71), 227 DEWSBURY ROAD, LS11 5HZ">
<option value="LIVING CARE PHARMACY (FQW63), ALWOODLEY MEDICAL CENTRE, SAXON MOUNT, LS17 5DT">
<option value="LIVING CARE PHARMACY (FXC14), 311 DEWSBURY ROAD, LS11 5LQ">
<option value="LIVING CARE PHARMACY DELIVERIES (FRX61), UNIT 3 LEODIS COURT, DAVID STREET, LS11 5JJ">
<option value="LLOYDS PHARMACY (FK994), BROADGATE LANE, LS18 4SE">
<option value="LLOYDS PHARMACY (FN031), 365 HAREHILLS LANE, LS9 6AX">
<option value="LLOYDSPHARMACY (FAA31), LITTLE FOUNTAIN STREET, MORLEY, LS27 9EN">
<option value="LLOYDSPHARMACY (FAF44), 39 HIGH STREET, YEADON, LS19 7SP">
<option value="LLOYDSPHARMACY (FC413), 62 ARMLEY RIDGE ROAD, LS12 3NP">
<option value="LLOYDSPHARMACY (FE844), 106 DIXON LANE, LOWER WORTLEY, LS12 4AD">
<option value="LLOYDSPHARMACY (FEW68), 283-285 TOWN STREET, BRAMLEY, LS13 3JT">
<option value="LLOYDSPHARMACY (FG308), 14A KIRKSTALL BRDGE S/CTR, BRIDGE ROAD, LS5 3BL">
<option value="LLOYDSPHARMACY (FGC37), 9 FAIRBURN DRIVE, GARFORTH, LS25 2AR">
<option value="LLOYDSPHARMACY (FGJ70), 399 HAREHILLS LANE, LS9 6AP">
<option value="LLOYDSPHARMACY (FHP13), EAST LEEDS HEALTH CENTRE, 78 OSMONDTHORPE LANE, LS9 9EF">
<option value="LLOYDSPHARMACY (FHQ66), 531 TONG ROAD, LS12 5AT">
<option value="LLOYDSPHARMACY (FHX66), 69 VESPER ROAD, LS5 3QT">
<option value="LLOYDSPHARMACY (FJ309), 8 ARNDALE CENTRE, OTLEY ROAD, LS6 2UE">
<option value="LLOYDSPHARMACY (FJQ45), 166 WOODHOUSE LANE, LS2 9HB">
<option value="LLOYDSPHARMACY (FKP92), BELLMOUNT CLOSE, BRAMLEY, LS13 2UP">
<option value="LLOYDSPHARMACY (FLH84), 195-197 BUTCHER HILL, LS16 5BQ">
<option value="LLOYDSPHARMACY (FNE61), 569-571 MEANWOOD ROAD, LS6 4AY">
<option value="LLOYDSPHARMACY (FNL04), GRANGE MEDICAL CENTRE, 999 YORK ROAD, LS14 6NX">
<option value="LLOYDSPHARMACY (FNM96), 368 OAKWOOD LANE, LS8 3LF">
<option value="LLOYDSPHARMACY (FP102), CHAPELTOWN JOINT SERV CTR, 263 CHAPELTOWN ROAD, LS7 3EX">
<option value="LLOYDSPHARMACY (FQ464), NORTH LEEDS MED PRAC SITE, 355 HARROGATE RD,MOORTOWN, LS17 6PZ">
<option value="LLOYDSPHARMACY (FQ490), 2 THE AVENUE, ALWOODLEY, LS17 7BE">
<option value="LLOYDSPHARMACY (FV681), 230 YORK ROAD, LS9 9BP">
<option value="LLOYDSPHARMACY (FW043), 125 HAREHILLS ROAD, LS8 5BW">
<option value="LLOYDSPHARMACY (FW757), 12 DEVONSHIRE AVENUE, LS8 1AY">
<option value="LLOYDSPHARMACY (FWW07), SHAFTSBURY MEDICAL CTR., 480 HAREHILLS LANE, LS9 6NG">
<option value="LLOYDSPHARMACY (FXG81), UNIT 2 OATLANDS RETAIL PK, OATLAND DRIVE, LS7 1ST">
<option value="LLOYDSPHARMACY (FYQ89), 24/26 MAIN STREET, GARFORTH, LS25 1AA">
<option value="LLOYDSPHARMACY (FYV01), WINDMILL HTH CTR PHARMACY, MILL GREEN VIEW, LS14 5JS">
<option value="MA MANNING (PHARMACY) LTD (FVN05), 97 LIDGETT LANE, LS8 1QR">
<option value="MEANWOOD PHARMACY (FQR41), 597 MEANWOOD ROAD, LS6 4AY">
<option value="MEDICHEM (LEEDS) LTD (FKP07), 42 HARROGATE ROAD, LS7 4LA">
<option value="MEDICHEM (LEEDS) LTD (FVH26), 4-5 NEWTON PARADE, CHAPELTOWN ROAD, LS7 4JA">
<option value="MEDICHEM PHARMACY (FJT29), 139 SHADWELL LANE, LS17 8AE">
<option value="MEDICHEM PHARMACY (FKD25), 6 SLAID HILL COURT, LS17 8TJ">
<option value="MEDICHEM PHARMACY (FL796), 120 DIB LANE, LS8 3AY">
<option value="MEDICHEM PHARMACY (FN622), 42 HARROGATE ROAD, LS7 4LA">
<option value="MEDICHEM PHARMACY (FY688), 4-5 NEWTON PARADE, CHAPELTOWN ROAD, LS7 4JA">
<option value="METHLEY PHARMACY (FFJ65), PINFOLD LANE, METHLEY, LS26 9AB">
<option value="MIDWAY PHARMACY (FWD92), 23 MIDDLETON PARK CIRCUS, MIDDLETON, LS10 4LX">
<option value="MILFORD PHARMACY (FET38), 14 HIGH STREET, SOUTH MILFORD, LS25 5AA">
<option value="MITCHELL'S CHEMIST (FXR93), 88 NEW ROAD SIDE, HORSFORTH, LS18 4QB">
<option value="MORLEY PHARMACY (FM381), 2A CORPORATION STREET, MORLEY, LS27 9NB">
<option value="NASEEM'S CHEMISTS (FRW47), 53A COMMERCIAL STREET, ROTHWELL, LS26 0QD">
<option value="NATIONAL CO-OPERATIVE CHEMISTS LTD (FD359), 239 ROUNDHAY ROAD, LS8 4HS">
<option value="NEWTON ROTHWELL LTD (FNC76), 49 COMMERCIAL STREET, ROTHWELL, LS26 0AP">
<option value="OAKWOOD LANE PHARMACY (FF544), OAKWOOD LANE MEDICAL CTR, AMBERTON TERRACE, LS8 3BZ">
<option value="OAKWOOD PHARMACY (FRC34), 643 ROUNDHAY ROAD, LS8 4BA">
<option value="OAKWOOD PHARMACY (FT535), 643 ROUNDHAY ROAD, LS8 4BA">
<option value="OTLEY PHARMACY (FCQ72), 14A MARKET PLACE, OTLEY, LS21 3AQ">
<option value="OULTON PHARMACY (FLJ43), 7 QUARRY HILL, OULTON, LS26 8SX">
<option value="P100 LTD (FM514), RUTLAND LODGE, SCOTT HALL ROAD, LS7 3DR">
<option value="PHAR - ASSIST (HEALTHCARE) LTD (FJD92), PARK EDGE MEDICAL CENTRE, ASKETT DRIVE, LS14 1HX">
<option value="PHARMACY2U LTD (FLM49), UNIT 4B, VICTORIA ROAD, LS14 2LA">
<option value="RAPAPORT D (FG963), 868 YORK ROAD, LS14 6DX">
<option value="ROUNDHAY PHARMACY (FH882), 239 ROUNDHAY ROAD, LS8 4HS">
<option value="ROUNDHAY PHARMACY (FJ572), 211 ROUNDHAY ROAD, LS8 4HS">
<option value="RW PULLAN (FA793), 58 BRUDENELL ROAD, LS6 1EG">
<option value="SAFFER AE (CHEMISTS) LTD (FKQ36), 203 KIRKSTALL LANE, LS6 3EJ">
<option value="SAFFER AE (CHEMISTS) LTD (FT645), 275 BURLEY ROAD, LS4 2EL">
<option value="SAINSBURY'S PHARMACY (FDC80), SELBY ROAD, COLTON, LS15 9JA">
<option value="SAINSBURY'S PHARMACY (FWM28), WHITE ROSE SHOPPING CTR, LS11 8LS">
<option value="SAINSBURYS PHARMACY (FRD71), MOOR ALLERTON CENTRE, LS17 5NY">
<option value="SCHOLL FOOTCARE CENTRE (FWP27), 61 ALBION STREET, LS1 5AA">
<option value="SEACROFT PHARMACY (FDP37), 868 YORK ROAD, LS14 6DX">
<option value="SELLES DISP CHEMIST (FY176), 10 FINKLE HILL, SHERBURN IN ELMET, LS25 6EA">
<option value="SELLES DISPENSING CHEMISTS LTD (FN586), 262-266 HAREHILLS LANE, LS9 7BD">
<option value="SELLES DISPENSING CHEMISTS LTD (FYN32), 56 HIGH STREET, KIPPAX, LS25 7AB">
<option value="SHAAN PHARMACY (FWK28), 176 HAREHILLS LANE, LS8 5JP">
<option value="SHEARD SA LTD (FA498), 2 QUEENSWAY, MORLEY, LS27 9BQ">
<option value="SHEARD SA LTD (FHM43), 68 QUEEN STREET, MORLEY, LS27 9BP">
<option value="SHEARD SA LTD (FPH34), SOUTH QUEEN STREET, MORLEY, LS27 9EW">
<option value="SHIFA PHARMACY (FL049), 225 CHAPELTOWN ROAD, LS7 3DX">
<option value="SILBERSTEIN DJ LTD (FEA92), 141 STREET LANE, LS8 1AA">
<option value="SKY PHARMACY (FCK46), 35 HAREHILLS ROAD, LS8 5HR">
<option value="SKY PHARMACY (FLV97), 35 HAREHILLS ROAD, LS8 5HR">
<option value="STAR PHARMACY (FW060), 136 CARDIGAN ROAD, LS6 1LU">
<option value="SUPERDRUG STORES PLC (FDN73), 13 KIRKGATE, LS1 6BY">
<option value="SUPERDRUG STORES PLC (FJH35), 31-35 THE MERRION CENTRE, LS2 8NG">
<option value="SWILLINGTON PHARMACY (FQK81), CHURCH LANE, SWILLINGTON, LS26 8DY">
<option value="TAYCARE MEDICAL LTD (FKG00), UNIT 2, ROYDS CLOSE, LS12 6LL">
<option value="TESCO INSTORE PHARMACY (FR526), ABERFORD ROAD, GARFORTH, LS25 2DX">
<option value="TESCO STORES LIMITED (FNG46), 361 ROUNDHAY ROAD, LS8 4BU">
<option value="TESCO STORES LIMITED (FQ812), UNIT 5 SEACROFT AVENUE, LS14 6JD">
<option value="THE CO-OPERATIVE PHARMACY (FEY81), 48-50 TOWN STREET, ARMLEY, LS12 3AA">
<option value="THE CO-OPERATIVE PHARMACY (FMN13), 6 SLAID HILL COURT, LS17 8TJ">
<option value="THE PUDSEY PHARMACY (FNC69), 46 CHAPELTOWN, PUDSEY, LS28 8BS">
<option value="THE PUDSEY PHARMACY (FTN61), 46 CHAPLETOWN, PUDSEY, LS28 8BS">
<option value="TYLEE ANDREW LTD (FK853), 25 HYDE PARK ROAD, LS6 1PY">
<option value="VANTAGE CHEMIST (FAM54), 261 DEWSBURY ROAD, LS11 5HZ">
<option value="WATSON A (FJ674), CHAPELTOWN HEALTH CENTRE, SPENCER PLACE, LS7 4BB">
<option value="WELL ARMLEY - ARMLEY MOOR HC (FA231), STATION ROAD, ARMLEY, LS12 3EY">
<option value="WELL BRAMLEY - BRAMLEY CENTRE (FMW06), 35 BRAMLEY CENTRE, BRAMLEY, LS13 2ET">
<option value="WELL BRAMLEY - BROAD LANE (FA545), 540 BROAD LANE, STANNINGLEY, LS28 6PA">
<option value="WELL BURLEY - BURLEY ROAD (FLC63), 275 BURLEY ROAD, LS4 2EL">
<option value="WELL CROSS GATES - 42 AUSTHORPE ROAD (FCV29), 42 AUSTHORPE ROAD, LS15 8DX">
<option value="WELL CROSSGATES MC - STATION ROAD (FFA38), CROSSGATES MEDICAL CENTRE, STATION ROAD, LS15 8BZ">
<option value="WELL HEADINGLEY - KIRKSTALL LANE (FHX11), 203 KIRKSTALL LANE, LS6 3EJ">
<option value="WELL HORSFORTH - TOWN STREET (FY647), 74 TOWN STREET, HORSFORTH, LS18 4AP">
<option value="WELL HUNSLET - PENNY HILL CENTRE (FJK17), 17-18 PENNY HILL CENTRE, HUNSLET, LS10 2AP">
<option value="WELL LEEDS - DIB LANE (FCV08), 120 DIB LANE, LS8 3AY">
<option value="WELL LEEDS - LINCOLN GREEN ROAD (FNA71), 84-86 LINCOLN GREEN ROAD, LS9 7SU">
<option value="WELL MORLEY - QUEEN STREET (FVT30), 68 QUEEN STREET, MORLEY, LS27 9BP">
<option value="WELL MORLEY - QUEENSWAY (FV095), 2 QUEENSWAY, MORLEY, LS27 9BQ">
<option value="WELL MORLEY - SOUTH QUEEN STREET (FXN63), SOUTH QUEEN STREET, MORLEY, LS27 9EW">
<option value="WELL ROUNDHAY - STREET LANE (FGV38), 141 STREET LANE, LS8 1AA">
<option value="WELL SHADWELL - SHADWELL LANE (FRN28), 139 SHADWELL LANE, LS17 8AE">
<option value="WELL YEADON - HIGH STREET (FF386), 29 HIGH STREET, YEADON, LS19 7SP">
<option value="WHINMOOR PHARMACY (FCV80), 46A WHITE LAITHE APPROACH, WHINMOOR, LS14 2EH">
<option value="WRIGHTS CHEMISTS LTD (FW766), 6 TINSHILL LANE, LS16 7AP">
<option value="YORKSHIRE PHARMACY GROUP (FMK61), 141 LONG CAUSEWAY, ADEL, LS16 8EX">
<option value="YOUR LOCAL BOOTS PHARMACY (FAM02), HIGHFIELD SURGERY, HOLTDALE APPROACH, LS16 7RX">
<option value="YOUR LOCAL BOOTS PHARMACY (FC541), 5 HOLLIN PARK PARADE, LS8 3AS">
<option value="YOUR LOCAL BOOTS PHARMACY (FJ264), 56 HIGH STREET, KIPPAX, LS25 7AB">
<option value="YOUR LOCAL BOOTS PHARMACY (FKH81), 204 SELBY ROAD, HALTON, LS15 0LF">
<option value="YOUR LOCAL BOOTS PHARMACY (FKJ95), OULTON MEDICAL CENTRE, QUARRY HILL, OULTON, LS26 8SZ">
<option value="YOUR LOCAL BOOTS PHARMACY (FKM53), 49 SELBY ROAD, LS9 0EW">
<option value="YOUR LOCAL BOOTS PHARMACY (FLE94), 91 MORESDALE LANE, LS14 6GG">
<option value="YOUR LOCAL BOOTS PHARMACY (FMR56), MIDDLETON PARK PHARMACY, 8 MIDDLETON PARK CIRCUS, LS10 4LU">
<option value="YOUR LOCAL BOOTS PHARMACY (FNW16), 1 MOSELEY PLACE, LS6 2RY">
<option value="YOUR LOCAL BOOTS PHARMACY (FPW64), 11 NEW ROAD SIDE, RAWDON, LS19 6DD">
<option value="YOUR LOCAL BOOTS PHARMACY (FPX61), 132 BEESTON ROAD, LS11 8BB">
<option value="YOUR LOCAL BOOTS PHARMACY (FQJ56), 72 GALLOWAY LANE, PUDSEY, LS28 8LE">
<option value="YOUR LOCAL BOOTS PHARMACY (FT545), 1 MOOR ROAD, HUNSLET CARR, LS10 2JJ">
<option value="YOUR LOCAL BOOTS PHARMACY (FWK37), ROTHWELL HEALTH CENTRE, STONE BRIG LANE, ROTHWELL, LS26 0UE">
<option value="WELDRICKS PHARMACY (FA188), 28/29 HALLGATE, DONCASTER, DN1 3NL">
<option value="WELDRICKS PHARMACY (FA909), STATION ROAD, STAINFORTH, DN7 5NS">
<option value="WELDRICKS PHARMACY (FAP44), 26 ECKINGTON ROAD, SOTHALL, S20 1HQ">
<option value="WELDRICKS PHARMACY (FAQ38), 30 CHURCH STREET, HAXEY, DN9 2HY">
<option value="WELDRICKS PHARMACY (FAW96), 150 CROOKES, CROOKES, S10 1UH">
<option value="WELDRICKS PHARMACY (FC224), UNIT 3B,WHITE ROSE PARK, TEN POUND WALK, DN4 5FB">
<option value="WELDRICKS PHARMACY (FC898), 65C MIDLAND ROAD, ROYSTON, S71 4QW">
<option value="WELDRICKS PHARMACY (FCK54), 40-42 EAST LAITH GATE, DONCASTER, DN1 1HZ">
<option value="WELDRICKS PHARMACY (FCN37), 81 SANDRINGHAM ROAD, INTAKE, DN2 5JA">
<option value="WELDRICKS PHARMACY (FDC63), 44 CHURCH STREET, CONISBROUGH, DN12 3HR">
<option value="WELDRICKS PHARMACY (FDL52), 14 HIGH STREET, CARCROFT, DN6 8DP">
<option value="WELDRICKS PHARMACY (FDY87), HATFIELD HEALTH CENTRE, ASH HILL ROAD, HATFIELD, DN7 6JH">
<option value="WELDRICKS PHARMACY (FE250), 188 CROOKESMOOR ROAD, CROOKESMOOR, S10 1BE">
<option value="WELDRICKS PHARMACY (FE480), 100 AMERSALL ROAD, SCAWTHORPE, DN5 9PH">
<option value="WELDRICKS PHARMACY (FEE20), ST.ANDREWS SQUARE, BOLTON-ON-DEARNE, S63 8BA">
<option value="WELDRICKS PHARMACY (FEJ29), 5 CHURCH STREET, EPWORTH, DN9 1ER">
<option value="WELDRICKS PHARMACY (FEL24), 54 BRECKS LANE, KIRK SANDALL, DN3 1JR">
<option value="WELDRICKS PHARMACY (FET26), THE THURNSCOE CENTRE, HOLLY BUSH DR, THURNSCOE, S63 0LT">
<option value="WELDRICKS PHARMACY (FFD93), 7 ST WILFRID'S COURT, CANTLEY, DN4 6ED">
<option value="WELDRICKS PHARMACY (FFF23), 36 HIGH STREET, BAWTRY, DN10 6JE">
<option value="WELDRICKS PHARMACY (FFR74), 4 HIGH STREET, BARNBURGH, DN5 7EP">
<option value="WELDRICKS PHARMACY (FG196), THE GOLDTHORPE CENTRE, GOLDTHORPE GRN,GOLDTHORPE, S63 9EH">
<option value="WELDRICKS PHARMACY (FG261), 45-49 HIGH STREET, CROFTON, WF4 1NG">
<option value="WELDRICKS PHARMACY (FG545), 48A HIGH STREET, ROYSTON, S71 4RF">
<option value="WELDRICKS PHARMACY (FGK37), 5-5A YORK BUILDINGS, EDLINGTON LANE, EDLINGTON, DN12 1BY">
<option value="WELDRICKS PHARMACY (FGM29), 52-52A CLAYPIT LANE, RAWMARSH, S62 5HD">
<option value="WELDRICKS PHARMACY (FGP83), MARLOWE ROAD, BARNBY DUN, DN3 1AX">
<option value="WELDRICKS PHARMACY (FHD30), 27 BRINSWORTH LANE, BRINSWORTH, S60 5BS">
<option value="WELDRICKS PHARMACY (FJG47), 2-4 FINKLE STREET, THORNE, DN8 5DE">
<option value="WELDRICKS PHARMACY (FJK96), THE BURNS PRACTICE, GOODISON BOULEVARD, DN4 6NJ">
<option value="WELDRICKS PHARMACY (FK560), DARNALL PRIMARY CARE CTR, MAIN ROAD, S9 4QH">
<option value="WELDRICKS PHARMACY (FKW02), 35 GRANGE LANE, ROSSINGTON, DN11 0LW">
<option value="WELDRICKS PHARMACY (FKW67), 1 MOORTHORPE BANK, OWLTHORPE, S20 6PD">
<option value="WELDRICKS PHARMACY (FL538), UNIT 4, 221 SKELLOW ROAD, SKELLOW, DN6 8JH">
<option value="WELDRICKS PHARMACY (FL785), THE ORCHARD CENTRE, MARSHLANDS ROAD, DN8 4SB">
<option value="WELDRICKS PHARMACY (FLD37), 31/33 HIGH STREET, SWALLOWNEST, S26 4TT">
<option value="WELDRICKS PHARMACY (FLH72), 26-28 BARNSLEY ROAD, GOLDTHORPE, S63 9NF">
<option value="WELDRICKS PHARMACY (FLL42), 235 SPROTBROUGH ROAD, DN5 8BP">
<option value="WELDRICKS PHARMACY (FM670), 61-63 BECKETT ROAD, WHEATLEY, DN2 4AD">
<option value="WELDRICKS PHARMACY (FMF55), 8 EVERINGHAM ROAD, CANTLEY, DN4 6JG">
<option value="WELDRICKS PHARMACY (FP030), 298 GLOSSOP ROAD, SHEFFIELD, S10 2HS">
<option value="WELDRICKS PHARMACY (FP196), 1A-3A CHURCH STREET, SWINTON, S64 8QA">
<option value="WELDRICKS PHARMACY (FP844), UNIT B9, AMELIA COURT, SWANTON CL, DN22 7HJ">
<option value="WELDRICKS PHARMACY (FP935), FIELD ROAD, STAINFORTH, DN7 5AF">
<option value="WELDRICKS PHARMACY (FQ008), WELFARE ROAD, THURNSCOE, S63 0JZ">
<option value="WELDRICKS PHARMACY (FQC31), 122 THORNE ROAD, EDENTHORPE, DN3 2JA">
<option value="WELDRICKS PHARMACY (FQE67), 66 ROCHESTER ROAD, LODGE MOOR, S10 4JQ">
<option value="WELDRICKS PHARMACY (FQK76), 14 FIELDSIDE, THORNE, DN8 4BQ">
<option value="WELDRICKS PHARMACY (FQY35), THE STONE CASTLE CENTRE, GARDENS LANE, CONISBROUGH, DN12 3JW">
<option value="WELDRICKS PHARMACY (FR709), MALTBY SERVICES CENTRE, BRAITHWELL ROAD, S66 8JE">
<option value="WELDRICKS PHARMACY (FRQ47), 67 SCROOBY ROAD, HARWORTH, DN11 8JN">
<option value="WELDRICKS PHARMACY (FTE09), WHITE HOUSE FARM MED CTR, CHURCH STREET, ARMTHORPE, DN3 3AH">
<option value="WELDRICKS PHARMACY (FTL66), 171 MAIN ROAD, DARNALL, S9 5HP">
<option value="WELDRICKS PHARMACY (FTP90), THE MARTINWELLS CENTRE, THOMPSON AVE, EDLINGTON, DN12 1JD">
<option value="WELDRICKS PHARMACY (FVD51), THE ABBEY SHOPPING CENTRE, STATION ROAD, DN7 4JS">
<option value="WELDRICKS PHARMACY (FWJ24), MARKET PLACE, CROWLE, DN17 4LB">
<option value="WELDRICKS PHARMACY (FWK94), 296 THORNE ROAD, WHEATLEY HILLS, DN2 5AJ">
<option value="WELDRICKS PHARMACY (FWT46), THE IRONSTONE CENTRE, WEST STREET, DN15 6HX">
<option value="WELDRICKS PHARMACY (FWX34), 7-8 THE SQUARE, WALES, S26 5QN">
<option value="WELDRICKS PHARMACY (FX024), 6 THE PARADE, THOROGATE, S62 7HX">
<option value="WELDRICKS PHARMACY (FX116), DENABY SPRINGWELL CENTRE, CHURCH ROAD, DN12 4AB">
<option value="WELDRICKS PHARMACY (FX203), 13 THE PARADE, CHURCH STREET, ARMTHORPE, DN3 3AG">
<option value="WELDRICKS PHARMACY (FX589), 94A HIGH STREET, MALTBY, S66 7BN">
<option value="WELDRICKS PHARMACY (FX779), 3 LABURNUM PARADE, MALTBY, S66 8DP">
<option value="WELDRICKS PHARMACY (FXR73), THE FLYING SCOTSMAN CTR, ST SEPULCHRE GATE WEST, DN1 3AP">
<option value="WELDRICKS PHARMACY (FXX35), 26 MAIN STREET, CATCLIFFE, S60 5SR">
<option value="WELDRICKS PHARMACY (FY163), 17 CROWN STREET, SWINTON, S64 8NB">