<div class="nhsuk-grid-row mobile-nav-wrapper">
  <div class="nhsuk-full-width-container" id="mobile-nav">
    <div class="full-width-container">
      <div class="nhsuk-grid-row mobile-nav-container">

        <div class="nhsuk-grid-column-two-thirds nhsuk-u-two-thirds-tablet mobile-nav-section" id="mobile-nav-section-1">
          <div class="nhsuk-form-group mobile-nav-select">
            <label class="nhsuk-label nhsuk-u-font-size-14" for="select-1">
              Currently viewing:
            </label>
            <select class="nhsuk-select nhsuk-u-font-size-14" id="mobile-nav-select" name="scr-sections">

            </select>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-u-one-third-tablet mobile-nav-section" id="mobile-nav-section-2">
          <p class="mobile-nav-patient-details nhsuk-u-font-size-16">
            {{ patient.firstName }}
            {{ patient.lastName.toUpperCase() }}<br>
            {{ patient.dob }}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
