<div class="nhsuk-grid-column-full">
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
      <div class="nhsuk-care-card__heading-container overview-card__heading-container">
        <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Clinical details:
        </span>Clinical</span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content overview-card__content">

        <ul class="overview-card__list">
          <li class="overview-card__list-item"><a href="#">Summary Care Record - enhanced</a></li>
          <li class="overview-card__list-item"><a href="#">GP Connect</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
      <div class="nhsuk-care-card__heading-container overview-card__heading-container">
        <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Patient details:
        </span>Patient details</span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content overview-card__content">

        <ul class="overview-card__list">
          <li class="overview-card__list-item"><a href="#">Demographics</a></li>
          <li class="overview-card__list-item"><a href="#">Contacts & next of kin</a></li>
          <li class="overview-card__list-item"><a href="#">Power of attorney</a></li>
          <li class="overview-card__list-item"><a href="#">Chargeability status</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
      <div class="nhsuk-care-card__heading-container overview-card__heading-container">
        <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Patient documents:
        </span>Patient documents</span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content overview-card__content">

        <p>
          There are <strong>2</strong> documents available
        </p>
        <p>
          <a href="#">View the document repository</a>
        </p>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-care-card nhsuk-care-card--non-urgent overview-card">
      <div class="nhsuk-care-card__heading-container overview-card__heading-container">
        <h3 class="nhsuk-care-card__heading overview-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Care providers:
        </span>Care providers</span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content overview-card__content">

        <ul class="overview-card__list">
          <li class="overview-card__list-item"><a href="#">GP</a></li>
          <li class="overview-card__list-item"><a href="#">Nominated Pharmacy</a></li>
          <li class="overview-card__list-item"><a href="#">Mental Health Care Provider</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
