<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">Care plans</h1>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p class="scra-cards__subheading">Available documents</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper nrl-card__wrapper" href="#">
        <img class="nhsuk-promo__img" src="../images/pdf-icon.svg" alt="PDF File icon">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Crisis Contingency & Relapse Prevention plan</h3>
          <p class="nhsuk-promo__description">Leeds Teaching Hospitals NHS Trust</p>
          <p class="nhsuk-promo__description nrl-card__date">Uploaded this month</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper nrl-card__wrapper" href="#">
        <img class="nhsuk-promo__img" src="../images/pdf-icon.svg" alt="PDF File icon">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Crisis Contingency & Relapse Prevention plan</h3>
          <p class="nhsuk-promo__description">Leeds Teaching Hospitals NHS Trust</p>
          <p class="nhsuk-promo__description nrl-card__date">Uploaded this month</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper nrl-card__wrapper" href="#">
        <img class="nhsuk-promo__img" src="../images/pdf-icon.svg" alt="PDF File icon">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Crisis Contingency & Relapse Prevention plan</h3>
          <p class="nhsuk-promo__description">Leeds Teaching Hospitals NHS Trust</p>
          <p class="nhsuk-promo__description nrl-card__date">Uploaded this month</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p class="scra-cards__subheading">Documents available elsewhere</p>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-promo nhsuk-promo--small">
      <div class="nhsuk-promo__link-wrapper nrl-card__wrapper" href="#">
        <div class="nhsuk-promo__content nrl-card__pointer-content">
          <h3 class="nhsuk-promo__heading">Example care plan #1</h3>
          <p class="nhsuk-promo__description nrl-card__pointer-trust ">Example NHS Trust</p>
          <p class="nhsuk-promo__description nrl-card__pointer-number">01234 567890</p>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="nhsuk-promo nhsuk-promo--small">
      <div class="nhsuk-promo__link-wrapper nrl-card__wrapper" href="#">
        <div class="nhsuk-promo__content nrl-card__pointer-content">
          <h3 class="nhsuk-promo__heading">Example care plan #2</h3>
          <p class="nhsuk-promo__description nrl-card__pointer-trust ">Example NHS Trust</p>
          <p class="nhsuk-promo__description nrl-card__pointer-number">01234 567890</p>
        </div>
      </div>
    </div>
  </div>
</div>
