<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">Available documents</h1>
    <span role="text">
      <span class="nhsuk-body-l">
        <span class="nhsuk-u-visually-hidden"> - </span>
        There are 3 entries available for this patient
      </span>
    </span>
  </div>

  <div class="nhsuk-grid-column-two-thirds">
    <p style="margin-bottom: 0;">
      Care providers have shared these entries, which consist of uploaded documents you can view by clicking the ‘view document’ icon. Alternatively, you can view contact details and get more information for entries that do not have a viewable document.
    </p>
  </div>
  <div class="nhsuk-grid-column-full">

    <table id="nrl-table" class="responsive-table" role="grid">
      <caption class="heading-medium">Available documents</caption>
      <thead>
        <tr role="row">
          <th scope="col">Record creation date</th>
          <th scope="col">Record type</th>
          <th scope="col">Record owner</th>
          <th scope="col">Clinical setting</th>
          <th scope="col">Record</th>
        </tr>
      </thead>
      <tbody class="nrl-results">
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>06-Sep-2018</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record type</span><span>Mental health crisis plan</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record owner</span>
            <ul class="nrl-trust-details">
              <li>
                Leeds Teaching Hospitals
              </li>
              <li>
                <span class="nrl-contact-link"><span class="no-owner-info">No contact information is available</span></span>
              </li>
            </ul>
          </td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record</span>
            <div class="nhsuk-action-link nrl-action-link">
              <a class="nhsuk-action-link__link" href="document-2">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">View document</span>
              </a>
            </div>
          </td>
        </tr>
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>01-Jun-2016</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record type</span><span>End of life care plan</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record owner</span>
            <ul class="nrl-trust-details">
              <li>
                Leeds Teaching Hospitals
              </li>
              <li>
                <span class="nrl-contact-link"><a href="https://www.leedsth.nhs.uk/contact-us/" target=”_blank”>View contact information (opens in a new tab)</a></span>
              </li>
            </ul>
          </td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Palliative medicine</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record</span><span class="multiple-doc-td">
              <div class="nhsuk-action-link nrl-action-link">
                <a class="nhsuk-action-link__link" href="document-2">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">View document</span>
                </a>
              </div>

            </span></td>
        </tr>
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>08-Jan-2013</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record type</span><span>Blood tests</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record owner</span>
            <ul class="nrl-trust-details">
              <li>
                Leeds Teaching Hospitals
              </li>
              <li>
                <span class="nrl-contact-link"><a href="https://www.leedsth.nhs.uk/contact-us/" target=”_blank”>View contact information (opens in a new tab)</a></span>
              </li>
            </ul>
          </td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Cardiology</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record</span><span><a a href="https://www.leedsth.nhs.uk/contact-us/" target=”_blank”>Contact record owner (opens in a new tab)</a></span></td>
        </tr>

      </tbody>
    </table>
    <div style="float: right;" class="table-foot">
      <span class="">Showing 3 of 3 entries</span>
    </div>
  </div>
</div>
