<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Documents available</h1>
    <table id="nrl-table" class="responsive-table" role="grid">
      <caption class="heading-medium">Available documents</caption>
      <thead>
        <tr role="row">
          <th scope="col">Record type</th>
          <th scope="col">Record owner</th>
          <th scope="col">Record creation date</th>
          <th scope="col">Period of care</th>
          <th scope="col">Clinical setting</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody class="nrl-results">
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Plan name</span><span><a href="document">Crisis contingency & relapse prevention plan</a></span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Trust</span><span>Leeds Teaching Hospitals</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>06-Sep-2018</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Period of care</span><span>01-Jan-2012 to Present</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service </span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Category</span><span>Care plan</span></td>
        </tr>
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Plan name</span><span><a href="document">Crisis contingency & relapse prevention plan</a></span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Trust</span><span>Leeds Teaching Hospitals</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>06-Sep-2018</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Period of care</span><span>01-Jan-2007 to 31-Dec-2011</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service </span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Category</span><span>Care plan</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
