<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">Available documents</h1>
    <span role="text">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">
        <span class="nhsuk-u-visually-hidden"> - </span>
        There are 3 documents available for this patient
      </span>
    </span>
    <table id="nrl-table" class="responsive-table" role="grid">
      <caption class="heading-medium">Available documents</caption>
      <thead>
        <tr role="row">
          <th scope="col">Record creation date</th>
          <th scope="col">Record type</th>
          <th scope="col">Record</th>
          <th scope="col">Record owner</th>
          <th scope="col">Clinical setting</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody class="nrl-results">
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>06-Sep-2018</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record type</span><span>Crisis contingency & relapse prevention plan</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record</span><span><a href="document">View document</a></span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record owner</span><span>Leeds Teaching Hospitals</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service </span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Category</span><span>Care plan</span></td>
        </tr>
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>01-Jun-2016</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record type</span><span>Crisis contingency & relapse prevention plan</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record</span><span><a href="document">View document</a><br /><br /><a href="#">View contact information (opens in a new tab)</a></span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Trust</span><span>Leeds Teaching Hospitals</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service </span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Category</span><span>Care plan</span></td>
        </tr>
        <tr role="row" class="nrl-result">
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Record creation date</span><span>08-Jan-2013</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Plan name</span><span>Crisis contingency & relapse prevention plan</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Trust</span><span><a href="#">View contact information (opens in a new tab)</a></span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Trust</span><span>Leeds Teaching Hospitals</span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Clinical setting</span><span>Mental health dual diagnosis service </span></td>
          <td role="gridcell"><span class="table-heading" aria-hidden="true">Category</span><span>Care plan</span></td>
        </tr>
      </tbody>
    </table>
    <div style="float: right;" class="table-foot">
      <span class="results-count">Showing 3 of 3 results</span>
    </div>
  </div>
</div>
