<div class="nhsuk-grid-column-one-quarter accordion-container">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link active" href="#names">Names</a></li>
            <li><a class="scra-accordion__link" href="#key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link active" href="#contacts">Contacts</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link active" href="#gp">GP</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters page-content">
      <h1 class="nhsuk-heading-l"><a class="nav-anchor" name="key-demographics">Key demographics</a></h1>
      <div class="scra-card">
        <div class="scra-card-header">
          <h2 class="nhsuk-heading-m"><a class="nav-anchor" name="names">Names</a></h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="card-content-section">
                <span class="card-content-label">Usual Name:</span>
                <span class="card-content-name">William Shakespeare</span>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Preferred Name:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Other names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Previous names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h2 class="nhsuk-heading-m"><a class="nav-anchor" name="key-details">Key details</a></h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Gender:</span>
                <span class="card-content-detail">Male</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">NHS Number:</span>
                <span class="card-content-detail">123 456 7890</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Date of birth:</span>
                <span class="card-content-detail">01-Dec-1970</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Place of birth:</span>
                <span class="card-content-detail">Stratford-upon-Avon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h2 class="nhsuk-heading-m"><a class="nav-anchor" name="address">Address</a></h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-tablet-one-half">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail">1 Town Street</span>
                <span class="card-content-detail">Leeds</span>
                <span class="card-content-detail">West Yorkshire</span>
                <span class="card-content-detail">LS18 3DC</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-tablet-one-half">
              <div class="card-content-section">
                <span class="card-content-label">Temporary address:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--- Contacts & Next of Kin --->

      <h1 class="nhsuk-heading-l"><a class="nav-anchor" name="contacts-next-of-kin">Contacts & next of kin</a></h1>
      <div class="scra-card">
        <div class="scra-card-header">
          <h2 class="nhsuk-heading-m"><a class="nav-anchor" name="contacts">Contacts</a></h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="card-content-section">
                <span class="card-content-label">Placeholder label:</span>
                <span class="card-content-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--- GP & Care Providers --->

      <h1 class="nhsuk-heading-l"><a class="nav-anchor" name="gp-care-providers">GP & Care Providers</a></h1>
      <div class="scra-card">
        <div class="scra-card-header">
          <h2 class="nhsuk-heading-m"><a class="nav-anchor" name="gp">GP</a></h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="card-content-section">
                <span class="card-content-label">Placeholder label:</span>
                <span class="card-content-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
