{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="patient-details-ovm">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Return to Overseas Visitor Manager status</a>
      </div>

      <h2 class="nhsuk-heading-l">Review and confirm record deletion</h2>

      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Changing a patient's key details</h3>
          <p>Changing a patient’s key details is a serious undertaking. It must be carried out with the utmost care and consideration for potential risks</p>
        </div>

        <h2>Patient data</h2>

        <h3 class="nhsuk-heading-m">Date patient seen</h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Was previously
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                02-Aug-2020
              </p>
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Updated to
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                Not recorded
              </p>
              <p class="nhsuk-body-italics">

              </p>
            </dd>

          </div>

        </dl>

        <h3 class="nhsuk-heading-m">Country of nationality</h3>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Was previously
            </dt>
            <dd class="nhsuk-summary-list__value">
              Jersey
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Updated to
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                Not recorded
              </p>
            </dd>

          </div>

        </dl>

      </div>

      <h3 class="nhsuk-heading-m">Purpose of entry</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            Study
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Other purpose of entry</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            None
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Date of entry</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            01-Aug-2020
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Address line 1</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            1 Town Street
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Address line 2</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            Stratford-upon-Avon
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Address line 3</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            Warwickshire
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Addres line 4</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            AB1 2CD
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Home country</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            Antigua and Barbuda
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>
        </div>

      </dl>

      <!-- Section -->

      <h2>Additional data</h2>

      <h3 class="nhsuk-heading-m">Passport number</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              123456
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Country of issue</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Antigua and Barbuda
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Passport expiry date</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              02-Aug-2020
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Home Office Evidence and Enquiry contacted</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Contacted reference</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">Date recorded</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <!-- Section -->

      <h2>Entitlement evidence</h2>

      <h3 class="nhsuk-heading-m">PRC Country of issue</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Jersey
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC Personal ID Number</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              123456
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC Institution ID</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              123456
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC EHIC card number</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              123456
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC EHIC expiry date</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              02-Aug-2020
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC valid from date</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              02-Aug-2020
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">PRC valid to date</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              123456
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">S1 status</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              No S1 confirmed by patient
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">S2 country of issue</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Andorra
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">S2 valid from</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              02-Aug-2020
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>

      <h3 class="nhsuk-heading-m">S2 valid to</h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Was previously
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              02-Aug-2020
            </p>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Updated to
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              Not recorded
            </p>
            <p class="nhsuk-body-italics">

            </p>
          </dd>

        </div>

      </dl>


      <a class="nhsuk-button" id="confirm-name-changes-btn" href="patient-details-ovm-deleted">Confirm record deletion</a>

    </div>


  </div>

</div>
{% endblock %}
