{% extends 'layouts/layout-application-ncrs.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-overview-complex">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link" href="#">Contacts & next of kin</a></li>
            <li><a class="scra-accordion__link" href="#">Power of attorney</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link" href="#">GP Details</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeability status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul>
            <li><a class="scra-accordion__link" href="#">Chargeability status</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header scra-accordion__header--yellow">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Child protection alert
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#care-alert">View child protection alert</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header scra-accordion__header--yellow">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Female genital mutilation
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#">Female genital mutilation</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header scra-accordion__header--yellow">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Reasonable adjustments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#">Reasonable adjustments</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="section">
      <h2 class="nhsuk-heading-l">Key demographics</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Usual Name:</span>
                <span class="card-content-name">{{ patient.firstName }} {{ patient.lastName}}</span>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Preferred Name:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Other names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Previous names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-key-details">Key details</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Gender:</span>
                <span class="card-content-detail card-content-detail-gender">{{ patient.gender }}
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">NHS Number:</span>
                <span class="card-content-detail card-content-detail-nhs-no">{{ patient.nhsNumber }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Date of birth:</span>
                <span class="card-content-detail card-content-detail-dob">{{ patient.dob }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Place of birth:</span>
                <span class="card-content-detail card-content-detail-pob">Leeds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-address">Address</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail card-content-detail-address">{{ patient.address }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Temporary address:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="nhsuk-heading-l">Contacts & next of kin</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Contacts</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Peggy Fields</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Grandmother</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail">23 Bracken Croft, Seacroft, Leeds, LS14 1AB</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail">0113 289 0123</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Next of kin</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Fiona Fothergill</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Mother</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail">13 Bayswater Road, Roundhay, Leeds, LS8 2AB</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail">0113 321 0123</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a name="care-alert"></a>
    <div class="section" id="care-alert-section">
      <h2 class="nhsuk-heading-l" id="child-protection">Child protection alert</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">View child protection information</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p>
              The patient’s child protection information includes details about the type of protection order, the responsible local authority, contact numbers and who has previously viewed the information.
            </p>
            <div class="nhsuk-action-link nhsuk-u-margin-top-5">
              <a data-target="#myModal" data-toggle="modal" class="nhsuk-action-link__link open_modal" href="#myModal">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">View child protection information</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">

    <!-- Modal content -->

    <div class="modal-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full-width">
            <span class="close">&times;</span>
            <h3>Why has the patient visited you today?</h3>
            <p>Before you view Vivien's child protection information, it is useful for us to understand the reason for their visit.</p>
          </div>
        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <a class="nhsuk-button nhsuk-button--blue" type="submit" style="width:100%;" href="child-care-alert-complex">
              Planned or routine appointment
            </a>
            <p>
              This includes any pre-arranged health appointment either with a GP or at a hospital.
            </p>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <button class="nhsuk-button nhsuk-button--red" type="submit" style="width:100%;" href="child-care-alert-complex">
              An emergency or unscheduled visit
            </button>
            <p>
              This includes supporting patients who need urgent care at a GP surgery or hospital.

            </p>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>
{% endblock %}
