{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
  Patient details
{% endblock %}

{% block beforeContent %}

  <div class="nhsuk-full-width-container">
    <div class='scra-bordered-tabs-container'>
      <div class="nhsuk-width-container-fluid">
        <ul class="scra-bordered-tabs">
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
          </li>
          <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
            <a class="scra-bordered-tabs-link" href="#">Patient</a>
          </li>
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
          </li>
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="#">Providers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    {% include "includes/functional-patient-details.html" %}

  </div>
{% endblock %}
