{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h2 class="nhsuk-heading-l">Review and confirm your changes</h1>

        <div class="nhsuk-u-reading-width">
          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Changing a patient's key details</h3>
            <p>Changing a patient’s key details is a serious undertaking. It must be carried out with the utmost care and consideration for potential risks</p>
          </div>


          <h3 class="nhsuk-heading-m">Usual name</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Was previously
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>
                  Mr William Shakespeare
                </p>
                <p class="nhsuk-body-italics">
                  Effective from 29-Feb-2002
                </p>
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Updated to
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>
                  Dr William Tell
                </p>
                <p class="nhsuk-body-italics">
                  Effective from 21-Nov-2019
                </p>
              </dd>

            </div>

          </dl>

          <h3 class="nhsuk-heading-m">Preferred name</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Was previously
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p class="nhsuk-body-italics">
                  None recorded
                </p>
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Updated to
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>
                  Dr Bill Tell
                </p>
                <p class="nhsuk-body-italics">
                  Effective from 21-Nov-2019
                </p>
              </dd>

            </div>

          </dl>

        </div>

        <a class="nhsuk-button" id="confirm-name-changes-btn" href="patient-details-name-changed">Confirm changes</a>

    </div>


  </div>

</div>
{% endblock %}
