{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion accordion-desktop" data-module="accordion" id="refactor-nav">
      <div class="accordion-inner">
        <div class="govuk-accordion__section govuk-accordion__section--expanded">
          <div class="govuk-accordion__section-header scra-accordion__header">
            <h2 class="govuk-accordion__section-heading scra-accordion__heading">
              <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
                Edit address
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <ul class="navigation-ul">

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters patient-details-content">
    <h1 class="nhsuk-heading-l">Edit patient addresses</h1>

    <section id="usual-address" title="Usual address">


      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="edit-key-details">Usual address</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text usual-address-support-text" style="display: block;">
              A patient should have a usual address
            </p>
          </div>
          <div class="usual-address-section">
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>You can enter a full address, or enter partial address details and press 'Find an address or postcode'</p>
            </div>
            <div class="nhsuk-form-group pds-edit-form-group">
              <form id="edit-usual-address-form">
                <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-house-name">
                  Building and street
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-house-name" name="pdf-edit-house-name" type="text" value="1 Town Street"><br />
                <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-number" name="pdf-edit-number" type="text">

                <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-locality">
                  Locality
                </label>
                <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-locality" name="pdf-edit-locality" type="text">

                <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-post-town">
                  Post town
                </label>
                <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-post-town" name="pdf-edit-post-town" type="text" value="Straford-upon-Avon">

                <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-county">
                  County
                </label>
                <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-county" name="pdf-edit-county" type="text" value="Warwickshire">

                <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-postcode">
                  Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-postcode" name="pdf-edit-postcode" type="text" value="AB1 2CD">

                <div class="nhsuk-action-link" style="margin-top:32px;">
                  <a class="nhsuk-action-link__link find-postcode__action-link" id="pds-find-postcode__action-link" href="#pds-find-postcode__action-link">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Find an address or postcode</span>
                  </a>
                </div>

                <div class="lookup-search-results" style="display:none;">
                  <div class="nhsuk-u-reading-width" style="border:4px solid #e8edee; padding:16px;margin-bottom: 48px;">
                    <h2 class="nhsuk-heading-m">Search results</h2>
                    <div class="nhsuk-table-responsive">
                      <table class="nhsuk-table" style="">
                        <caption class="nhsuk-table__caption">Search results</caption>
                        <thead class="nhsuk-table__head">
                          <tr class="nhsuk-table__row">
                            <th class="nhsuk-table__header" scope="col">Address</th>
                            <th class="nhsuk-table__header" scope="col">Postcode</th>
                          </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">1 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">2 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">3 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">4 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">5 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="#edit-key-details">6 Henley Street, Stratford-upon-Avon, Warwickshire</a></td>
                            <td class="nhsuk-table__cell "><a href="#edit-key-details">CV37 6QW</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Effective from
                  </legend>

                  <div class="nhsuk-date-input" id="effective-from-date-name">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-from-date-name-day" name="effective-from-date-name-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-from-date-name-month" name="effective-from-date-name-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-from-date-name-year" name="effective-from-date-name-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                    Effective to
                  </legend>

                  <div class="nhsuk-date-input" id="effective-date-name">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <p>
              <p>
                <a href="#usual-address" id="cancel-adding-usual-address" style="display:none;">Cancel</a>
              </p>
              <button class="nhsuk-button nhsuk-button--red" id="remove-usual-address-btn">Remove usual address</button>
            </p>
          </div>
          <button class="nhsuk-button nhsuk-button--blue" id="add-usual-address-btn" style="display: none;">Add usual address</button>
        </div>
      </div>
    </section>


    <section id="correspondence-address" title="Correspondence address">

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="edit-key-details">Correspondence address</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text correspondence-address-support-text" style="display: block;">
              You may add more than one correspondence address
            </p>
            <button class="nhsuk-button nhsuk-button--blue" id="add-usual-address-btn">Add correspondence address</button>
          </div>
        </div>
      </div>

    </section>

    <section id="temporary-address" title="Temporary address">

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="edit-key-details">Temporary address</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text correspondence-address-support-text" style="display: block;">
              A patient may have zero or one temporary addresses
            </p>
            <button class="nhsuk-button nhsuk-button--blue" id="add-usual-address-btn">Add temporary address</button>
          </div>
        </div>
      </div>

    </section>

    <section id="save-name-changes" title="Save changes">
      <div class="btn-group">
        <a class="nhsuk-button" href="confirm-address-changes">Save address changes</a>
        <p class="cancel-btn-link"><a href="patient-details">Cancel</a></p>
      </div>
    </section>

  </div>

</div>

{% block pageScripts %}
<script>
  $("#remove-usual-address-btn").click(function() {
    $(".usual-address-section").hide();
    $("#add-usual-address-btn").show();
    $("#remove-usual-address-btn").hide();
    $('#edit-usual-address-form > .nhsuk-input').val("");
  });

  $("#add-usual-address-btn").click(function() {
    $(".usual-address-section").show();
    $("#cancel-adding-usual-address").show();
    $("#add-usual-address-btn").hide();
  });

  $("#cancel-adding-usual-address").click(function() {
    $(".usual-address-section").hide();
    $("#add-usual-address-btn").show();
  });

  $(".find-postcode__action-link").click(function() {
    $(".lookup-search-results").show();
  });

  $(".lookup-search-results").find("a").click(function() {
    $(".lookup-search-results").hide();
    $("#pds-edit-number").val("1 Henley Street");
    $("#pds-edit-post-town").val("Stratford-upon-Avon");
    $("#pds-edit-county").val("Warwickshire");
    $("#pds-edit-country").val("United Kingdom");
    $("#pds-edit-postcode").val("CV37 6QW");
  });
</script>
{% endblock %}

{% endblock %}
