{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="section scra-card">
        <h1 class="nhsuk-heading-xl nhsuk-panel__title nhsuk-u-padding-top-4">
          Edit successful
        </h1>
      </div>
      <p>The edit to this patient's information was successfully made.</p>
      <h2>What to do next</h2>

      <p><a href="patient-details-name-changed">Return to the patient details tab</a></p>
      <p><a href="patient-overview">Return to the patient overview tab</a></p>
      <p><a href="#">Find a new patient</a></p>

    </div>
  </div>
</div>

{% endblock %}
