{% extends 'layouts/layout-transactional.html' %} {% block pageTitle %} NCRS
redesign - Index {% endblock %} {% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NCRS redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Overview tab</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="section">
      <h2 class="nhs-heading-l">Welcome</h2>

      <h5 class="nhsuk-body">
        Your user researcher will tell you which option to select
      </h5>
    </div>

    <form action="nhs-number-search" method="post" class="form">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">Choose an option</h1>
          </legend>

          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input
                class="nhsuk-radios__input"
                id="patient-details-page"
                name="scenario"
                type="radio"
                value="patient details page 2"
              />
              <label
                class="nhsuk-label nhsuk-radios__label"
                for="patient-details-page-2"
              >
                Admin
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input
                class="nhsuk-radios__input"
                id="overview-tab-1"
                name="scenario"
                type="radio"
                value="overview tab"
              />
              <label
                class="nhsuk-label nhsuk-radios__label"
                for="overview-tab-1"
              >
                Clinical 1
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input
                class="nhsuk-radios__input"
                id="overview-tab-2"
                name="scenario"
                type="radio"
                value="overview tab 2"
              />
              <label
                class="nhsuk-label nhsuk-radios__label"
                for="overview-tab-2"
              >
                Clinical 2
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Save and continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
