{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
Mobile SCRa - Accessibility Statement
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Accessibility Statement for Mobile Summary Care Record application</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Updated September 2019</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<section>
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-u-reading-width">
            <p>This service is run by NHS Digital. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
            <ul>
              <li>change colours, contrast levels and fonts</li>
              <li>zoom in up to 300% without the text spilling off the screen</li>
              <li>navigate most of the website using just a keyboard</li>
              <li>navigate most of the website using speech recognition software</li>
              <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p><a rel="external" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>


            <h2>How accessible this website is</h2>
            <p>
              We know that some parts of this service aren't fully accessible:
            </p>
            <ul>
              <li>
                tables within a patient's clinical information tab require horizontal scrolling on small mobile devices or when viewed at 200% zoom on a larger device
              </li>
              <li>
                the 'Copy' button within the patient header does not have a sufficient contrast
              </li>
              <li>
                you can't modify line height or spacing of text
              </li>
              <li>
                some of our online forms are difficult to navigate using just a keyboard or with a screenreader
              </li>
              <li>
                you can’t skip to the main content when using a screen reader
              </li>
              <li>
                our page titles aren't unique and don't indicate context sufficiently
              </li>
              <li>
                we do not have a correct heading structure on confirm/change role pages, our search results page and our overview, patient and cinical pages which may cause issues with some screen reading software
              </li>
              <li>
                pages will not work correctly if JavaScript is disabled. This is inline with the <a href="https://digital.nhs.uk/services/spine/spine-technical-information-warranted-environment-specification-wes">Warranted Environment Specification</a>
              </li>
              <li>
                most older PDF documents aren’t fully accessible to screen reader software
              </li>
              <li>
                some of our links will open in a new tab (we've labelled them so you know which these are)
              </li>
            </ul>

            <h2>What to do if you can’t access parts of this service</h2>

            <p>
              The way you access our service may differ based on the local trust that you work for. If you are having issues with accessing
            </p>

            <h2>Reporting accessibility problems with this service</h2>

            <p>
              We’re always looking to improve the accessibility of this service. If you find any problems that aren’t listed on this page or think we’re not meeting accessibility requirements, contact the National Service Desk on:
            </p>

            <p>
              Telephone: 0300 303 5035
            </p>

            <p>
              Email: <a href="mailto:ssd.nationalservicedesk@nhs.net?Subject=Mobile%20SCRa%20Acessibility%20problems">ssd.nationalservicedesk@nhs.net</a>
            </p>

            <h2>Enforcement procedure</h2>

            <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
              (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

          </div>
        </div>
      </div>
    </main>
  </div>

</section>
{% endblock %}
