{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Print labels{% endblock %}

{% block beforeContent %}




<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
  <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-1 nhsuk-heading-l">Print labels</h1>
    <a href="submit-success">Back to Birth Notification</a>

      <div class="nhsuk-u-padding-top-4 class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Print label</caption>
            <thead class="nhsuk-table__head">
             <tr class="nhsuk-table__row">
             <th class="nhsuk-table__header" scope="col">Select</th>
             <th class="nhsuk-table__header" scope="col">Product code</th>
              <th class="nhsuk-table__header" scope="col">Description</th>
                <th class="nhsuk-table__header" scope="col">Size (mm)</th>
                
            </tr>
        </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example-inline" type="radio" value="select">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  </label>
              </div>
            </td>
              <td class="nhsuk-table__cell">L3475</td>
              <td class="nhsuk-table__cell ">Avery 8x3 multi-function labels</td>
              <td class="nhsuk-table__cell ">70.0 x 36.0</td>
            </tr>
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example-inline" type="radio" value="select">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
        </label>
      </div></td>
              <td class="nhsuk-table__cell">L3652</td>
              <td class="nhsuk-table__cell ">Avery 7x3 multi-function labels</td>
              <td class="nhsuk-table__cell ">70.0 x 42.3</td>
            </tr>
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-3" name="example-inline" type="radio" value="select">
        <label class="nhsuk-label nhsuk-radios__label" for="example-3">
        </label>
      </div></td>
              <td class="nhsuk-table__cell">L7160</td>
              <td class="nhsuk-table__cell ">Avery 7x3 address labels</td>
              <td class="nhsuk-table__cell ">63.5 x 38.1</td>
            </tr>
            <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-4" name="example-inline" type="radio" value="select">
        <label class="nhsuk-label nhsuk-radios__label" for="example-4">
        </label>
      </div></td>
              <td class="nhsuk-table__cell">L7161</td>
              <td class="nhsuk-table__cell ">Avery 6x3 address labels</td>
              <td class="nhsuk-table__cell ">63.5 x 46.6
</td>
            </tr>
        </tbody>
      </table>
  </div>

  <div class="bna-list-buttons-container">
    <div class="nhsuk-grid-row bna-controls">
      <a class="nhsuk-button nhsuk-button--small nhsuk-button--blue disable-able nhsuk-button--disabled" href="#">
        Print selected labels with barcodes
      </a>
      <a class="nhsuk-button nhsuk-button--small nhsuk-button--blue disable-able nhsuk-button--disabled" href="#">
        Print selected labels without barcodes
      </a>
    </div>
    
  </div>
</div>


{% block pageScripts %}

<script src="/js/bna.js"></script>

<script>
  // Script for the view selected button

  $(".nhsuk-radios__input").change(function() {
    if ($("input:radio:checked").length > 0) {
      $(".disable-able").removeClass("nhsuk-button--disabled").removeClass("nhsuk-button--secondary").addClass("nhsuk-button--blue");
      $("#view-selected-link").attr("href", "./birth-notification");


    } else {
      $(".disable-able ").addClass("nhsuk-button--disabled").addClass("nhsuk-button--secondary").removeClass("nhsuk-button--blue");
    }


  });
</script>
{% endblock %}
{% endblock %}
