{% if data['scenario'] %}
  {% if data['scenario'] === "overview tab 2" %}
    {% set link = "/overviewtab/overview2" %}
  {% else %}
    {% set link = "/overviewtab/overview" %}
  {% endif %}
{% endif %}

{% extends 'layouts/layout-application.html' %} {% block pageTitle %} Dashboard
{% endblock %} {% block beforeContent %}{% include "./includes/banner.html" %}

<div class="nhsuk-full-width-container">
  <div class="scra-bordered-tabs-container">
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="{{ link or '/overviewtab/overview' }}">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient_1">Patient details</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Clinical</a>
        </li>
        {% if patient.viewdocs === "yes" %}
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block content %} {% include "includes/mobile-nav.html" %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">
      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span
              class="govuk-accordion__section-button scra-accordion__section-button"
              id="accordion-default-heading-1"
            >
              Clinical
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-1"
          class="govuk-accordion__section-content scra-accordion__section-content"
          aria-labelledby="accordion-default-heading-1"
        >
          <ul>
            <li>
              <a class="scra-accordion__link" href="#"
                >Summary Care Record</a
              >
            </li>
            <li>
              <a class="scra-accordion__link" href="#"
                >Covid 19 Vaccinations information</a
              >
            </li>
            {% if patient.CPISinfo === "yes" %}
            <li>
              <a class="scra-accordion__link" href="#child protection"
                >Child protection</a
              >
            </li>
            {% endif %}
            {% if patient.fgmInfo === "yes" %}
            <li>
              <a class="scra-accordion__link" href="#FGM info">Female genital mutilation</a>
            </li>
            {% endif %}
            {% if patient.RAinfo === "yes" %}
            <li>
              <a class="scra-accordion__link" href="#RA info">Reasonable adjustment</a>
            </li>
            {% endif %}
            {% if patient.BNAinfo === "yes" %}
            <li>
              <a class="scra-accordion__link" href="#BNA">Birth notification application</a>
            </li>
            {% endif %}
            
           
           
            
           
          </ul>
        </div>
      </div>
    
    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Summary Care Record</h1>
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">Summary Care Record</h2>
      </div>
      <div class="scra-card-content">
        <p>
          Summary Care Records (SCR) are an electronic record of important patient information, created from GP medical records. Additional Information in the SCR, such as details of long-term conditions, significant medical history, or specific communications needs, is now included by default for patients with an SCR, unless they have previously told the NHS that they did not want this information to be shared.
        </p>
        <div class="nhsuk-action-link nhsuk-u-margin-top-5">
          <a class="nhsuk-action-link__link" href="./check-care-setting-simple">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">View Summary Care Record with additional information</span>
          </a>
        </div>
      </div>
    </div>
    <h1 class="nhsuk-heading-l">COVID-19 Vaccination Information</h1>
    <a name="c"></a>
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m">COVID-19 Vaccination Information</h2>
      </div>
      <div class="scra-card-content">
        <p>
          Essential information about a patient's coronavirus vaccination history. This is the information recorded by the organisation(s) administering the COVID-19 vaccination(s) and may differ from the information provided to the patient, held on the patient's GP record, and/or Summary Care Record (SCR). It is possible that the patient may have had COVID-19 vaccination events that are not yet available here.
        </p>
        <div class="nhsuk-action-link nhsuk-u-margin-top-5">
          <a class="nhsuk-action-link__link" href="covid-19-vaccs">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">View COVID-19 Vaccination Information</span>
          </a>
        </div>
      </div>
    </div>


    
    {% if patient.CPISinfo === "yes" %}
      <a name="child protection"></a>
        <div class="section" id="care-alert-section">
          <h2 class="nhsuk-heading-l" id="child-protection">Child protection</h2>
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m">View child protection information</h3>
            </div>
            <div class="scra-card-content">
              
                <p>
                  The patient’s child protection information includes details about the type of protection order, the responsible local authority, contact numbers and who has previously viewed the information.
                </p>
                <div class="nhsuk-action-link nhsuk-u-margin-top-5">
                  <a class="nhsuk-action-link__link" href="child-care-check-care-setting">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">View child protection information</span>
                  </a>
                </div>
              
            </div>
          </div>
        </div>
        {% endif %}
        {% if patient.fgmInfo === "yes" %}
        <a name="FGM info"></a>
        <div class="section" id="care-alert-section">
          <h2 class="nhsuk-heading-l" id="fgm-protection">Female Genital Mutilation</h2>
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m">This child has a family history of female genital mutilation</h3>
            </div>
            <div class="scra-card-content">
              
                <p>
                  Family history is known to be relevant when safeguarding against FGM. Bear this in mind in relation to your wider safeguarding responsibilities. If you have any concerns about this patient you should: 
                  <ul>
                    <li>Follow your local safeguarding procedures</li>
                    <li>Speak with your manager or safeguarding lead</li>
                    <li>Consult the <a href="£">safeguarding women and girls at risk of FGMS</a>guidance on the GOV.UK website</li>
                  </ul>
                </p>
                <div class="nhsuk-action-link nhsuk-u-margin-top-5">
                  <a class="nhsuk-action-link__link" href="fgm-indicator">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">View FGM information sharing indicator</span>
                  </a>
                </div>
              
            </div>
          </div>
        </div>
        {% endif %}
        {% if patient.RAinfo === "yes" %}
        <a name="RA info"></a>
        <div class="section" id="care-alert-section">
          <h2 class="nhsuk-heading-l" id="child-protection">Reasonable adjustment flag</h2>
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m">View reasonable adjustment flag</h3>
            </div>
            <div class="scra-card-content">
              
                <p>
                  A Reasonable Adjustment Flag exists for this patient. The Equality Act (2010) states that the NHS and other public organisations have a duty to provide equal access to all services. This is called making reasonable adjustments. For example, providing wheelchair access. The Reasonable Adjustment Flag provides details of reasonable adjustments that should be considered when providing care for a patient. 
                </p>
                <div class="nhsuk-action-link nhsuk-u-margin-top-5">
                  <a class="nhsuk-action-link__link" href="ra-page">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Reasonable adjustment flag</span>
                  </a>
                </div>
              
            </div>
          </div>
        </div>
        {% endif %}
        {% if patient.BNAinfo === "yes" %}   
        <a name="BNA"></a>
        <div class="section" id="care-alert-section">
          <h2 class="nhsuk-heading-l" id="child-protection">Birth Notification</h2>
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m">Create a birth notification</h3>
            </div>
            <div class="scra-card-content">
              
                <p>
                  Use this feature to submit a birth notification for this patient. You will be asked to provide details of:  
                  <ul>
                    <li>the person notifying the birth</li>
                    <li>where the birth occurred</li>
                    <li>the baby and the birth</li>
                    <li>the baby's usual address and contact information</li>
                    <li>a separate discharge address if this is necessary</li>
                  </ul>
                  There are 5 steps to complete.
                </p>
                <div class="nhsuk-action-link nhsuk-u-margin-top-5">
                  <a class="nhsuk-action-link__link" href="./check-care-setting-simple">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Create a birth notification</span>
                  </a>
                </div>
              
            </div>
          </div>
        </div>
        {% endif %}

    <ul class="nhsuk-grid-row nhsuk-card-group">
    
 
    
    <!-- This reasonable adjustment flag might not be needed -->
    <!--Reasonable adjustments card-->
    <!--
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m">
                This patient does not show a requirement for Reasonable Adjustments
              </h3>
            </div>
            <div class="scra-card-content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-u-reading-width">
                    <form action="ra-start-page">
                      <p>
                        The NHS has a legal duty to make it easy for disabled and
                        non-disabled individuals to use health and care services, as
                        stated by the
                        <a
                          href="https://www.gov.uk/guidance/equality-act-2010-guidance"
                          target="_blank"
                          >Equality Act (2010) (opens in a new tab)</a
                        >.
                      </p>
                      <p>
                        A Reasonable Adjustments record ensures patients with physical
                        and mental impairments have equal access to healthcare
                        services.
                      </p>
                      <details class="nhsuk-details">
                        <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            Read more about Reasonable Adjustments
                          </span>
                        </summary>
                        <div class="nhsuk-details__text">
                          <p>
                            A Reasonable Adjustments record can show potential
                            adjustments for a patient. These may include (but aren't
                            limited to):
                          </p>
                          <ul>
                            <li>
                              communication needs (supported by the
                              <a
                                href="https://www.england.nhs.uk/ourwork/accessibleinfo/"
                                target="_blank"
                                >Accessibility Standard (opens in a new tab)</a
                              >)
                            </li>
                            <li>adjustments to the environment</li>
                            <li>
                              impairments, to help undersyand the necessary
                              adjustments
                            </li>
                          </ul>
                        </div>
                      </details>
                      <p>
                        If you believe this patient requires a Reasonable Adjustments
                        record, you can create one.
                      </p>
                      <button class="nhsuk-button" type="submit">
                        Create a Reasonable Adjustments record
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
    
      -->
      </ul>
      </div>
    
  </div>
</div>
{% endblock %}
