{% if data['scenario'] %}
  {% if data['scenario'] === "overview tab 2" %}
    {% set link = "/overviewtab/overview2" %}
  {% else %}
    {% set link = "/overviewtab/overview" %}
  {% endif %}
{% endif %}
{% extends 'layouts/layout-application.html' %} {% block pageTitle %} Create a
Reasonable Adjustments record {% endblock %} {% block beforeContent %}{% include "./includes/banner.html" %}

<div class="nhsuk-full-width-container">
  <div class="scra-bordered-tabs-container">
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="{{ link or '/overviewtab/overview' }}"
            >Overview</a
          >
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient_1">Patient details</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="clinical"
            >Clinical</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="clinical">
            <svg
              class="nhsuk-icon nhsuk-icon__chevron-left"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
              ></path>
            </svg>
            Go back to Clinical tab</a
          >
        </div>
        <h1 class="nhsuk-heading-xl">
          <span role="text">COVID-19 Vaccination information</span>
        </h1>

        <div class="nhsuk-u-reading width">
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
              This is the information recorded by the organisation(s)
              administering the COVID-19 vaccination(s) and may differ from the
              information provided to the patient, held on the patient's GP
              record, and/or Summary Care Record (SCR). It is possible that the
              patient may have had COVID-19 vaccination events that are not yet
              recorded here.
            </p>
          </div>
        </div>

<!-- table to do: 
1. fix the column headers
2. link down the page
3. span the whole page not the reading width
4. highlight needed on "yes" adverse reaction-->

<div class="nhsuk-table-responsive">
  <table role="table" class="nhsuk-table">
    <caption class="nhsuk-table__caption"></caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="nhsuk-u-font-size-19" scope="col">
          Dose
        </th>
        <th role="columnheader" class="nhsuk-u-font-size-19" scope="col">
          Date
        </th>
        <th role="columnheader" class="nhsuk-u-font-size-19" scope="col">
          Manufacturer
        </th>
        <th role="columnheader" class="nhsuk-u-font-size-19" scope="col">
          Adverse reactions
        </th>
        <th role="columnheader" class="nhsuk-u-font-size-19" scope="col">
          Link
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span><strong>Fourth</strong>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>1 Jun 2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>Pfizer
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span style="background-color: #da291c;padding:3px; color: white;">Yes  </span>
        </td> 
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span> <a href="#fourth">View details</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span><strong>Booster</strong>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>1 Jun 2021
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>Astra Zeneca
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>No
        </td> 
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span> <a href="#booster">View details</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span><strong>Second</strong>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>1 Jun 2020
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>Astra Zeneca
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>No
        </td> 
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span> <a href="#second">View details</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span><strong>First</strong>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>1 Mar 2020
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>Astra Zeneca
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> </span>No
        </td> 
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span> <a href="#first">View details</a>
        </td>
      </tr>
   
    </tbody>
  </table>
  

</div>


       <a id="fourth"></a>
        <div class="scra-card">
          <div class="scra-card-header">
            <h2 class="nhsuk-heading-l" id="fourth-dose">Fourth dose</h2>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date and time</dt>
                <dd class="nhsuk-summary-list__value">18-Dec-2020 14:25</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Vaccination product</dt>
                <dd class="nhsuk-summary-list__value">
                  COVID-19 mRNA Vaccine BNT162b2 30micrograms/0.3ml dose
                  concentrate for suspension for injection multidose vials
                  (Pfizer-BioNTech)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Manufacturer</dt>
                <dd class="nhsuk-summary-list__value">Pfizer-BioNTech</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">Leeds teaching hospital</dd>
              </div>
            </dl>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary nhsuk-u-padding-left-0">
                <span class="nhsuk-details__summary-text">
                  Other details about this dose
                </span>
              </summary>
              <div class="nhsuk-details__text nhsuk-u-padding-left-0">
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Site of vaccination</dt>
                    <dd class="nhsuk-summary-list__value">Right arm</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Route of vaccination name
                    </dt>
                    <dd class="nhsuk-summary-list__value">Intramuscular</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Dose</dt>
                    <dd class="nhsuk-summary-list__value">
                      1 pre-filled disposable injection
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Batch number</dt>
                    <dd class="nhsuk-summary-list__value">098765</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Expiry date of vaccine
                    </dt>
                    <dd class="nhsuk-summary-list__value">19-Jan-2021</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Care setting type</dt>
                    <dd class="nhsuk-summary-list__value">Pharmacy</dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="nhsuk-warning-callout">
              <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                  <span class="nhsuk-u-visually-hidden">Important: </span>
                  Advese reactions recorded:
                </span>
              </h3>
              <p>
                Yes. 2 adverse reaction(s) were recorded within 15 minutes of
                administering the vaccine.
              </p>
            </div>

            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary nhsuk-u-padding-left-0">
                <span class="nhsuk-details__summary-text">
                  Adverse reaction details
                </span>
              </summary>
              <div class="nhsuk-details__text nhsuk-u-padding-left-0">
                <h3>First adverse reaction</h3>

                <dl class="nhsuk-summary-list">
                

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Reaction</dt>
                    <dd class="nhsuk-summary-list__value">
                      Allergic reaction caused by vaccine product (disorder)
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Reaction description
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Erythema, papules, itching, blotches- all over the
                      patient’s body
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Severity</dt>
                    <dd class="nhsuk-summary-list__value">Severe</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Causative agent</dt>
                    <dd class="nhsuk-summary-list__value">
                      Immunisation course to achieve immunity against SARS-CoV-2
                      (severe acute respiratory syndrome coronavirus 2)
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Type </dt>
                    <dd class="nhsuk-summary-list__value">Intolerance</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Verification status
                    </dt>
                    <dd class="nhsuk-summary-list__value">Confirmed</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Evidence</dt>
                    <dd class="nhsuk-summary-list__value">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Onset</dt>
                    <dd class="nhsuk-summary-list__value">20200524</dd>
                  </div>
                </dl>
              </div>
              <div class="nhsuk-details__text nhsuk-u-padding-left-0">
                <h3>Second adverse reaction</h3>

                <dl class="nhsuk-summary-list">
                  

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Reaction </dt>
                    <dd class="nhsuk-summary-list__value">
                      Allergic reaction caused by vaccine product (disorder)
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Reaction description
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Erythema, papules, itching, blotches- all over the
                      patient’s body
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Severity</dt>
                    <dd class="nhsuk-summary-list__value">Severe</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Causative agent</dt>
                    <dd class="nhsuk-summary-list__value">
                      Immunisation course to achieve immunity against SARS-CoV-2
                      (severe acute respiratory syndrome coronavirus 2)
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Type </dt>
                    <dd class="nhsuk-summary-list__value">Intolerance</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Verification status
                    </dt>
                    <dd class="nhsuk-summary-list__value">Confirmed</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Evidence</dt>
                    <dd class="nhsuk-summary-list__value">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Onset</dt>
                    <dd class="nhsuk-summary-list__value">20200524</dd>
                  </div>
                </dl>
              </div>






            </details>
          </div>
        </div>

        <a id="booster"></a>
        <div class="scra-card">
          <div class="scra-card-header">
            <h2 class="nhsuk-heading-l" id="booster-dose">Booster dose</h2>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date and time</dt>
                <dd class="nhsuk-summary-list__value">1-Jun-2021 14:25</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Vaccination product</dt>
                <dd class="nhsuk-summary-list__value">
                  COVID-19 mRNA Vaccine BNT162b2 30micrograms/0.3ml dose
                  concentrate for suspension for injection multidose vials
                  
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Manufacturer</dt>
                <dd class="nhsuk-summary-list__value">Astra Zeneca</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">Leeds teaching hospital</dd>
              </div>
            </dl>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary nhsuk-u-padding-left-0">
                <span class="nhsuk-details__summary-text">
                  Other details about this dose
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Site of vaccination</dt>
                    <dd class="nhsuk-summary-list__value">Right arm</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Route of vaccination
                    </dt>
                    <dd class="nhsuk-summary-list__value">Intramuscular</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Dose</dt>
                    <dd class="nhsuk-summary-list__value">
                      1 pre-filled disposable injection
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Batch number</dt>
                    <dd class="nhsuk-summary-list__value">098765</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Expiry date of vaccine
                    </dt>
                    <dd class="nhsuk-summary-list__value">19-Jan-2022</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Care setting type</dt>
                    <dd class="nhsuk-summary-list__value">Pharmacy</dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>
        </div>

        <a id="second"></a>
        <div class="scra-card">
          <div class="scra-card-header">
            <h2 class="nhsuk-heading-l" id="second-dose">Second dose</h2>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date and time</dt>
                <dd class="nhsuk-summary-list__value">1-Jun-2020 14:25</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Vaccination product</dt>
                <dd class="nhsuk-summary-list__value">
                  COVID-19 mRNA Vaccine BNT162b2 30micrograms/0.3ml dose
                  concentrate for suspension for injection multidose vials
                  (Pfizer-BioNTech)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Manufacturer</dt>
                <dd class="nhsuk-summary-list__value">Astra Zeneca</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">Leeds teaching hospital</dd>
              </div>
            </dl>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary nhsuk-u-padding-left-0">
                <span class="nhsuk-details__summary-text">
                  Other details about this dose
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Site of vaccination</dt>
                    <dd class="nhsuk-summary-list__value">Right arm</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Route of vaccination name
                    </dt>
                    <dd class="nhsuk-summary-list__value">Intramuscular</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Dose</dt>
                    <dd class="nhsuk-summary-list__value">
                      1 pre-filled disposable injection
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Batch number</dt>
                    <dd class="nhsuk-summary-list__value">098765</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Expiry date of vaccine
                    </dt>
                    <dd class="nhsuk-summary-list__value">19-Jan-2021</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Care setting type</dt>
                    <dd class="nhsuk-summary-list__value">Pharmacy</dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>
        </div>

        <a id="first"></a>
        <div class="scra-card">
          <div class="scra-card-header">
            <h2 class="nhsuk-heading-l" id="first-dose">First dose</h2>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date and time</dt>
                <dd class="nhsuk-summary-list__value">1-Mar-2020 14:25</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Vaccination product</dt>
                <dd class="nhsuk-summary-list__value">
                  COVID-19 mRNA Vaccine BNT162b2 30micrograms/0.3ml dose
                  concentrate for suspension for injection multidose vials
                  (Pfizer-BioNTech)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Manufacturer</dt>
                <dd class="nhsuk-summary-list__value">Astra Zeneca</dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">Leeds teaching hospital</dd>
              </div>
            </dl>
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary nhsuk-u-padding-left-0">
                <span class="nhsuk-details__summary-text">
                  Other details about this dose
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Site of vaccination</dt>
                    <dd class="nhsuk-summary-list__value">Right arm</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Route of vaccination
                    </dt>
                    <dd class="nhsuk-summary-list__value">Intramuscular</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Dose</dt>
                    <dd class="nhsuk-summary-list__value">
                      1 pre-filled disposable injection
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Batch number</dt>
                    <dd class="nhsuk-summary-list__value">098765</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Expiry date of vaccine
                    </dt>
                    <dd class="nhsuk-summary-list__value">19-Jan-2021</dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Care setting type</dt>
                    <dd class="nhsuk-summary-list__value">Pharmacy</dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
