{% extends 'layouts/layout-application.html' %} {% block pageTitle %} Patient
details {% endblock %} {% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class="scra-bordered-tabs-container">
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block content %} {% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <!-- name card-->
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Usual name</dt>
            <dd class="nhsuk-summary-list__value">
              {{ patient.firstName }} {{ patient.lastName.toUpperCase() }}
              <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Preferred name</dt>
            <dd class="nhsuk-summary-list__value">
              None recorded <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Birth name</dt>
            <dd class="nhsuk-summary-list__value">
              None recorded <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
        </dl>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"> View name history </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>What goes here?</p>
          </div>
        </details>
      </div>
    </div>

    <!--Key details -->
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">Key details</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Gender</dt>
            <dd class="nhsuk-summary-list__value">Male</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS Number</dt>
            <dd class="nhsuk-summary-list__value">1234567890</dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Date of Birth</dt>
            <dd class="nhsuk-summary-list__value">18-Mar-2013</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Birth order</dt>
            <dd class="nhsuk-summary-list__value">1</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Place of birth</dt>
            <dd class="nhsuk-summary-list__value">Albania</dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Language</dt>
            <dd class="nhsuk-summary-list__value">Ukranian</dd>
          </div>
        </dl>
      </div>
    </div>

    <!--Sumary care record consent prefs-->
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">
          Summary Care Record/Consent Preference
        </h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">SCR Consent preference</dt>
            <dd class="nhsuk-summary-list__value">
              Premission to view required
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!--Reasonable adjustments block-->
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m">
          This patient does not show a requirement for Reasonable Adjustments
        </h3>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-u-reading-width">
              <form action="ra-start-page">
                <p>
                  The NHS has a legal duty to make it easy for disabled and
                  non-disabled individuals to use health and care services, as
                  stated by the
                  <a
                    href="https://www.gov.uk/guidance/equality-act-2010-guidance"
                    target="_blank"
                    >Equality Act (2010) (opens in a new tab)</a
                  >.
                </p>
                <p>
                  A Reasonable Adjustments record ensures patients with physical
                  and mental impairments have equal access to healthcare
                  services.
                </p>
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Read more about Reasonable Adjustments
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <p>
                      A Reasonable Adjustments record can show potential
                      adjustments for a patient. These may include (but aren't
                      limited to):
                    </p>
                    <ul>
                      <li>
                        communication needs (supported by the
                        <a
                          href="https://www.england.nhs.uk/ourwork/accessibleinfo/"
                          target="_blank"
                          >Accessibility Standard (opens in a new tab)</a
                        >)
                      </li>
                      <li>adjustments to the environment</li>
                      <li>
                        impairments, to help undersyand the necessary
                        adjustments
                      </li>
                    </ul>
                  </div>
                </details>
                <p>
                  If you believe this patient requires a Reasonable Adjustments
                  record, you can create one.
                </p>
                <button class="nhsuk-button" type="submit">
                  Create a Reasonable Adjustments record
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2nd column-->
  <!-- Address-->
  <div class="nhsuk-grid-column-one-half">
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">Addresses</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Usual address</dt>
            <dd class="nhsuk-summary-list__value">
              Vantage House <br />
              21-23 Willington Street
              <br />
              Leeds <br />
              LS1 4DL
              <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Correspondence Addresses</dt>
            <dd class="nhsuk-summary-list__value">
              14 Cherry Drive <br />
              Canterbury<br />
              CT2 8HF<br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Temporary Address</dt>
            <dd class="nhsuk-summary-list__value">
              None recorded <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
        </dl>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              View Address history
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>What goes here?</p>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
{% endblock %}
