{% extends 'layouts/layout-application.html' %} {% block pageTitle %} Patient
details {% endblock %} {% block beforeContent %}{% include "./includes/banner.html" %}

<div class="nhsuk-full-width-container">
  <div class="scra-bordered-tabs-container">
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="clinical">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block content %} {% include "includes/mobile-nav.html" %}
<!--Back link needs to go back to search results if navigated to via the search results-->

<div class="nhsuk-back-link">
  <a
    class="nhsuk-back-link__link"
    href="patient-demographics#chargeable-status"
  >
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Back</a
  >
</div>
<!-- Main grid-->
<div class="nhsuk-full-width-container">

  <!--Key demographics card group-->
  <h3 class="nhsuk-heading-m">Key demographics information</h3>
<ul class="nhsuk-grid-row nhsuk-card-group">
<!--Name card-->
<section id="name-card" title="name-card"></section>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="scra-card">
    <div class="scra-card-header">
      <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
    </div>
    <div class="scra-card-content">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Usual name</dt>
          <dd class="nhsuk-summary-list__value">
            {{ patient.firstName }} {{ patient.lastName.toUpperCase() }}
            <br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Preferred name</dt>
          <dd class="nhsuk-summary-list__value">
            None recorded <br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Birth name</dt>
          <dd class="nhsuk-summary-list__value">
            None recorded <br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>
      </dl>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text"> View name history </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>What goes here?</p>
        </div>
      </details>
    </div>
  </div>
</li>
<!--Key details-->
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <section id="key-details-card" title="key-details-card"></section>
  <div class="scra-card">
    <div class="scra-card-header">
      <h3 class="nhsuk-heading-m" id="patient-details-names">Key details</h3>
    </div>
    <div class="scra-card-content">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Gender</dt>
          <dd class="nhsuk-summary-list__value">Male</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">NHS Number</dt>
          <dd class="nhsuk-summary-list__value">1234567890</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date of Birth</dt>
          <dd class="nhsuk-summary-list__value">18-Mar-2013</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Birth order</dt>
          <dd class="nhsuk-summary-list__value">1</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Place of birth</dt>
          <dd class="nhsuk-summary-list__value">Albania</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Language</dt>
          <dd class="nhsuk-summary-list__value">Ukranian</dd>
        </div>
      </dl>
      <h3 class="nhsuk-heading-m" id="patient-details-names">
        Summary Care Record/Consent Preference
      </h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">SCR Consent preference</dt>
          <dd class="nhsuk-summary-list__value">
            Premission to view required
          </dd>
        </div>
      </dl>
    </div>
  </div>
</li>

<!--Card put back if needed
  
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="scra-card">
    <div class="scra-card-header">
      <h3 class="nhsuk-heading-m" id="patient-details-names">
        Summary Care Record/Consent Preference
      </h3>
    </div>
    <div class="scra-card-content">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">SCR Consent preference</dt>
          <dd class="nhsuk-summary-list__value">
            Premission to view required
          </dd>
        </div>
      </dl>
    </div>
  </div>

</li> -->
<!--Consent preferences-->


<!--addresses-->
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <section id="addresses-card" title="addresses-card"></section>
  <div class="scra-card">
    <div class="scra-card-header">
      <h3 class="nhsuk-heading-m" id="patient-details-names">Addresses</h3>
    </div>
    <div class="scra-card-content">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Usual address</dt>
          <dd class="nhsuk-summary-list__value">
            Vantage House <br />
            21-23 Willington Street
            <br />
            Leeds <br />
            LS1 4DL
            <br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Correspondence Addresses</dt>
          <dd class="nhsuk-summary-list__value">
            14 Cherry Drive <br />
            Canterbury<br />
            CT2 8HF<br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Temporary Address</dt>
          <dd class="nhsuk-summary-list__value">
            None recorded <br />
            <em>From 15-Apr-2017 </em>
          </dd>
        </div>
      </dl>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            View Address history
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>What goes here?</p>
        </div>
      </details>
    </div>
  </div>
</li>
<!--contact details-->
<section id="contact-details-nok" title="contact-details-nok"></section>
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="scra-card">
    <div class="scra-card-header">
      <h3 class="nhsuk-heading-m" id="patient-details-names">
        Contact details
      </h3>
    </div>
    <div class="scra-card-content">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Contact preferences</dt>
          <dd class="nhsuk-summary-list__value">Telephone</dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Written Contact Preferences</dt>
          <dd class="nhsuk-summary-list__value">Large print</dd>
        </div>
        
          
      </dl>
      <h3 class="nhsuk-heading-m" id="patient-details-names">
        Telephone </h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Main home</dt>
          <dd class="nhsuk-summary-list__value">06958495837<br />
            <em>From 15-Apr-2017 </em></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Mobile</dt>
          <dd class="nhsuk-summary-list__value">0498495849059 <br />
            <em>From 15-Apr-2017 </em></dd> </div>
          </dl>
          <h3 class="nhsuk-heading-m" id="patient-details-names">
            Email </h3>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Main home</dt>
              <dd class="nhsuk-summary-list__value">test@email.com<br />
                <em>From 15-Apr-2017 </em></dd>
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Fax</dt>
              <dd class="nhsuk-summary-list__value">Not recorded </dd> </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Textphone</dt>
                <dd class="nhsuk-summary-list__value">Not recorded </dd> </div>

              </dl>
        </div>
    </div>

</li>

</ul>



</div>
<!--GP and care provider information group-->
<div class="nhsuk-full-width-container">
  <h3 class="nhsuk-heading-m">GP and care providers </h3>
  <section id="GP-card" title="GP-card"></section>
<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">General practice</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Practice name</dt>
            <dd class="nhsuk-summary-list__value">
              GRANGE PARK SURGERY
            
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Organisation code</dt>
            <dd class="nhsuk-summary-list__value">
              B83019
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Address</dt>
            <dd class="nhsuk-summary-list__value">
              GRANGE ROAD <br />
              BURLEY IN WHARFEDALE <br />
              ILKLEY <br />
              WEST YORKSHIRE <br />
              LS29 7HG <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Telephone</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
        </dl>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"> View General Practice history </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>What goes here?</p>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"> Show commissioning organisation and high level health geography </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>What goes here?</p>
          </div>
        </details>
        <h3 class="nhsuk-heading-m" id="patient-details-names">GPs registered at this practice</h3>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">
              Mr Alan Milford
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">GP Code</dt>
            <dd class="nhsuk-summary-list__value">
              G5675671
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">GMC code</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </li>
 <!--Nomination/Prescription info-->
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <section id="nominations-card" title="nominations-card"></section>
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">Nominated Pharmacy</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">
              ASDA STORED LTD  <br />
              <em>From 15-Apr-2017 </em>
            
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Organisation code</dt>
            <dd class="nhsuk-summary-list__value">
              FXa06
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Address</dt>
            <dd class="nhsuk-summary-list__value">
              ASDA STORE <br />
              BURLEY IN WHARFEDALE <br />
              ILKLEY <br />
              WEST YORKSHIRE <br />
              LS29 7HG <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Telephone</dt>
            <dd class="nhsuk-summary-list__value">
              03847293493
            </dd>
          </div>
        </dl>
       
      
        <h3 class="nhsuk-heading-m" id="patient-details-names">Dispensing doctor</h3>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Name</dt>
            <dd class="nhsuk-summary-list__value">
              No dispensing doctor information recorded for this patient.
            </dd>
          </div>
          </dl>
        
          <h3 class="nhsuk-heading-m" id="patient-details-names">Nominated medical appliance</h3>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Name</dt>
              <dd class="nhsuk-summary-list__value">
                AMCARE LTD <br />
                <em>From 15-Apr-2017 </em>
              </dd>
            </div>  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Organisation code</dt>
              <dd class="nhsuk-summary-list__value">
                FXa06
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Address</dt>
              <dd class="nhsuk-summary-list__value">
                GRANGE ROAD <br />
                BURLEY IN WHARFEDALE <br />
                ILKLEY <br />
                WEST YORKSHIRE <br />
                LS29 7HG <br />
                <em>From 15-Apr-2017 </em>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Telephone</dt>
              <dd class="nhsuk-summary-list__value">
                <em>Not recorded</em>
              </dd>
            </div>
          
        </dl>
      </div>
    </div>
  </li>
</ul>
</div>
<!--Contacts and next of kin-->
<div class="nhsuk-full-width-container">
  <h3 class="nhsuk-heading-m">Contacts and next of kin </h3>
<ul class="nhsuk-grid-row nhsuk-card-group">
  <section id="contacts-card" title="contacts-card"></section>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">Not recorded</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Relationship</dt>
            <dd class="nhsuk-summary-list__value">
              Partner <em>(Personal relationship)</em>
            
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS Number</dt>
            <dd class="nhsuk-summary-list__value">
              9871231234
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Address</dt>
            <dd class="nhsuk-summary-list__value">
              GRANGE ROAD <br />
              BURLEY IN WHARFEDALE <br />
              ILKLEY <br />
              WEST YORKSHIRE <br />
              LS29 7HG <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Telephone</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Email</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Language</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Preferred method of contact</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Written contact preferences</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Copy correspondence</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
        </dl>
      
 
      </div>
    </div>
  </li>
 <!--Next contact-->
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="scra-card">
      <div class="scra-card-header">
        <h3 class="nhsuk-heading-m" id="patient-details-names">1. Mrs Smith Jemima</h3>
      </div>
      <div class="scra-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Relationship</dt>
            <dd class="nhsuk-summary-list__value">
              Partner <em>(Personal relationship)</em>
            
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">NHS Number</dt>
            <dd class="nhsuk-summary-list__value">
              9871231234
            </dd>
          </div>
  
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Address</dt>
            <dd class="nhsuk-summary-list__value">
              GRANGE ROAD <br />
              BURLEY IN WHARFEDALE <br />
              ILKLEY <br />
              WEST YORKSHIRE <br />
              LS29 7HG <br />
              <em>From 15-Apr-2017 </em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Telephone</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Email</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Language</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Preferred method of contact</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Written contact preferences</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Copy correspondence</dt>
            <dd class="nhsuk-summary-list__value">
              <em>Not recorded</em>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </li>
</ul>
</div>
<!--information sharing cards-->
<div class="nhsuk-full-width-container">
  <h3 class="nhsuk-heading-m">Information flags </h3>

<ul class="nhsuk-grid-row nhsuk-card-group">
<!--Child protection alert-->
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <a name="care-alert"></a>
    <div class="section" id="care-alert-section">
      <h2 class="nhsuk-heading-l" id="child-protection">Child protection</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">View child protection information</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p>
              The patient’s child protection information includes details about the type of protection order, the responsible local authority, contact numbers and who has previously viewed the information.
            </p>
            <div class="nhsuk-action-link nhsuk-u-margin-top-5">
              <a class="nhsuk-action-link__link" href="./check-care-setting-simple">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">View child protection information</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</li>
<!--FGM alert-->
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <a name="care-alert"></a>
    <div class="section" id="care-alert-section">
      <h2 class="nhsuk-heading-l" id="child-protection">Female Genital Mutilation</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">This child has a family history of female genital mutilation</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p>
              Family history is known to be relevant when safeguarding against FGM. Bear this in mind in relation to your wider safeguarding responsibilities. If you have any concerns about this patient you should: 
              <ul>
                <li>Follow your local safeguarding procedures</li>
                <li>Speak with your manager or safeguarding lead</li>
                <li>Consult the <a href="£">safeguarding women and girls at risk of FGMS</a>guidance on the GOV.UK website</li>
              </ul>
            </p>
            <div class="nhsuk-action-link nhsuk-u-margin-top-5">
              <a class="nhsuk-action-link__link" href="./check-care-setting-simple">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">View FGM information sharing indicator</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


</li>
<!--NEW RA card -->
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <a name="care-alert"></a>
    <div class="section" id="care-alert-section">
      <h2 class="nhsuk-heading-l" id="child-protection">Reasonable adjustment flag</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">View reasonable adjustment flag</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p>
              A Reasonable Adjustment Flag exists for this patient. The Equality Act (2010) states that the NHS and other public organisations have a duty to provide equal access to all services. This is called making reasonable adjustments. For example, providing wheelchair access. The Reasonable Adjustment Flag provides details of reasonable adjustments that should be considered when providing care for a patient. 
            </p>
            <div class="nhsuk-action-link nhsuk-u-margin-top-5">
              <a class="nhsuk-action-link__link" href="./check-care-setting-simple">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Reasonable adjustment flag</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


</li>


<!-- This reasonable adjustment flag might not be needed -->
<!--Reasonable adjustments card-->
<!--
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">
            This patient does not show a requirement for Reasonable Adjustments
          </h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-u-reading-width">
                <form action="ra-start-page">
                  <p>
                    The NHS has a legal duty to make it easy for disabled and
                    non-disabled individuals to use health and care services, as
                    stated by the
                    <a
                      href="https://www.gov.uk/guidance/equality-act-2010-guidance"
                      target="_blank"
                      >Equality Act (2010) (opens in a new tab)</a
                    >.
                  </p>
                  <p>
                    A Reasonable Adjustments record ensures patients with physical
                    and mental impairments have equal access to healthcare
                    services.
                  </p>
                  <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        Read more about Reasonable Adjustments
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <p>
                        A Reasonable Adjustments record can show potential
                        adjustments for a patient. These may include (but aren't
                        limited to):
                      </p>
                      <ul>
                        <li>
                          communication needs (supported by the
                          <a
                            href="https://www.england.nhs.uk/ourwork/accessibleinfo/"
                            target="_blank"
                            >Accessibility Standard (opens in a new tab)</a
                          >)
                        </li>
                        <li>adjustments to the environment</li>
                        <li>
                          impairments, to help undersyand the necessary
                          adjustments
                        </li>
                      </ul>
                    </div>
                  </details>
                  <p>
                    If you believe this patient requires a Reasonable Adjustments
                    record, you can create one.
                  </p>
                  <button class="nhsuk-button" type="submit">
                    Create a Reasonable Adjustments record
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

  -->
  </ul>
  </div>



    
    </div>
  </div>
</div>
{% endblock %}
