{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="./patient-details-no-alert">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="free-nhs-banner">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="padding-left:60px;">Green: Access to free NHS services subject to Ordinarily Resident status - check evidence<span style="padding-left:20px;font-size:15px;"><a href="#" style="color:white;">Additional info</a></span>
            <svg id="bannertick" class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="background:white;" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
          </p>
        </ul>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">




    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter"><p></p></div>
      <div class="nhsuk-grid-column-two-quarters">
  </div>
  <div class="nhsuk-grid-column-two-thirds">


        <div class="">
          <h2 id="bluebanner2">Search results</h2>
        </div>
        <div class="nhsuk-u-padding-bottom-3"></div>


        <p style="position:relative; top:13px; color:black; margin:0px; padding:0px">Showing search results for historical status from 09-Feb-2017 to 11-Feb-2019:</p>

        <div class="nhsuk-u-padding-bottom-3"></div>

        <div class="nhsuk-u-padding-bottom-3"></div>

          <div class="scra-card-header">
          </div>
          <div id="historycontent" class="scra-card-content">
            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col">Immigration status from</th>
                    <th class="nhsuk-table__header" scope="col">Immigration status to</th>
                    <th class="nhsuk-table__header" scope="col">Status</th>
                    <th class="nhsuk-table__header" scope="col">Home Office Reference</th>
                    <th class="nhsuk-table__header" scope="col">BRP Number</th>
                    <th class="nhsuk-table__header" scope="col">Country of Nationality</th>
                    <th class="nhsuk-table__header" scope="col">System effective from</th>
                    <th class="nhsuk-table__header" scope="col">System effective to</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">26-Dec-2019</td>
                    <td class="nhsuk-table__cell ">No expiry</td>
                    <td class="nhsuk-table__cell ">Green</td>
                    <td class="nhsuk-table__cell ">AA-abcd-1234-5678-efgh-0</td>
                    <td class="nhsuk-table__cell ">988664422</td>
                    <td class="nhsuk-table__cell ">Spain</td>
                    <td class="nhsuk-table__cell ">14-Oct-2014</td>
                    <td class="nhsuk-table__cell ">14-Nov-2015</td>
                  </tr>
                </tbody>
              </table>
              <div class="nhsuk-u-padding-top-3"></div>
              <div class="nhsuk-u-padding-bottom-3"></div>



              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-action-link" id="searchforhistory">
                  <a class="nhsuk-action-link__link" href="date-search">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span id="gethistoric" onClick="toggle();"><span class="nhsuk-action-link__text"><span>Search new date range</span>
                  </a>
                  <div class="nhsuk-u-padding-bottom-4"></div>
                </div>
              </div>
            </div>




          </div>
        </div>

        {% endblock %}

        {%block pageScripts%}

        <html>

        <head>
          <script>
            document.getElementById("gethistoric").onclick = function() {
              if (document.getElementById("hidethis").style.display == 'none') {
                document.getElementById("hidethis").style.display =
                  ''; // set to table-row instead of an empty string
              } else {
                document.getElementById("hidethis").style.display = 'none';
              }
            }
          </script>
        </head>

        <body>
          {% endblock %}
