{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Review & save
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-l">
          <span role="text">Review and save</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 4 of 4</span>
        </h2>

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="ra-step-3">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Return to step 3</a>
        </div>

        <p class="nhsuk-body">
          Please review your updates before creating the record. You can edit or delete details as required if you need to.
        </p>
      </div>

      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="ra-consent-section">Consent</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="card-content-section">
                <p class="nhsuk-body">This Reasonable Adjustment record was created with consent from the patient</p>
                <h5 class="nhsuk-heading-xs">
                  <span role="text">Supporting information:</span>
                  <span class="nhsuk-caption-m nhsuk-caption--bottom">No supporting information added</span>
                </h5>
                <p class="nhsuk-body-s">Added: 26-Apr-2019 by James Smith (GO) at Leeds Teaching Hospitals NHS Trust</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="ra-impairments-section">Patient impairment(s)</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters nhsuk-u-three-quarters-tablet">
              <div class="card-content-section">
                <div class="impairment-heading">
                  <h4 class="nhsuk-heading-s">
                    <span role="text">Sensory disability(s)</span>
                  </h4>
                  <p class="pds-edit-link"><a href="ra-step-2">Edit</a></p>
                </div>
                <h5 class="nhsuk-heading-xs">
                  <span role="text">Supporting information:</span>
                  <span class="nhsuk-caption-m nhsuk-caption--bottom">No supporting information added</span>
                  <a href="#" class="remove-adjustment-link">Delete</a>
                </h5>
                <p class="nhsuk-body-s">Added: 26-Apr-2019 by James Smith (GO) at Leeds Teaching Hospitals NHS Trust</p>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            </div>
          </div>
        </div>
      </div>

      <div class="scra-card" id="added-adjustments-summary">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="ra-adjustments-section">Reasonable Adjustments</h3>
        </div>


        <div class="scra-card-content no-adjustments-added-text">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters nhsuk-u-three-quarters-tablet">
              <div class="card-content-section">
                <h4 class="nhsuk-heading-s">
                  <span role="text">No Reasonable Adjustments have been added</span>
                </h4>
                <p class="nhsuk-body">If you would like to add a Reasonable Adjustment for this patient please <a href="ra-step-3">return to Step 3</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Creating a Reasonable Adjustment record</h3>
        <p>By saving and completing this process, you confirm that you wish to create a Reasonable Adjustment record for this patient and have obtained consent (or made a best interest decision) to do so.
        </p>
        <p>Any information entered into this record will be made available nationally to organisations that provide direct care across the NHS.</p>
      </div>

      <div class="btn-group">
        <form action="patient-overview-flag-added">
          <button class="nhsuk-button" type="submit">
            Save and complete
          </button>

          <p class="cancel-btn-link"><a href="manage-alerts">Cancel</a></p>
        </form>
      </div>

    </div>
  </div>
</div>
{% block pageScripts %}
<script src="/js/ra.js"></script>
{% endblock %}
{% endblock %}
