{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Add Reasonable Adjustments
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-l">
          <span role="text">Add Reasonable Adjustments</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 3 of 4</span>
        </h2>

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="ra-step-2">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Return to step 2</a>
        </div>

        <p class="nhsuk-body">
          There are two ways you can add a Reasonable Adjustment.
        </p>

        <p class="nhsuk-body">
          The first way is to search for a Reasonable Adjustment by category.
        </p>

        <p class="nhsuk-body">
          The second way is to type keywords until you find a match.
        </p>

        <h3 class="nhsuk-heading-xs">1) Search for a Reasonable Adjustment by category</h3>

        <div id="ra-categories-container">

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Reasonable Adjustments categories
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Communication support (20 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="comms-support-hint">

                      <span class="nhsuk-hint" id="comms-support-hint">
                        Select the relevant options.
                      </span>

                      <div class="nhsuk-checkboxes">

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="lip-read-checkbox" name="comms-support" type="checkbox" value="Does lip read">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="lip-read-checkbox">
                            Does lip read
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="comms-device-checkbox" name="comms-support" type="checkbox" value="Does use communication device">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="comms-device-checkbox">
                            Does use communication device
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="test-cb-1" name="comms-support" type="checkbox" value="Does use hearing aid">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="test-cb-1">
                            Does use hearing aid
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="prefers-written-comm-checkbox" name="comms-support" type="checkbox" value="Preferred method of communication: written">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="prefers-written-comm-checkbox">
                            Preferred method of communication: written
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="citizen-advocate-checkbox" name="comms-support" type="checkbox" value="Uses a citizen advocate">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="citizen advocate-checkbox">
                            Uses a citizen advocate
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="legal-advocate-checkbox" name="comms-support" type="checkbox" value="Uses a legal advocate">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="legal-advocate-checkbox">
                            Uses a legal advocate
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="alt-comms-skill-checkbox" name="comms-support" type="checkbox" value="Uses alternative communication skill">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="alt-comms-skill-checkbox">
                            Uses alternative communication skill
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="uses-bsl-checkbox" name="comms-support" type="checkbox" value="Uses British Sign Language">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="uses-bsl-checkbox">
                            Uses British Sign Language
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="uses-transliterator-checkbox" name="comms-support" type="checkbox" value="Uses cued speech transliterator">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="uses-transliterator-checkbox">
                            Uses cued speech transliterator
                          </label>
                        </div>

                      </div>
                    </fieldset>

                  </div>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Requires communication professional (25 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="comms-support-hint">

                      <span class="nhsuk-hint" id="comms-support-hint">
                        Select the relevant options.
                      </span>

                      <div class="nhsuk-checkboxes">

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="bsl-interpreter-checkbox" name="comms-professional" type="checkbox" value="British Sign Language interpreter needed">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="bsl-interpreter-checkbox">
                            British Sign Language interpreter needed
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="hands-on-signing-checkbox" name="comms-professional" type="checkbox" value="Hands-on signing interpreter needed">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="hands-on-signing-checkbox">
                            Hands-on signing interpreter needed
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="makaton-interpreter-checkbox" name="comms-professional" type="checkbox" value="Makaton Sign Language interpreter needed">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="makaton-interpreter-checkbox">
                            Makaton Sign Language interpreter needed
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="needs-advocate-checkbox" name="comms-professional" type="checkbox" value="Needs an advocate">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="needs-advocate-checkbox">
                            Needs an advocate
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="deafblind-alphabet-checkbox" name="comms-professional" type="checkbox" value="Requires deafblind block alphabet interpreter">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="deafblind-alphabet-checkbox">
                            Requires deafblind block alphabet interpreter
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="deafblind-communicator-checkbox" name="comms-professional" type="checkbox" value="Requires deafblind communicator guide">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="deafblind-communicator-checkbox">
                            Requires deafblind communicator guide
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="deafblind-haptic-checkbox" name="comms-professional" type="checkbox" value="Requires deafblind haptic communication interpreter">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="deafblind-haptic-checkbox">
                            Requires deafblind haptic communication interpreter
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="deafblind-manual-checkbox" name="comms-professional" type="checkbox" value="Requires deafblind manual alphabet interpreter">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="deafblind-manual-checkbox">
                            Requires deafblind manual alphabet interpreter
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="lipspeaker-checkbox" name="comms-professional" type="checkbox" value="Requires lipspeaker">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="lipspeaker-checkbox">
                            Requires lipspeaker
                          </label>
                        </div>

                      </div>
                    </fieldset>

                  </div>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Requires specific contact method (9 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Requires specific information format (11 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Additional communications support (18 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Adjustments for providing Additional Support to patients (9 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Adjustments for Individual Care requirements (20 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Adjustments to the environment (6 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Adjustments for Specific Clinical Risks (18 items)
                  </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Bespoke Adjustment
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="input-width-30">
                      Add a bespoke adjustment
                    </label>
                    <span class="nhsuk-hint">
                      If you can't find a matching Adjustment from the pre-defined categories, you can add a custom Adjustment yourself.
                    </span>
                    <input class="nhsuk-input nhsuk-input--autocomplete" id="bespoke-flags" name="bespoke-reasonable-adjustments" type="text">
                    <a class="nhsuk-button nhsuk-button--blue nhsuk-button--autocomplete" id="add-bespoke-flag-btn">Add</a>
                  </div>
                </div>
              </details>
            </div>
          </details>

        </div>

        <p class="nhsuk-body">
          <strong>Or</strong>
        </p>

        <div id="nhsuk-form-group-site" class="ui-widget nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label__strong" for="reasonable-adjustments">2) Type keywords until you find a match</label>
          <span class="nhsuk-hint" id="input-with-hint-text-hint">
            <p>If you cannot find a match you can create a bespoke adjustment by continuing to type.</p>
          </span>
          <div>
            <input class="nhsuk-input nhsuk-input--autocomplete" id="ra-flags" name="reasonable-adjustments" type="text">
            <a data-target="#raModal" data-toggle="modal" href="#raModal" class="open_modal nhsuk-button nhsuk-button--blue nhsuk-button--autocomplete" id="select-ra-flag-btn">Select</a>
          </div>
        </div>

      </div>
    </div>
    <div class="nhsuk-grid-column-one-third added-adjustments-container" id="added-adjustments-container">
      <h3 class="nhsuk-heading-s">Added Reasonable Adjustments</h3>
      <div class="added-adjustments-list">
        <div class="no-adjustments-placeholder">
          <p class="nhsuk-body-s">
            You have not added any Reasonable Adjustments yet.
          </p>
          <p class="nhsuk-body-s ra-list-text">
            Please add a Reasonable Adjustment for this patient and it will be listed here.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="btn-group">
        <a class="nhsuk-button" id="ra-step-3-btn" href="ra-step-4">
          Next
        </a>

        <a class="nhsuk-button nhsuk-button--reverse" href="ra-step-4">
          Skip step
        </a>

        <p class="cancel-btn-link"><a href="manage-alerts">Cancel</a></p>
      </div>
    </div>
  </div>


  <!---  MODAL CONTENT --->

  <div id="raModal" class="modal ra-modal">

    <!-- Modal content -->

    <div class="modal-content ra-modal-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full-width">
            <span class="close">&times;</span>
            <h3>Reasonable Adjustment selected</h3>
          </div>
        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-inset-text added-ra">
            <span class="nhsuk-u-visually-hidden">Reasonable Adjustment information: </span>
            <p class="flag-category modal-flag-category"></p>
            <p class="flag-desc modal-flag-desc"></p>
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="ra-supporting-info">
              Add supporting information <strong>(optional)</strong>
            </label>
            <textarea class="nhsuk-textarea" id="ra-supporting-info" name="ra-supporting-info" rows="3"></textarea>
          </div>
          <a class="nhsuk-button nhsuk-button--blue" id="add-ra-flag-btn">Add</a>
          <p class="cancel-btn-link cancel-ra-btn-link"><a class="cancel-link">Cancel</a></p>
        </div>

      </div>
    </div>
  </div>


</div>

<div class="ra-footer-container ">
  <div class="ra-footer nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-button--blue ra-count-btn" href="#added-adjustments-container">
          View Reasonable Adjustments (<span class="ra-count">0</span>)
        </a>
      </div>
    </div>
  </div>
</div>

{% block pageScripts %}
{% endblock %}
{% endblock %}
