{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Create a Reasonable Adjustments record
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="patient-details">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="patient-details">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back to Patient details</a>
        </div>
        <h2 class="nhsuk-heading-l">
          <span role="text">COVID-19 Vaccination information</span>
        </h2>

        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="first-dose">First dose of COVID-19 vaccine</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="nhsuk-summary-list__value">
                  18-Dec-2020 14:25
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Vaccination product
                </dt>
                <dd class="nhsuk-summary-list__value">
                  COVID-19 mRNA Vaccine BNT162b2 30micrograms/0.3ml dose concentrate for suspension for injection multidose vials (Pfizer-BioNTech)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Manufacturer
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Pfizer-BioNTech
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Organisation
                </dt>
                <dd class="nhsuk-summary-list__value">
                  C54321
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Adverse reaction(s) recorded?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <b>Yes.</b> 1 adverse reaction(s) were recorded within 15 minutes of administering the vaccine.
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Reaction (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Allergic reaction caused by vaccine product (disorder)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Reaction description (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Erythema, papules, itching, blotches- all over the patient’s body
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Severity (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Severe
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Causative agent (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Immunisation course to achieve immunity against SARS-CoV-2 (severe acute respiratory syndrome coronavirus 2)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Type (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Intolerance
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Verification status (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Confirmed
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Evidence (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Onset (1)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  20200524
                </dd>
              </div>

            </dl>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  More information
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <dl class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Site of vaccination
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Right arm
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Route of vaccination name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Intramuscular
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Dose
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      1 pre-filled disposable injection
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Batch number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      098765
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Expiry date of vaccine
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      19-Jan-2021
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Care setting type
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Pharmacy
                    </dd>
                  </div>

                </dl>
              </div>
            </details>

          </div>
        </div>

        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="first-dose">Second dose of COVID-19 vaccine</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Not recorded
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Vaccination product
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Not recorded
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Manufacturer
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Not recorded
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Organisation
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Not recorded
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Adverse reaction(s) recorded?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Not recorded
                </dd>
              </div>

            </dl>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
