{% extends 'layouts/layout-application.html' %} {% block pageTitle %} Patient
details {% endblock %} {% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class="scra-bordered-tabs-container">
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview"
            >Overview</a
          >
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical"
            >Clinical</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="edit-names">
          <svg
            class="nhsuk-icon nhsuk-icon__chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
            ></path>
          </svg>
          Return to edit information</a
        >
      </div>

      <h2 class="nhsuk-heading-l">Review and confirm your changes</h2>

      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            Changing a patient's key details
          </h3>
          <p>
            Changing a patient’s key details is a serious undertaking. It must
            be carried out with the utmost care and consideration for potential
            risks
          </p>
        </div>
           
        </div>


      
              <div class="scra-card">
              <div class="scra-card-header"> <h2 class="nhsuk-card__heading">
                Charge category</h2> </div>
                <div class="scra-card-content"> <dl class="nhsuk-summary-list">
    
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Was previously
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      <p>
      
                      </p>
                      <p class="nhsuk-body-italics">
      
                      </p>
                    </dd>
      
                  </div>
      
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Updated to
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      <p>
      
                      </p>
                      <p class="nhsuk-body-italics">
      
                      </p>
                    </dd>
      
                  </div>
      
                </dl>
              </div>
            </div>
            
            <div class="scra-card">
              <div class="scra-card-header"> <h2 class="nhsuk-card__heading">
                Patient details</h2> </div>
                <div class="scra-card-content"> <dl class="nhsuk-summary-list">
    
                  <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-s">Date patient seen</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p> 02-Aug-2020
                             </p>
                        </dd>
                  
                      </div>
                      <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                        Updated to
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <p>
                          03-Aug-2020
                        </p>
                      </dd></div>
                    </dl>
                    </div>
                      
                  
                    <div class="nhsuk-form-group">
                      <h4 class="nhsuk-heading-m">Country of Nationality</h4>
                    
                      <dl class="nhsuk-summary-list">
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Was previously
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p>
                              Jersey </p>
                    
                          </dd>
                    
                        </div>
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Updated to
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p>
                              Trinidad
                            </p>
                    
                          </dd>
                    
                        </div>
                    
                      </dl>
                    
                    
                    </div>
                  
                  
                  
                    
                    <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-m">Purpose of entry</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            Study </p>
                  
                        </dd>
                  
                      </div>
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            Work
                          </p>
                  
                        </dd>
                  
                      </div>
                  
                    </dl>
                  
                  
                  </div>
                  
                  <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-m">Other purpose of entry</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            Study </p>
                  
                        </dd>
                  
                      </div>
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            Work
                          </p>
                  
                        </dd>
                  
                      </div>
                  
                    </dl>
                  
                  
                  </div>
                  
                  <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-m">Date of entry</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p> 02-Aug-2019
                             </p>
                        </dd>
                  
                      </div>
                      <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                        Updated to
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <p>
                          03-Aug-2019
                        </p>
                      </dd></div>
                    </dl>
                    </div>
                    <div class="nhsuk-form-group">
                      <h4 class="nhsuk-heading-m">Address line 1 </h4>
                    
                      <dl class="nhsuk-summary-list">
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Was previously
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p> 	45 Southway
                               </p>
                          </dd>
                    
                        </div>
                        <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            46 Southway
                          </p>
                        </dd></div>
                      </dl>
                      </div>
                      <div class="nhsuk-form-group">
                        <h4 class="nhsuk-heading-m">Address line 2 </h4>
                      
                        <dl class="nhsuk-summary-list">
                      
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Was previously
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p> 	Manor park
                                 </p>
                            </dd>
                      
                          </div>
                          <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                            Updated to
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p>
                              Manor lane
                            </p>
                          </dd></div>
                        </dl>
                        </div>
                        <div class="nhsuk-form-group">
                          <h4 class="nhsuk-heading-m">Address line 3 </h4>
                        
                          <dl class="nhsuk-summary-list">
                        
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Was previously
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p> 	
                                   </p>
                              </dd>
                        
                            </div>
                            <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                              Updated to
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p>
                                
                              </p>
                            </dd></div>
                          </dl>
                          </div>
                          <div class="nhsuk-form-group">
                            <h4 class="nhsuk-heading-m">Address line 4 </h4>
                          
                            <dl class="nhsuk-summary-list">
                          
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Was previously
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  <p> 	Null
                                     </p>
                                </dd>
                          
                              </div>
                              <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                Updated to
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p>
                                  Null
                                </p>
                              </dd></div>
                            </dl>
                            </div>
                            <div class="nhsuk-form-group">
                              <h4 class="nhsuk-heading-m">Home country </h4>
                            
                              <dl class="nhsuk-summary-list">
                            
                                <div class="nhsuk-summary-list__row">
                                  <dt class="nhsuk-summary-list__key">
                                    Was previously
                                  </dt>
                                  <dd class="nhsuk-summary-list__value">
                                    <p> 	Antigua
                                       </p>
                                  </dd>
                            
                                </div>
                                <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                  Updated to
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  <p>
                                    Argentina
                                  </p>
                                </dd></div>
                              </dl>
                              </div>
      
                </dl>
              </div>
            </div>

            <div class="scra-card">
              <div class="scra-card-header"> <h2 class="nhsuk-card__heading">
                Additional data</h2> </div>
                <div class="scra-card-content"> <dl class="nhsuk-summary-list">
    
                  <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-m">Passport number</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p> 123456
                             </p>
                        </dd>
                  
                      </div>
                      <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                        Updated to
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <p>
                          78910
                        </p>
                      </dd></div>
                    </dl>
                    </div>
                    <div class="nhsuk-form-group">
                      <h4 class="nhsuk-heading-m">Country of issue</h4>
                    
                      <dl class="nhsuk-summary-list">
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Was previously
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p> Antigua
                               </p>
                          </dd>
                    
                        </div>
                        <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            Anterra
                          </p>
                        </dd></div>
                      </dl>
                      </div>
                      
 <div class="nhsuk-form-group">
                      <h4 class="nhsuk-heading-m">Passport expiry date</h4>
                    
                      <dl class="nhsuk-summary-list">
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Was previously
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p> 24-Aug-2025
                               </p>
                          </dd>
                    
                        </div>
                        <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            27-Aug-206
                          </p>
                        </dd></div>
                      </dl>
                      </div>

                      <div class="nhsuk-form-group">
                        <h4 class="nhsuk-heading-m">Home Office Evidence and Enquiry contacted</h4>
                      
                        <dl class="nhsuk-summary-list">
                      
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Was previously
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p> No
                                 </p>
                            </dd>
                      
                          </div>
                          <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                            Updated to
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p>
                              Yes
                            </p>
                          </dd></div>
                        </dl>
                        </div>
                        <div class="nhsuk-form-group">
                          <h4 class="nhsuk-heading-m">Contacted reference</h4>
                        
                          <dl class="nhsuk-summary-list">
                        
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Was previously
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p> Jim Bloggs
                                   </p>
                              </dd>
                        
                            </div>
                            <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                              Updated to
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p>
                                Juanita Bowels
                              </p>
                            </dd></div>
                          </dl>
                          </div>
                          <div class="nhsuk-form-group">
                            <h4 class="nhsuk-heading-m">Date contacted</h4>
                          
                            <dl class="nhsuk-summary-list">
                          
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Was previously
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  <p> 17-Aug-2021
                                     </p>
                                </dd>
                          
                              </div>
                              <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                Updated to
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p>
                                  04-Jan-2023
                                </p>
                              </dd></div>
                            </dl>
                            </div>

                </dl>
              </div>
            </div>
            <div class="scra-card">
              <div class="scra-card-header"> <h2 class="nhsuk-card__heading">
                Entitlement evidence</h2> </div>
                <div class="scra-card-content"> <dl class="nhsuk-summary-list">
    
                  <div class="nhsuk-form-group">
                    <h4 class="nhsuk-heading-m">EHIC Country of issue</h4>
                  
                    <dl class="nhsuk-summary-list">
                  
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Was previously
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p> Antigua
                             </p>
                        </dd>
                  
                      </div>
                      <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                        Updated to
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <p>
                          Anterra
                        </p>
                      </dd></div>
                    </dl>
                    </div>
                    <div class="nhsuk-form-group">
                      <h4 class="nhsuk-heading-m">EHIC Personal ID No</h4>
                    
                      <dl class="nhsuk-summary-list">
                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Was previously
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p> 123456
                               </p>
                          </dd>
                    
                        </div>
                        <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                          Updated to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <p>
                            78910
                          </p>
                        </dd></div>
                      </dl>
                      </div>

                      <div class="nhsuk-form-group">
                        <h4 class="nhsuk-heading-m">EHIC Institution ID</h4>
                      
                        <dl class="nhsuk-summary-list">
                      
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Was previously
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p> 09090
                                 </p>
                            </dd>
                      
                          </div>
                          <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                            Updated to
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <p>
                              08088
                            </p>
                          </dd></div>
                        </dl>
                        </div>
                        <div class="nhsuk-form-group">
                          <h4 class="nhsuk-heading-m">EHIC card number</h4>
                        
                          <dl class="nhsuk-summary-list">
                        
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Was previously
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p> 08080
                                   </p>
                              </dd>
                        
                            </div>
                            <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                              Updated to
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p>
                                070700
                              </p>
                            </dd></div>
                          </dl>
                          </div>
                          <div class="nhsuk-form-group">
                            <h4 class="nhsuk-heading-m">EHIC expiry date</h4>
                          
                            <dl class="nhsuk-summary-list">
                          
                              <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                  Was previously
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  <p> 10-Aug-2025
                                     </p>
                                </dd>
                          
                              </div>
                              <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                Updated to
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <p>
                                  15-Aug-2026
                                </p>
                              </dd></div>
                            </dl>
                            </div>

                            <div class="nhsuk-form-group">
                              <h4 class="nhsuk-heading-m">PRC Country of issue</h4>
                            
                              <dl class="nhsuk-summary-list">
                            
                                <div class="nhsuk-summary-list__row">
                                  <dt class="nhsuk-summary-list__key">
                                    Was previously
                                  </dt>
                                  <dd class="nhsuk-summary-list__value">
                                    <p> Antigua
                                       </p>
                                  </dd>
                            
                                </div>
                                <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                  Updated to
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                  <p>
                                    Anterra
                                  </p>
                                </dd></div>
                              </dl>
                              </div>
                              <div class="nhsuk-form-group">
                                <h4 class="nhsuk-heading-m">PRC Personal ID No</h4>
                              
                                <dl class="nhsuk-summary-list">
                              
                                  <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key">
                                      Was previously
                                    </dt>
                                    <dd class="nhsuk-summary-list__value">
                                      <p> 123456
                                         </p>
                                    </dd>
                              
                                  </div>
                                  <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                    Updated to
                                  </dt>
                                  <dd class="nhsuk-summary-list__value">
                                    <p>
                                      78910
                                    </p>
                                  </dd></div>
                                </dl>
                                </div>
          
                                <div class="nhsuk-form-group">
                                  <h4 class="nhsuk-heading-m">PRC Institution ID</h4>
                                
                                  <dl class="nhsuk-summary-list">
                                
                                    <div class="nhsuk-summary-list__row">
                                      <dt class="nhsuk-summary-list__key">
                                        Was previously
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        <p> 09090
                                           </p>
                                      </dd>
                                
                                    </div>
                                    <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                      Updated to
                                    </dt>
                                    <dd class="nhsuk-summary-list__value">
                                      <p>
                                        08088
                                      </p>
                                    </dd></div>
                                  </dl>
                                  </div>
                                  <div class="nhsuk-form-group">
                                    <h4 class="nhsuk-heading-m">PRC card number</h4>
                                  
                                    <dl class="nhsuk-summary-list">
                                  
                                      <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                          Was previously
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                          <p> 08080
                                             </p>
                                        </dd>
                                  
                                      </div>
                                      <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                        Updated to
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        <p>
                                          070700
                                        </p>
                                      </dd></div>
                                    </dl>
                                    </div>
                                    <div class="nhsuk-form-group">
                                      <h4 class="nhsuk-heading-m">PRC expiry date</h4>
                                    
                                      <dl class="nhsuk-summary-list">
                                    
                                        <div class="nhsuk-summary-list__row">
                                          <dt class="nhsuk-summary-list__key">
                                            Was previously
                                          </dt>
                                          <dd class="nhsuk-summary-list__value">
                                            <p> 10-Aug-2025
                                               </p>
                                          </dd>
                                    
                                        </div>
                                        <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                          Updated to
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                          <p>
                                            15-Aug-2026
                                          </p>
                                        </dd></div>
                                      </dl>
                                      </div>
                                      <div class="nhsuk-form-group">
                                        <h4 class="nhsuk-heading-m">PRC vaild from date</h4>
                                      
                                        <dl class="nhsuk-summary-list">
                                      
                                          <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                              Was previously
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                              <p> 10-Aug-2025
                                                 </p>
                                            </dd>
                                      
                                          </div>
                                          <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                            Updated to
                                          </dt>
                                          <dd class="nhsuk-summary-list__value">
                                            <p>
                                              15-Aug-2026
                                            </p>
                                          </dd></div>
                                        </dl>
                                        </div>
                                        <div class="nhsuk-form-group">
                                          <h4 class="nhsuk-heading-m">PRC valid to date</h4>
                                        
                                          <dl class="nhsuk-summary-list">
                                        
                                            <div class="nhsuk-summary-list__row">
                                              <dt class="nhsuk-summary-list__key">
                                                Was previously
                                              </dt>
                                              <dd class="nhsuk-summary-list__value">
                                                <p> 10-Aug-2025
                                                   </p>
                                              </dd>
                                        
                                            </div>
                                            <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                              Updated to
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                              <p>
                                                15-Aug-2026
                                              </p>
                                            </dd></div>
                                          </dl>
                                          </div>
                                          <div class="nhsuk-form-group">
                                            <h4 class="nhsuk-heading-m">S1 Status</h4>
                                          
                                            <dl class="nhsuk-summary-list">
                                          
                                              <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                  Was previously
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                  <p> No S1 confirmed by patient
                                                     </p>
                                                </dd>
                                          
                                              </div>
                                              <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                                Updated to
                                              </dt>
                                              <dd class="nhsuk-summary-list__value">
                                                <p>
                                                  S1 confirmed by patient
                                                </p>
                                              </dd></div>
                                            </dl>
                                            </div>

                                            <div class="nhsuk-form-group">
                                              <h4 class="nhsuk-heading-m">S2 Country of issue</h4>
                                            
                                              <dl class="nhsuk-summary-list">
                                            
                                                <div class="nhsuk-summary-list__row">
                                                  <dt class="nhsuk-summary-list__key">
                                                    Was previously
                                                  </dt>
                                                  <dd class="nhsuk-summary-list__value">
                                                    <p> United Kingdom
                                                       </p>
                                                  </dd>
                                            
                                                </div>
                                                <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                                  Updated to
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                  <p>
                                                    Jamaica
                                                  </p>
                                                </dd></div>
                                              </dl>
                                              </div>
                                              <div class="nhsuk-form-group">
                                                <h4 class="nhsuk-heading-m">S2 valid from</h4>
                                              
                                                <dl class="nhsuk-summary-list">
                                              
                                                  <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                      Was previously
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                      <p> 10-Aug-2025
                                                         </p>
                                                    </dd>
                                              
                                                  </div>
                                                  <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                                    Updated to
                                                  </dt>
                                                  <dd class="nhsuk-summary-list__value">
                                                    <p>
                                                      15-Aug-2026
                                                    </p>
                                                  </dd></div>
                                                </dl>
                                                </div>
                                                <div class="nhsuk-form-group">
                                                  <h4 class="nhsuk-heading-m">S2 Valid to</h4>
                                                
                                                  <dl class="nhsuk-summary-list">
                                                
                                                    <div class="nhsuk-summary-list__row">
                                                      <dt class="nhsuk-summary-list__key">
                                                        Was previously
                                                      </dt>
                                                      <dd class="nhsuk-summary-list__value">
                                                        <p> 10-Aug-2025
                                                           </p>
                                                      </dd>
                                                
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">  <dt class="nhsuk-summary-list__key">
                                                      Updated to
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                      <p>
                                                        15-Aug-2026
                                                      </p>
                                                    </dd></div>
                                                  </dl>
                                                  </div>
                </dl>
              </div>
            </div>
            <a
            class="nhsuk-button"
            id="confirm-name-changes-btn"
            href="patient-details-ovm"
            >Confirm changes</a
          >
            </div>

          </div>
        </div>
          


        
      







       
      

    
    </div>
  </div>
</div>
{% endblock %}
