{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Overseas visitor manager record
{% endblock %}

{% block beforeContent %}{% include "./includes/banner.html" %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview-ovm">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="patient-demographics">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="patient-details-ovm">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Return to Overseas visitor manager record</a>
      </div>

      <div class="nhsuk-u-reading-width">
        <h1 class="nhsuk-heading-l">Edit overseas visitor manager record</h1>
        <p>This page contains the information in the patient's current OVM record. Edit the fields as required.</p>
      </div>
    </div>

    <a id="chargeable-status"></a>

    <div class="nhsuk-grid-column-three-quarters">

      <form action="patient-details-ovm-status-edit-all-post" method="post">

        <a id="chargeablestatus"></a>

        <h2 class="nhsuk-heading-l">Chargeable status information</h2>

        <div class="scra-card pds-edit-card">
          <div class="scra-card-content">

              <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m nhsuk-u-margin-bottom-4">
                  <h3 class="nhsuk-fieldset__heading">Chargeable status</h3>
                </legend>

                <div class="nhsuk-hint nhsuk-u-margin-bottom-5">
                  Refer to the OVM chargeable status guide to the right
                </div>

                <div class="nhsuk-form-group">

                  <div class="nhsuk-radios">

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-a" name="ovmChargeablestatuscat" type="radio" value="Cat A: UK Resident" aria-describedby="ovmChargeablestatuscat-a-hint" {% if data.patient.ovmChargeablestatuscat === "Cat A: UK Resident" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-a">
                        Cat A
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-a-hint">
                        Ordinarily a resident in the UK (according to the domestic Charging Regulations)
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-b" name="ovmChargeablestatuscat" type="radio" value="Cat B" aria-describedby="ovmChargeablestatuscat-b-hint" {% if data.patient.ovmChargeablestatuscat === "Cat B" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-b">
                        Cat B
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-b-hint">
                        Resident in the UK, in possession of a valid visa AND (surcharge paid OR exempt)
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-c" name="ovmChargeablestatuscat" type="radio" value="Cat C: Charge exempt (EHIC/PRC/S2)" aria-describedby="ovmChargeablestatuscat-c-hint" {% if data.patient.ovmChargeablestatuscat === "Cat C: Charge exempt (EHIC/PRC/S2)" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-c">
                        Cat C
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-c-hint">
                        Ordinarily resident in another EEA country AND (EHIC/PRC/S2 OR exempt)
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-d" name="ovmChargeablestatuscat" type="radio" value="Cat D" aria-describedby="ovmChargeablestatuscat-d-hint" {% if data.patient.ovmChargeablestatuscat === "Cat D" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-d">
                        Cat D
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-d-hint">
                        Ordinarily resident in another EEA country AND (No EHIC/PRC/S2 OR not exempt)
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-e" name="ovmChargeablestatuscat" type="radio" value="Cat E" aria-describedby="ovmChargeablestatuscat-e-hint" {% if data.patient.ovmChargeablestatuscat === "Cat E" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-e">
                        Cat E
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-e-hint">
                        Not ordinarily resident in the UK, not paid, but exempt by personal status or treatment
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-f" name="ovmChargeablestatuscat" type="radio" value="Cat F: Not exempt" aria-describedby="ovmChargeablestatuscat-f-hint" {% if data.patient.ovmChargeablestatuscat === "Cat F: Not exempt" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-f">
                        Cat F
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-f-hint">
                        Not ordinarily resident in the UK or EEA, not paid, not exempt by personal status or treatment
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-p" name="ovmChargeablestatuscat" type="radio" value="Cat P: Decision pending" aria-describedby="ovmChargeablestatuscat-p-hint" {% if data.patient.ovmChargeablestatuscat === "Cat P: Decision pending" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-p">
                        Cat P
                      </label>
                      <span class="nhsuk-hint nhsuk-radios__hint" id="ovmChargeablestatuscat-p-hint">
                        Decision pending
                      </span>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ovmChargeablestatuscat-none" name="ovmChargeablestatuscat" type="radio" value="None" {% if data.patient.ovmChargeablestatuscat === "None" %}checked{% endif %}>
                      <label class="nhsuk-label nhsuk-radios__label" for="ovmChargeablestatuscat-none">
                        None
                      </label>
                    </div>

                  </div>

                </div>
              </fieldset>

          </div>
        </div>

        <a id="patientdata"></a>

        <h2 class="nhsuk-heading-l">Patient data</h2>

        <div class="scra-card pds-edit-card">

          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4">
            <h3 class="nhsuk-heading-m">Edit patient data</h3>
          </div>

          <fieldset class="nhsuk-fieldset" aria-describedby="ovmDateSeen-hint" role="group">

            <legend class="nhsuk-fieldset__legend nhsuk-label--s">
              Date of interaction
            </legend>

            <div class="nhsuk-hint" id="ovmDateSeen-hint">
              Enter date of patient's first interaction with organisation.<br> For example, 15 3 2016
            </div>

            <div class="nhsuk-date-input" id="ovmDateSeen">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateSeen-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                         id="ovmDateSeen-day" name="[ovmDateSeen]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateSeen'][0] or '02' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateSeen-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                         id="ovmDateSeen-month" name="[ovmDateSeen]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateSeen'][1] or '07' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateSeen-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                         id="ovmDateSeen-year" name="[ovmDateSeen]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateSeen'][2] or '2020' }}">
                </div>
              </div>
            </div>

          </fieldset>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="ovmPurposeEntry">
              Purpose of entry
            </label>
            <select class="nhsuk-select" id="ovmPurposeEntry" name="ovmPurposeEntry">
              <option {% if data.patient.ovmPurposeEntry === "Study" %}selected{% endif %} value="Study">Study</option>
              <option {% if data.patient.ovmPurposeEntry === "Work" %}selected{% endif %} value="Work">Work</option>
              <option {% if data.patient.ovmPurposeEntry === "Leisure" %}selected{% endif %} value="Leisure">Leisure</option>
              <option {% if data.patient.ovmPurposeEntry === "Intend to settle" %}selected{% endif %} value="Intend to settle">Intend to settle</option>
              <option {% if data.patient.ovmPurposeEntry === "Dependant" %}selected{% endif %} value="Dependent">Dependent</option>
              <option {% if data.patient.ovmPurposeEntry === "Visiting family" %}selected{% endif %} value="Visiting family">Visiting family</option>
              <option {% if data.patient.ovmPurposeEntry === "Other" %}selected{% endif %} value="Other">Other</option>
            </select>
          </div>

          <div class="nhsuk-form-group" style="display:none;">
            <label class="nhsuk-label nhsuk-label__strong" for="ovmPurposeEntryOther">
              Other purpose of entry
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="ovmPurposeEntryOther" name="ovmPurposeEntryOther" type="text" value="{{ data.patient['ovmPurposeEntryOther'] or '' }}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="ovmNationality">
              Country of Nationality
            </label>
            <select class="nhsuk-select" id="ovmNationality" name="ovmNationality">
              <option value="Afganistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option selected value="Antigua & Barbuda">Antigua & Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
            </select>
          </div>

          <fieldset class="nhsuk-fieldset" aria-describedby="ovmDateEntry-hint" role="group">

            <legend class="nhsuk-fieldset__legend nhsuk-label--s">
              Date of entry to UK
            </legend>

            <div class="nhsuk-hint" id="ovmDateEntry-hint">
              <br>For example, 15 3 2016 </br>
            </div>

            <div class="nhsuk-date-input" id="ovmDateEntry">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateEntry-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                         id="ovmDateEntry-day" name="[ovmDateEntry]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateEntry'][0] or '01' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateEntry-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                         id="ovmDateEntry-month" name="[ovmDateEntry]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateEntry'][1] or '07' }}">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmDateEntry-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                         id="ovmDateEntry-year" name="[ovmDateEntry]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmDateEntry'][2] or '2020' }}">
                </div>
              </div>
            </div>

          </fieldset>

          <fieldset class="nhsuk-fieldset" aria-describedby="ovmAddress1-hint" role="group">

            <legend class="nhsuk-fieldset__legend nhsuk-label--s">
              Home country address
            </legend>

            <div class="nhsuk-hint" id="ovmAddress1-hint">
              Enter as much of the patient's home country address as you can.
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmAddress1">
                Address line 1
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmAddress1" name="ovmAddress1"
                     type="text" value="{{ data.patient['ovmAddress1'] or '45 Southway' }}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmAddress2">
                Address line 2
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmAddress2" name="ovmAddress2"
                     type="text" value="{{ data.patient['ovmAddress2'] or 'Manor Park' }}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmAddress3">
                Address line 3 (optional)
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmAddress3" name="ovmAddress3"
                     type="text" value="{{ data.patient['ovmAddress3'] or '' }}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmAddress4">
                Address line 4 (optional)
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmAddress4" name="ovmAddress4"
                     type="text" value="{{ data.patient['ovmAddress4'] or '' }}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="ovmHomeCountry">
                Home country
              </label>
              <select class="nhsuk-select" id="ovmHomeCountry" name="ovmHomeCountry">
                <option value="Afganistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua & Barbuda" selected>Antigua & Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
              </select>
            </div>

          </fieldset>

        </div>

        <a id="additionaldata"></a>

        <h2 class="nhsuk-heading-l">Additional data</h2>

        <div class="scra-card pds-edit-card">
          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4">
            <h2 class="nhsuk-heading-m">Edit passport information</h2>
          </div>
          <div class="scra-card-content">

            <div class="nhsuk-form-group pds-edit-form-group">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="ovmPassportNum">
                  Passport number
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="ovmPassportNum" name="ovmPassportNum"
                       type="text" value="{{ data.patient['ovmPassportNum'] or '485 777 3456' }}">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="ovmPassportCountry">
                  Country of issue
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="ovmPassportCountry" name="ovmPassportCountry" type="text" value="{{ data.patient['ovmPassportCountry'] or 'Antigua & Barbuda' }}">
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="ovmPassportExp-hint" role="group">

                  <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                    Passport expiry date
                  </legend>

                  <div class="nhsuk-hint" id="ovmPassportExp-hint">
                    For example, 15 3 2016
                  </div>

                  <div class="nhsuk-date-input">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="ovmPassportExp-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                               id="ovmPassportExp-day" name="[ovmPassportExp]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPassportExp'][0] or '02' }}">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="ovmPassportExp-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                               id="ovmPassportExp-month" name="[ovmPassportExp]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPassportExp'][1] or '07' }}">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="ovmPassportExp-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                               id="ovmPassportExp-year" name="[ovmPassportExp]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPassportExp'][2] or '2020' }}">
                      </div>
                    </div>
                  </div>

                </fieldset>
              </div>

            </div>
          </div>

          <h3 class="nhsuk-heading-m">Home Office contact</h3>

          <div class="scra-card-content">

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                  <div class="nhsuk-radios nhsuk-radios--conditional">

                    <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                      Home Office Evidence and Enquiry contacted
                    </legend>

                    <div class="nhsuk-radios nhsuk-radios">

                      <div class="nhsuk-radios__item">
                        <input aria-controls="conditional-contacted-1" aria-expanded="false" class="nhsuk-radios__input" id="ovmHOContacted-yes" name="ovmHOContacted" type="radio" value="Yes" {% if data.patient.ovmHOContacted === "Yes" %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="ovmHOContacted-yes">
                          Yes
                        </label>
                      </div>

                      <div class="nhsuk-radios__conditional {% if data.patient.ovmHOContacted !== "Yes" %}nhsuk-radios__conditional--hidden{% endif %}"
                           id="conditional-contacted-1">

                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="ovmHOContactedRef">
                            Contacted reference
                          </label>
                          <input class="nhsuk-input nhsuk-input--width-20" id="ovmHOContactedRef" name="ovmHOContactedRef"
                                 type="text" value="{{ data.patient['ovmHOContactedRef'] or 'FI7328329' }}">
                        </div>

                        <div class="nhsuk-form-group">
                          <fieldset class="nhsuk-fieldset" role="group">

                            <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                              Date contacted
                            </legend>

                            <div class="nhsuk-date-input">
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmHOContactedDate-day">
                                    Day
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                         id="ovmHOContactedDate-day" name="[ovmHOContactedDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmHOContactedDate'][0] or '' }}">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmHOContactedDate-month">
                                    Month
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                         id="ovmHOContactedDate-month" name="[ovmHOContactedDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmHOContactedDate'][1] or '' }}">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="ovmHOContactedDate-year">
                                    Year
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                         id="ovmHOContactedDate-year" name="[ovmHOContactedDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmHOContactedDate'][2] or '' }}">
                                </div>
                              </div>
                            </div>

                          </fieldset>

                        </div>
                      </div>

                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="ovmHOContacted-no" name="ovmHOContacted" type="radio" value="No"{% if data.patient.ovmHOContacted === "No" %}checked{% endif %}>
                        <label class="nhsuk-label nhsuk-radios__label" for="ovmHOContacted-no">
                          No
                        </label>
                      </div>

                    </div>
                  </div>
                </fieldset>

              </div>
          </div>
        </div>

        <a id="entitlement"></a>
        <h2 class="nhsuk-heading-l">Entitlement evidence</h2>

        <div class="scra-card pds-edit-card">
          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4">
            <h3 class="nhsuk-heading-m">Electronic Health Insurance Card</h3>
          </div>

          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmEHICCountryIssue">
                EHIC Country of issue
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmEHICCountryIssue" name="ovmEHICCountryIssue" type="text" value="{{ data.patient['ovmEHICCountryIssue'] or 'Jersey' }}">
            </div>
          </div>

          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmEHICPersonalId">
                6. EHIC Personal Id No
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmEHICPersonalId" name="ovmEHICPersonalId" type="text" value="{{ data.patient['ovmEHICPersonalId'] or '123456' }}">
            </div>
          </div>

          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmEHICInstitutionId">
                7. EHIC Institution Id
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmEHICInstitutionId" name="ovmEHICInstitutionId" type="text" value="{{ data.patient['ovmEHICInstitutionId'] or '123456' }}">
            </div>
          </div>

          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmEHICCardNum">
                8. EHIC card number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmEHICCardNum" name="ovmEHICCardNum" type="text" value="{{ data.patient['ovmEHICCardNum'] or '123456' }}">
            </div>
          </div>

          <div class="scra-card-content">

            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" role="group">

                <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                  9. EHIC expiry date
                </legend>

                <div class="nhsuk-date-input">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmEHICExpDate-day" name="[ovmEHICExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICExpDate'][0] or '02' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmEHICExpDate-month" name="[ovmEHICExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICExpDate'][1] or '09' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                             id="ovmEHICExpDate-year" name="[ovmEHICExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICExpDate'][2] or '2022' }}">
                    </div>
                  </div>
                </div>

              </fieldset>

            </div>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">

              <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                a. EHIC valid from date
              </legend>

              <div class="nhsuk-date-input">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICValidFromDate-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmEHICValidFromDate-day" name="[ovmEHICValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidFromDate'][0] or '02' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmEHICValidFromDate-month" name="[ovmEHICValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidFromDate'][1] or '09' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="ovmEHICValidFromDate-year" name="[ovmEHICValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidFromDate'][2] or '2020' }}">
                  </div>
                </div>
              </div>

            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">

              <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                a. EHIC valid to date
              </legend>

              <div class="nhsuk-date-input">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICValidToDate-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmEHICValidToDate-day" name="[ovmEHICValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidToDate'][0] or '02' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICValidToDate-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmEHICValidToDate-month" name="[ovmEHICValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidToDate'][1] or '09' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="ovmEHICValidToDate-year" name="[ovmEHICValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmEHICValidToDate'][2] or '2022' }}">
                  </div>
                </div>
              </div>

            </fieldset>

          </div>


          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-6">
            <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Provisional Replacement Certificate</h2>
          </div>
          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmPRCCountryIssue">
                2. PRC Country of issue
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmPRCCountryIssue" name="ovmPRCCountryIssue" type="text"
                     value="{{ data.patient['ovmPRCCountryIssue'] or 'Jersey' }}">
            </div>
          </div>
          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmPRCPersonalId">
                6. PRC Personal Id No
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmPRCPersonalId" name="ovmPRCPersonalId" type="text"
                     value="{{ data.patient['ovmPRCPersonalId'] or '123456' }}">
            </div>
          </div>
          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmPRCInstitutionId">
                7. PRC Institution Id
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmPRCInstitutionId" name="ovmPRCInstitutionId" type="text"
                     value="{{ data.patient['ovmPRCInstitutionId'] or '123456' }}">
            </div>
          </div>
          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmPRCCardNum">
                8. PRC card number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmPRCCardNum" name="ovmPRCCardNum" type="text"
                     value="{{ data.patient['ovmPRCCardNum'] or '123456' }}">
            </div>
          </div>

          <div class="scra-card-content">

            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" role="group">

                <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                  9. PRC expiry date
                </legend>

                <div class="nhsuk-date-input">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCExpDate-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmPRCExpDate-day" name="[ovmPRCExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCExpDate'][0] or '02' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCExpDate-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmPRCExpDate-month" name="[ovmPRCExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCExpDate'][1] or '09' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCExpDate-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                             id="ovmPRCExpDate-year" name="[ovmPRCExpDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCExpDate'][2] or '2022' }}">
                    </div>
                  </div>
                </div>

              </fieldset>

            </div>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">

              <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                a. PRC valid from date
              </legend>

              <div class="nhsuk-date-input">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCValidFromDate-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmPRCValidFromDate-day" name="[ovmPRCValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidFromDate'][0] or '02' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmPRCValidFromDate-month" name="[ovmPRCValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidFromDate'][1] or '09' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICExpDate-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="ovmPRCValidFromDate-year" name="[ovmPRCValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidFromDate'][2] or '2020' }}">
                  </div>
                </div>
              </div>

            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">

              <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                a. PRC valid to date
              </legend>

              <div class="nhsuk-date-input">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCValidToDate-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmPRCValidToDate-day" name="[ovmPRCValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidToDate'][0] or '02' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmEHICValidToDate-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="ovmPRCValidToDate-month" name="[ovmPRCValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidToDate'][1] or '09' }}">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="ovmPRCValidToDate-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="ovmPRCValidToDate-year" name="[ovmPRCValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmPRCValidToDate'][2] or '2022' }}">
                  </div>
                </div>
              </div>

            </fieldset>

          </div>


          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-6">
            <h2 class="nhsuk-heading-m">S1 Registration for Health Care cover</h2>
          </div>

          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmS1status">
                S1 status
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmS1status" name="ovmS1status" type="text"
                     value="{{ patient['ovmS1status'] or 'No S1 confirmed by patient' }}">
            </div>
          </div>


          <div class="scra-card-header pds-edit-card-header nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-6">
            <h2 class="nhsuk-heading-m" id="patient-details-preferred-name">S2 Entitlement to Scheduled Treatment</h2>
          </div>
          <div class="scra-card-content">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="ovmS2CountryIssue">
                S2 country of issue
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="ovmS2CountryIssue" name="ovmS2CountryIssue" type="text"
                     value="{{ data.patient['ovmS2CountryIssue'] or '123456' }}">
            </div>
          </div>

          <div class="scra-card-content">

            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" role="group">

                <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                  S2 Valid from
                </legend>

                <div class="nhsuk-date-input">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidFromDate-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmS2ValidFromDate-day" name="[ovmS2ValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidFromDate'][0] or '02' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidFromDate-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmS2ValidFromDate-month" name="[ovmS2ValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidFromDate'][1] or '09' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidFromDate-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                             id="ovmS2ValidFromDate-year" name="[ovmS2ValidFromDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidFromDate'][2] or '2020' }}">
                    </div>
                  </div>
                </div>

              </fieldset>

            </div>

            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" role="group">

                <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                  S2 Valid to
                </legend>

                <div class="nhsuk-date-input">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidToDate-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmS2ValidToDate-day" name="[ovmS2ValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidToDate'][0] or '02' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidToDate-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                             id="ovmS2ValidToDate-month" name="[ovmS2ValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidToDate'][1] or '09' }}">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="ovmS2ValidToDate-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                             id="ovmS2ValidToDate-year" name="[ovmS2ValidToDate]" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data.patient['ovmS2ValidToDate'][2] or '2022' }}">
                    </div>
                  </div>
                </div>

              </fieldset>

            </div>

          </div>

        </div>
<div class="primary-actions"><button class="nhsuk-button full-width" type="submit">
  Review changes
</button>

<!--        <a href="patient-details-ovm" class="nhsuk-button nhsuk-button&#45;&#45;secondary full-width" type="submit">-->
<!--          Cancel-->
<!--        </a>-->
<a class="nhsuk-button nhsuk-button--red" href="confirm-delete-ovm">Delete OVM record</a>

</div>
<div class="centered"><a href="patient-details-ovm" class="cancel-link"  type="submit">
  Cancel
 </a></div>
        

      </form>

    </div>
  </div>
</div>

{% endblock %}