{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  
  <div class="nhsuk-grid-row">
    <h1>Overseas visitor manager record</h1>
<div class="nhsuk-grid-column-full"> <div class="nhsuk-u-reading-width">
  
  <p>This page contains the information in the patient's current OVM record. Edit the fields as required.</p>
</div>
</div>
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Chargeable status information</h1><a id="chargeable-status"></a>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Edit chargeable status</h2>
        </div>
        <div class="scra-card-content">
          <p class="nhsuk-body-s pds-edit-support-text">
            Refer to the OVM chargeable status guide to the right
          </p>

          <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">


    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="Cat A">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Cat A
        </label>
        <span class="nhsuk-hint">
  Ordinarily a resident in the UK (according to the domestic Charging Regulations)
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat B
        </label>
        <span class="nhsuk-hint">
  Resident in the UK, in possession of a valid visa AND (surcharge paid OR exempt)
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat C
        </label>
        <span class="nhsuk-hint">
  Ordinarily resident in another EEA country AND (EHIC/PRC/S2 OR exempt)
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat D
        </label>
        <span class="nhsuk-hint">
  Ordinarily resident in another EEA country AND (No EHIC/PRC/S2 OR not exempt)
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat E
        </label>
        <span class="nhsuk-hint">
  Not ordinarily resident in the UK, not paid, but exempt by personal status or treatment
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat F
        </label>
        <span class="nhsuk-hint">
  Not ordinarily resident in the UK or EEA, not paid, not exempt by personal status or treatment
</span>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          Cat P
        </label>
        <span class="nhsuk-hint">
  Decision pending 
</span>
      </div>
      
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          None
        </label>
       
      </div>



    </div>
  </fieldset>

</div>
<!--        
<a class="nhsuk-button" href="confirm-changes-chargeability">Save changes</a> -->
        </div>
      </div>
    </div>


    </div>
  
  
  
  
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Patient data</h1>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Edit patient data</h2>
        </div>
          <fieldset class="nhsuk-fieldset">

            <div class="nhsuk-form-group">


              <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-first-name">
                Date patient seen
              </label>
              <span class="nhsuk-hint" id="example-hint">
                For example, 15 3 2016
              </span>
              <fieldset class="nhsuk-fieldset" role="group">


                <div class="nhsuk-date-input" id="effective-date-name">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                    </div>
                  </div>
                </div>

            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="select-1">
                Purpose of entry
              </label>
              <select class="nhsuk-select" id="select-1" name="select-1">
                <option value="1" selected>Study</option>
                <option value="2">Work</option>
                <option value="3">Leisure</option>
                <option value="4">Intend to settle</option>
                <option value="5">Dependent</option>
                <option value="6">Visiting family</option>
                <option value="7">Other</option>
              </select>
            </div>

            <div class="nhsuk-form-group" style="display:none;">
              <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-suffix">
                Other purpose of entry
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-suffix" name="pdf-edit-suffix" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="select-1">
                Country of Nationality
              </label>
              <select class="nhsuk-select" id="country" name="country">
                <option value="Afganistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua & Barbuda" selected>Antigua & Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
              </select>
            </div>

            <div class="nhsuk-form-group">

              <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-suffix">
                Date of entry
              </label>
              <span class="nhsuk-hint" id="example-hint">
                The date on which the patient entered the UK on this visit
              </span>
              <span class="nhsuk-hint" id="example-hint">
                For example, 15 3 2016
              </span>
              <fieldset class="nhsuk-fieldset" role="group">


                <div class="nhsuk-date-input" id="effective-date-name">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="01">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                  <span class="nhsuk-fieldset__heading">
                    Home country address
                  </span>
                  <span class="nhsuk-hint nhsuk-u-margin-bottom-0" id="example-hint">
                    Enter as much of the patient's home country address as you can.
                  </span>
                </legend>
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="pds-edit-middle-name">
                    Address line 1
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text" value="45 Southway">
                </div>

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="pds-edit-middle-name">
                    Address line 2
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text" value="Manor Park">
                </div>

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="pds-edit-middle-name">
                    Address line 3
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">
                </div>

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="pds-edit-middle-name">
                    Address line 4
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">
                </div>
              </fieldset>

            </div>

            <!--<div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="select-1">
                Home country
              </label>
              <select class="nhsuk-select" id="home-country" name="home-country">

                <option value="Afganistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua & Barbuda" selected>Antigua & Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
              </select>
            </div>-->

          </fieldset>

        
<!--
        <div class="btn-group">
          <a class="nhsuk-button" href="confirm-changes-patient-data" onclick="onSubmit()">Save changes</a>
          <p class="cancel-btn-link"><a href="patient-details-ovm">Cancel</a></p>
        </div> -->



      </div>

    </div>

  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Additional data</h1>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Edit passport information</h2>
        </div>
        <div class="scra-card-content">
          <p class="nhsuk-body-s pds-edit-support-text">

          </p>

          <div class="nhsuk-form-group pds-edit-form-group">

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="pds-edit-first-name">
                Passport number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-first-name" name="pdf-edit-first-name" type="text" value="123456">
            </div>

            <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="pds-edit-middle-name">
              Country of issue
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text" value="Antigua and Barbuda">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="pds-edit-middle-name">
              Passport expiry date
            </label>
          </div>

            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>
            </fieldset>

          </div>
        </div>
      </div>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-preferred-name">Home Office contact</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text">

            </p>
          </div>

          <div class="nhsuk-form-group pds-edit-form-group">


            <div class="nhsuk-u-padding-bottom-3"></div>
            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset">

                <div class="nhsuk-radios nhsuk-radios--conditional">

                <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                  Home Office Evidence and Enquiry contacted
                </legend>

                <div class="nhsuk-radios nhsuk-radios">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="ovm-contacted" name="ovm-contacted" type="radio" value="yes" aria-controls="conditional-contacted-1" aria-expanded="false" {{ checked("ovm-contacted", "yes") }}>
                    <label class="nhsuk-label nhsuk-radios__label" for="ovm-contacted">
                      Yes
                    </label>
                  </div>

                  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contacted-1">

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="ovm-contacted-ref">
                        Contacted reference
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="ovm-contacted-ref" name="ovm-contacted-ref" type="text" value="">
                    </div>

                    <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">

                      <legend class="nhsuk-label" for="pds-edit-middle-name">
                        Date contacted
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    </div>
                  </div>


                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="ovm-contacted-no" name="ovm-contacted" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="ovm-contacted-no">
                      No
                    </label>
                  </div>

                </div>
                </div>
              </fieldset>


            </div>




          </div>
          </div>



        </div>


      <!--
      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-preferred-name">Home Office contact</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text">

            </p>
          </div>

          <div class="nhsuk-form-group pds-edit-form-group">
            <label class="nhsuk-label" for="select-prefix">
              Home Office Evidence and Enquiry contacted
            </label>
            <div class="nhsuk-u-padding-bottom-3"></div>
            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset">


                <div class="nhsuk-radios nhsuk-radios--inline">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="yes" name="example-inline" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                      Yes
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="no" name="example-inline" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                      No
                    </label>
                  </div>

                </div>

                
              </fieldset>



            </div>

            <div class="reveal-details" id="reveal-details" style="display:none;">

              <label class="nhsuk-label" for="pds-edit-first-name">
                Contacted reference
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text" value="">

              <label class="nhsuk-label" for="pds-edit-middle-name">
                Date contacted
              </label>


             <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <div class="nhsuk-date-input" id="effective-date-name">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
              </div>
              </fieldset>
            </div>


          </div>
          </div>



        </div>

      -->
      </div>


    </div>





  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Entitlement evidence</h1>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Electronic Health Insurance Card</h2>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            EHIC Country of issue
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Jersey">

        </div>
       
        <div class="scra-card-content">
          
          <label class="nhsuk-label" for="pds-edit-last-name">
            6. EHIC Personal Id No
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            7. EHIC Institution Id
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            8. EHIC card number
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            9. EHIC expiry date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            a. EHIC valid from date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            a. EHIC valid to date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>



     

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">S1 Registration for Health Care cover</h2>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            S1 status
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="No S1 confirmed by patient">

        </div>
      </div>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Provisional Replacement Certificate</h2>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            2. PRC Country of issue
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Jersey">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            6. PRC Personal Id No
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            7. PRC Institution Id
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            8. PRC EHIC card number
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="123456">

        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            9. PRC EHIC expiry date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            a. PRC valid from date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="scra-card-content">
          <label class="nhsuk-label" for="pds-edit-last-name">
            a. PRC valid to date
          </label>
          <fieldset class="nhsuk-fieldset" role="group">
            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>



      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-preferred-name">S2 Entitlement to Scheduled Treatment</h2>
        </div>
        <div class="scra-card-content">
            <label class="nhsuk-label" for="pds-edit-last-name">
              S2 country of issue
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Andorra">

            </div>
            <div class="scra-card-content">
                <label class="nhsuk-label" for="pds-edit-last-name">
                  S2 Valid from
                </label>
                <fieldset class="nhsuk-fieldset" role="group">
                  <div class="nhsuk-date-input" id="effective-date-name">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2020">
                      </div>
                    </div>
                  </div>

                </fieldset>
              </div>
              <div class="scra-card-content">
                  <label class="nhsuk-label" for="pds-edit-last-name">
                    S2 Valid to
                  </label>
                  <fieldset class="nhsuk-fieldset" role="group">
                    <div class="nhsuk-date-input" id="effective-date-name">
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                            Day
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="02">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                            Month
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="08">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                            Year
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2026">
                        </div>
                      </div>
                    </div>

                  </fieldset>
                </div>
          </div>
        </div>

        <button class="nhsuk-button nhsuk-button--blue" id="cancel-preferred-name-btn">Cancel</button>

      </div>



    <a class="nhsuk-button" href="confirm-changes-entitlement">Save changes</a>

  </div>
  </div>

</div>
</div>
{% endblock %}
