{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Edit additional details</h1>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-usual-name">Passport</h2>
        </div>
        <div class="scra-card-content">
          <p class="nhsuk-body-s pds-edit-support-text">
            A patient must always have a usual name
          </p>

          <div class="nhsuk-form-group pds-edit-form-group">


            <label class="nhsuk-label" for="pds-edit-first-name">
              Passport number
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-first-name" name="pdf-edit-first-name" type="text" value="William">

            <label class="nhsuk-label" for="pds-edit-middle-name">
              Country of issue
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

            <label class="nhsuk-label" for="pds-edit-middle-name">
              Passport expiry date
            </label>

            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                </div>
              </div>
            </div>
            </fieldset>

          </div>
        </div>
      </div>

      <div class="scra-card pds-edit-card">
        <div class="scra-card-header pds-edit-card-header">
          <h2 class="nhsuk-heading-m" id="patient-details-preferred-name">HO contact</h2>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-u-reading-width">
            <p class="nhsuk-body-s pds-edit-support-text">
              This patient does not currently have a preferred name added. You may add one preferred name.
            </p>
          </div>

          <div class="nhsuk-form-group pds-edit-form-group">
            <label class="nhsuk-label" for="select-prefix">
              HO E&E contacted
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

            <label class="nhsuk-label" for="pds-edit-first-name">
              Contacted reference
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

            <label class="nhsuk-label" for="pds-edit-middle-name">
              Date contacted
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

            <div class="nhsuk-date-input" id="effective-date-name">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
            </div>
            </fieldset>

            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-fieldset__legend">
                Effective to
              </legend>

              <div class="nhsuk-date-input" id="effective-to-date-name">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-to-date-name-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-to-date-name-day" name="effective-to-date-name-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-to-date-name-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-to-date-name-month" name="effective-to-date-name-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="effective-to-date-name-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-to-date-name-year" name="effective-to-date-name-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>

          </div>
        </div>


      </div>
    </div>



    <a class="nhsuk-button" href="confirm-changes">Save changes</a>

  </div>

</div>
</div>
{% endblock %}
