{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Child Protection - Infomation Sharing
{% endblock %}

{% block beforeContent %}

<script>
  localStorage.altName = "Amelia Miller";
</script>


<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Child Protection - Information Sharing</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <p class="nhsuk-body">
        This prototype explores how we could introduce Child Protection Information Sharing content to the redesigned SCRa.
      </p>
      <p class="nhsuk-body">
        A child care alert will be added to SCRa to inform health workers, with the relevant access, of any Child Protection Order (CPO) in place and information about the local authority that added it. If a health worker views the information, the relevant local authority and social workers will be informed of who viewed the CPO and their organisation.
      </p>
    </div>

    <form action="../cpis-v5/patient-overview-simple">
      <button class="nhsuk-button index-page-link" type="submit">
        Begin prototype
      </button>
    </form>

  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a href="../cpis-v5/patient-overview-simple">Journey for patient with only one child protection plan</a>
      </p>
      <p>
        <a href="../cpis-v5/patient-overview-complex">Journey for patient with multiple flags and plans</a>
      </p>
      <p>
        <a href="../cpis-v5/patient-overview-simple-no-protection">Journey for patient without flags or plans</a>
      </p>
    </div>
  </div>

</div>
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <div class="section">
      <h2 class="nhs-heading-l">Older prototypes</h2>
      <h3 class="nhsuk-heading-m">Version 4</h3>
      <p>This is the prototype that we used for usability testing with CP-IS users on 14th - 22nd February 2022 </p>
      <p class="nhsuk-body">
        <a href="../cpis-v4/patient-overview-simple">Journey for patient with only one child protection plan - full page variant (Version 4)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v4/patient-overview-complex">Journey for patient with multiple alerts and child care plans - overlay variant (Version 4)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v4/patient-overview-simple-no-protection">Journey for patient without flags or plans (Version 4)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v4/child-care-alert-simple-table">Table based child alert page with single plan (Version 4)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v4/child-care-alert-complex-table">Table based child alert page with multiple plans (Version 4)</a>
      </p>


      <h3 class="nhsuk-heading-m">Version 3</h3>
      <p class="nhsuk-body">
        <a href="../cpis-v3/patient-overview-simple">Journey for patient with only a child care alert (Version 3)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v3/patient-overview-complex">Journey for patient with multiple alerts and child care plans (Version 3)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v3/child-care-alert-simple-table">Table based child alert page with single plan (Version 3)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v3/child-care-alert-complex-table">Table based child alert page with multiple plans (Version 3)</a>
      </p>


      <h3 class="nhsuk-heading-m">Version 2</h3>
      <p class="nhsuk-body">
        <a href="../cpis-v2/patient-overview-simple">Journey for patient with only a child care alert (Version 2)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v2/patient-overview-complex">Journey for patient with multiple alerts and child care plans (Version 2)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v2/child-care-alert-simple-table">Table based child alert page with single plan (Version 2)</a>
      </p>
      <p class="nhsuk-body">
        <a href="../cpis-v2/child-care-alert-complex-table">Table based child alert page with multiple plans (Version 2)</a>
      </p>
      <h3 class="nhsuk-heading-m">Version 1</h3>
      <p class="nhsuk-body">
        <a href="./patient-overview-flag-added">Journey for patient with a child care alert flag (Version 1)</a>
      </p>
      <p class="nhsuk-body">
        <a href="./patient-overview-multiple-flags-added">Journey for patient with multiple flags (Version 1)</a>
      </p>
    </div>

  </div>
<div>


{% endblock %}
