/* Link as nhs.uk button workaround */

.nhsuk-button:focus {
  background-color: #00401e;
  color: #ffffff;
}

/* custom button colours */

.nhsuk-button--blue {
  background-color: $color_nhsuk-blue;
  box-shadow: 0 4px 0 #003087;
}

.nhsuk-button--blue:hover, .nhsuk-button--blue:active, .nhsuk-button--blue:focus {
  background-color: #003087;
  box-shadow: 0 4px 0 #003087;
}

.nhsuk-button--red {
  background-color: $color_nhsuk-red;
  box-shadow: 0 4px 0 #8A1538;
}

.nhsuk-button--red:hover, .nhsuk-button--red:active, .nhsuk-button--red:focus {
  background-color: #8A1538;
}

a.nhsuk-button--reverse:visited {
  color: inherit;
}

.nhsuk-button--reverse:focus {
  background: #212b32;
  box-shadow: none;
  color: #fff;
}
.nrl-button {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 8px 12px;
  @media (min-width: 769px) {
    display: block;
  }
}

.btn-group {
  .nhsuk-button:first-of-type {
    margin-right: 16px;
  }
}

.nhsuk-button--autocomplete {
  padding: 4px 16px;
}

.nhsuk-button--large {
  padding: 12px 48px;
}


.ra-edit {
  width: 75%;
  margin-bottom: 12px;
  float: right;
}

.ra-delete {
  width: 75%;
  float: right;
}

@media (min-width: 769px) {
  .ra-edit, .ra-delete {
    width: 60%;
  }
}

.nhsuk-button--small {
  padding: 0 16px;
  height: 24px;
  font-size: 1rem;
  line-height: 1.2;
}

.nhsuk-button--pds-edit {
  margin-bottom: 0;
  float: right;
  color: $color_nhsuk-black;
}

a.nhsuk-button--pds-edit:visited {
  color: $color_nhsuk-black;
}

.cancel-link {
  cursor: pointer;
}

/* BNA Styles */

.bna-list-buttons-container * {
  margin-right: 12px;
  display: block;
  @media (min-width: 769px) {
    margin-right: 24px;
    display: inline;
  }
}
