.nhsuk-button--blue {
  background-color: $color_nhsuk-blue;
  box-shadow: 0 4px 0 #003087;
}

.nhsuk-button--blue:hover {
  background-color: #002D88;
}

.nrl-button {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 8px 12px;
  @media (min-width: 769px) {
    display: block;
  }
}
