.scra-card {
  background-color: $color_nhsuk-white;
  padding: 16px;
  box-shadow: 0 4px 0 0 #d8dde0;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .scra-card {
    padding: 32px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .nhsuk-card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
  }

  .nhsuk-card-group__item {
    display: flex;
    margin-bottom: 24px;
  }
}

.overview-card__content {
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

.nav-anchor {
  color: $color_nhsuk-black;
}

.nav-anchor:hover {
  background-color: transparent;
  box-shadow: none;
}

.scra-card-content {
  vertical-align: bottom;

  .nhsuk-grid-row {
    margin-bottom: 30px;
  }
}

.card-content-support-detail {
  color: $color_nhsuk-grey-1;
  margin-bottom: 0;
}

.card-content-section {
  span {
    display: block;
  }

  .card-content-label {
    font-weight: 200;
  }

  .card-content-name {
    font-size: 120%;
    font-weight: 600;
  }
}

.alert-card__heading-container {
  background-color: $color_nhsuk-warm-yellow !important;
  color: $color_nhsuk-black !important;
}

.alert-card__arrow:after,
.alert-card__arrow:before {
  border: solid 32px $color_nhsuk-warm-yellow !important;
}

// Patient Details

.scra-card-header > * {
  display: inline-block;
}

.ndop-card-header > * {
  display: inline-block;
}

.nic-reference-container > * {
  display: inline-block;
}

// Clinical Details

.scra-card-content {
  .nhsuk-table-responsive {
    margin: 0;
  }
}
// NRL Landing Page

.scra-cards__subheading {
  color: $color_nhsuk-grey-1;
  @include nhsuk-responsive-margin(4, "bottom");
}

.nrl-card__wrapper {
  img {
    padding: 1rem;
    height: 80px;
    background-color: $color_nhsuk-grey-4;
  }

  .nhsuk-promo__content {
    padding: 1rem;
  }
}

.nrl-card__heading {
  font-size: 14px !important;
}
@media screen and (min-width: 768px) {
  .nrl-card__heading {
    font-size: 16px !important;
  }
}

.nrl-card__description {
  font-size: 14px !important;
  color: $color_nhsuk-black;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .nrl-card__description {
    font-size: 16px !important;
  }
}

.nrl-card__date {
  color: $color_nhsuk-grey-2;
  font-size: 12px !important;
}
@media screen and (min-width: 768px) {
  .nrl-card__date {
    font-size: 14px !important;
  }
}

.nrl-card__pointer-content {
  .nhsuk-promo__heading {
    text-decoration: none;
  }

  .nrl-card__pointer-trust {
    margin-bottom: 0;
  }
}
/* PDS Edit */

.pds-edit-link {
  margin-left: 8px;

  a {
    text-decoration: none;
  }
}

.pds-edit-hint {
  color: $color_nhsuk-grey-1;
  font-weight: 400;
}

.pds-edit-card-header > * {
  margin-bottom: 4px;
}

.pds-edit-support-text {
  color: $color_nhsuk-grey-1;
}
@media screen and (min-width: 768px) {
  .pds-edit-card-header > * {
    margin-bottom: 8px;
  }
}

.tel-number-section {
  display: none;
}

.preferred-name-section {
  display: none;
}

#cancel-preferred-name-btn {
  display: none;
}

.bachelor-name-support-text {
  display: none;
}

.bachelor-name-section-hidden {
  display: none;
}

#add-bachelor-name-btn {
  display: none;
}

.pds-edit-card__heading {
  width: 50%;
  display: inline-block;
}

.pds-edit-remove-btn {
  bottom: 0;
}

.remove-update-btn {
  color: $nhsuk-error-color;
}
.remove-update-btn:visited {
  color: $nhsuk-error-color;
}

/* Reasonable Adjustments */

.impairment-heading > *,
.adjustment-heading > * {
  display: inline-block;
}

.remove-adjustment-link {
  color: $nhsuk-error-color !important;
  font-weight: 400;
}

//overview tab 2
//clickable cards
.nhsuk-card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
}

@media (min-width: 40.0625em) {
  .nhsuk-card {
    margin-bottom: 48px;
  }
}

@media print {
  .nhsuk-card__img {
    display: none;
  }
}

.nhsuk-card__content {
  padding: 24px;
}

.nhsuk-card__content > *:first-child {
  margin-top: 0;
}

.nhsuk-card__content > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .nhsuk-card__content {
    padding: 32px;
  }
}

.nhsuk-card__heading,
.nhsuk-card__metadata,
.nhsuk-card__description {
  margin-bottom: 16px;
}

.nhsuk-card--clickable {
  border-bottom-width: 4px;
}

.nhsuk-card--clickable .nhsuk-card__heading a::before,
.nhsuk-card--clickable .nhsuk-card__link::before {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.nhsuk-card--clickable:active {
  border-color: #aeb7bd;
  bottom: -1px;
}

.nhsuk-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0;
}

@media (max-width: 48.0525em) {
  .nhsuk-card-group {
    margin-bottom: 40px;
  }
}

.nhsuk-card-group + h2,
.nhsuk-card-group + .nhsuk-heading-l,
.nhsuk-card-group + h3,
.nhsuk-card-group + .nhsuk-heading-m {
  padding-top: 0;
}

.nhsuk-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}
