.scra-card {
  background-color: $color_nhsuk-white;
  padding: 16px;
  box-shadow: 0 4px 0 0 #d8dde0;
  margin-bottom: 28px;
}
@media screen and (min-width: 1024px) {
  .scra-card {
    padding: 32px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .nhsuk-card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
  }

  .nhsuk-card-group__item {
    display: flex;
    margin-bottom: 24px;
  }
}

.overview-card__content {
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

.nav-anchor {
  color: $color_nhsuk-black;
}

.nav-anchor:hover {
  background-color: transparent;
  box-shadow: none;
}

.scra-card-content {
  vertical-align: bottom;

  .nhsuk-grid-row {
    margin-bottom: 30px;
  }
}

.card-content-support-detail {
  color: $color_nhsuk-grey-1;
  margin-bottom: 0;
}

.card-content-section {
  span {
    display: block;
  }

  .card-content-label {
    font-weight: 200;
  }

  .card-content-name {
    font-size: 120%;
    font-weight: 600;
  }
}

.alert-card__heading-container {
  background-color: $color_nhsuk-warm-yellow!important;
  color: $color_nhsuk-black!important;
}

.alert-card__arrow:after,
.alert-card__arrow:before {
  border: solid 32px $color_nhsuk-warm-yellow!important;
}

// Patient Details

.scra-card-header > * {
  display: inline-block;
}


.ndop-card-header > * {
  display: inline-block;
}

.nic-reference-container > *{
  display: inline-block;
}

// Clinical Details

.scra-card-content {
  .nhsuk-table-responsive {
    margin: 0;
  }
}

.scra-cards__subheading {
  color: $color_nhsuk-grey-1;
  @include nhsuk-responsive-margin(4, 'bottom');
}

/* PDS Edit */

.pds-edit-link {
  margin-left: 8px;

  a {
    text-decoration: none;
  }
}

.pds-edit-hint {
  color: $color_nhsuk-grey-1;
  font-weight: 400;
}

.pds-edit-card-header > * {
  margin-bottom: 4px;
}

.pds-edit-support-text {
  color: $color_nhsuk-grey-1;
}
@media screen and (min-width:768px) {
  .pds-edit-card-header > * {
    margin-bottom: 8px;
  }
}

.tel-number-section {
  display: none;
}

.preferred-name-section {
  display: none;
}

#cancel-preferred-name-btn {
  display: none;
}

.bachelor-name-support-text{
  display: none;
}

.bachelor-name-section-hidden {
  display: none;
}

#add-bachelor-name-btn {
  display: none;
}

.pds-edit-card__heading {
  width: 50%;
  display: inline-block;
}

.pds-edit-remove-btn {
  bottom: 0;
}

.remove-update-btn {
  color: $nhsuk-error-color;
}
.remove-update-btn:visited {
  color: $nhsuk-error-color;
}

/* Reasonable Adjustments */

.impairment-heading > *,
.adjustment-heading > * {
  display: inline-block;
}

.remove-adjustment-link {
  color: $nhsuk-error-color!important;
  font-weight: 400;
}
