.scra-card {
  background-color: $color_nhsuk-white;
  padding: 16px;
  box-shadow: 0 4px 0 0 #d8dde0;
  margin-bottom: 28px;
}

@media screen and (min-width: 1024px) {
  .scra-card {
    padding: 32px;
    margin-bottom: 36px;
  }
}

.scra-card-content {
  vertical-align: bottom;
  .nhsuk-grid-row {
    margin-bottom: 30px;
  }
}

.card-content-section {
  span {
    display: block;
  }
  .card-content-label {
    font-weight: 200;
  }
  .card-content-name {
    font-size: 120%;
    font-weight: 600;
  }
}

// Clinical Details

.scra-card-content {
  .nhsuk-table-responsive {
    margin: 0;
  }
}

// NRL Landing Page

.scra-cards__subheading {
    color: $color_nhsuk-grey-1;
    @include nhsuk-responsive-margin(4, 'bottom');
}

.nrl-card__wrapper {
  img {
    padding: 1rem;
    height: 100px;
    background-color: $color_nhsuk-grey-4;
  }
  .nhsuk-promo__content {
    padding: 1rem;
  }
}

.nrl-card__pointer-content {
  .nhsuk-promo__heading {
    text-decoration:  none;
  }
  .nrl-card__pointer-trust {
    margin-bottom: 0;
  }
}

.nrl-card__date {
  color: $color_nhsuk-grey-2;
}
