  //

  .warning-callout-covid1 {
    
    padding-top:8px;
    padding-bottom:8px;
    background-color: #ffeb3b;
    color: #212b32;
    h2 {
      margin-bottom: 4px
    }
    p{
      margin-bottom: 0;
    }
     }

  
//
    /*.warning-callout-covid2 {
        padding:1px!important;
        background-color: #d5281b;
        color: #ffffff;
        text-indent: 10px;
        height: 60px !important;
      }*/

//