/* Amend the NHS.UK nav bar to sit within our site header */
.nhsuk-header__menu {
  margin: 8px 0;
}
.nhsuk-header__menu-toggle {
  margin-right: 0;
}

@media (min-width: 61.875em) {
  .nhsuk-header__navigation {
    clear: none;
    float: right;
  }
  .nhsuk-header__navigation-link {
    padding: 18px;
  }
  #scra-service-name {
    padding-top: 14px;
  }
  .landing-page-nav li a {
    padding: 26px;
  }
}

#scra-service-name {
  padding-top: 16px;
}

.landing-page-menu-btn {
  margin: 16px 0;
}

@media (max-width: 40.0525em) {
  .landing-page-menu-btn {
    margin-right: 16px;
  }
}
