// Search pages

.nhsuk-label__strong {
  font-weight: 600;
}

.nhsuk-form-group:last-child {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .nhsuk-form-group:last-child {
    margin-bottom: 32px;
  }
}

.address-lookup {
  margin-top: 12px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .address-lookup {
    font-size: 120%;
    margin-top: 4px;
    margin-left: 2rem;
    position: absolute;
  }
}

.advanced-search {
  margin-top: 12px;
  margin-left: 2rem;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .advanced-search {
    font-size: 120%;
    margin-top: 12px;
    margin-left: 2rem;
    position: absolute;
  }
}

.nhsuk-form-group__age-selector {
  .fuzzy-age {
    display: inline-block;
    margin-bottom: 16px;

    label {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}
@media screen and (min-width: 769px) {
  .nhsuk-form-group__age-selector {
    .fuzzy-age {
      margin-bottom: 24px;
    }
  }
}

.age-range-separator {
  margin: 0 1rem;
}

.nhsuk-input--autocomplete {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .nhsuk-input--autocomplete {
    width: 80%;
  }
}

.nhsuk-ra-form-group-hr {
  border: 1px solid $color_nhsuk-grey-3;
}

.gender-search-inset-text {
  margin-top: 16px;
  margin-bottom: 24px;
  display: none;
}

/* PDS Edit */

.pds-edit-form-group {
  select, input {
    margin-bottom: 8px;
  }
}

/* BNA */

.input-unit {
  position: relative;
  display: inline-block;
  margin-left: 12px;
}

.birth-order-text {
  margin-right: 24px;
}
