@mixin nhsuk-width-container-fluid {
 margin: 0 $nhsuk-gutter-half;
 max-width: 100%; /* [5] */
}

.nhsuk-width-container-fluid {
 @include nhsuk-width-container-fluid;
}

.full-width-container {
  width: 100%;
  padding: 0 1rem;
}
