a:visited {
  color: $color_nhsuk-blue;
}

.pdf-iframe {
  width: 100%;
}

@media (min-width: 1440px) {
  .pdf-iframe {
    width: 50%;
    margin-left: 25%;
  }
}

.link-text {
  color: $color_nhsuk-blue;
}
