.overview-card {
  margin-top: 0;
}

.overview-card__footer-container {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -32px!important;
  margin-top: 32px;
  padding-right: 16px;
  text-align: right;
}

.overview-card__heading-container {
  padding: 8px 24px;
}

.overview-card__heading {
  font-size: 100%;
}

.overview-card__content {
  * {
    font-size: 100%;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: $color_nhsuk-blue;
  }
}

.overview-card__list {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .overview-card__content {
    min-height: 200px;
    p {
      margin-bottom: 12px;
    }
  }
  .overview-card__footer-container {
    margin-bottom: -40px!important;
    margin-top: 40px;
  }
}
