.nhsuk-bulletin-panel {
  border-top: 4px solid $color_nhsuk-blue;
}

.nhsuk-bulletin-panel:first-of-type  {
  margin-top: 0;
}

.added-adjustments-list {
  background-color: $color_nhsuk-white;
  border-top: 3px solid $color_nhsuk-blue;
  padding: 12px;
}


/* RA FLAG */

#added-adjustments-container {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  #added-adjustments-container {
    margin-bottom: 32px;
  }
}

.no-adjustments-placeholder {
  padding: 12px;
}

.added-ra-flag {
  padding: 12px;
}

.ra-list-text {
  margin-bottom: 0;
}

.flag-category {
  font-size: 14px;
  margin-bottom: 2px;
  color: $color_nhsuk-grey_1;
  display: block;
}

.flag-desc {
  font-size: 16px;
}

.ra-support-info {
  display: block;
  font-size: 16px;
  color: $color_nhsuk-grey_1;
  font-style: italic;
}

.remove-flag-container {
  font-size: 14px;
  display: block;
}

a.remove-flag-link {
  color: $color_nhsuk-red;
}

.hr-ra {
  margin: 12px 0;
}

@media screen and (min-width: 768px) {
  .flag-category {
    font-size: 16px;
  }
  .flag-desc {
    font-size: 19px;
  }
}

.added-ra-flag-border-top {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid $color_nhsuk-grey_4;
}

.ra-blink {
  background-color: #005eb8 !important;
  span {
    color: white !important;
    a {
      color: white !important;
    }
  }
}
