.patient-banner {
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .patient-banner {
    font-size: 0.8rem;
  }
}

.patient-banner-item {
  span {
    display: block;
  }
}

.patient-banner-item-label {
  font-weight: 200;
}


// Banner V2

.banner-list {
  padding-left: 0;
  margin-bottom: 0;
}

.banner-list-item {
  display: inline-block;
  font-size: 80%;
  padding-right: 1rem;
}

@media screen and (max-width: 641px) {
  .banner-name {
    margin-bottom: 0.5rem;
  }
  .banner-list-item {
    display: block;
  }
}

.patient-banner-name {
  font-size: 120%;
  font-weight: 600;
}

.patient-banner-age-gender {
  font-weight: 200;
  margin-left: 1rem;
}

.copy-to-clipboard-btn {
  margin-bottom: 0;
  margin-left: 8px;
  font-size: 80%;
  padding: 0 8px;
  vertical-align: text-bottom;
}


/* Banner floater */

.name-dob-floater {
  display: none;
  position: fixed;
  top: 20px;
  height: auto;
  background: $color_nhsuk-blue;
  color: white!important;
  font-weight: 600;
  text-decoration: none;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 2px solid transparent;
  float: right;
  text-align: center;
  line-height: 12px;
  right: 20px;
  z-index: 1000;
}

.name-dob-floater:hover, .name-dob-floater:focus {
  background-color: #003087;
  text-decoration: underline;
  box-shadow: 0 4px 0 #003087;
}
