.role-type,
.role-location {
  font-size: 90%;
}

.app-promo--grey a {
  background: #f0f4f5;
}

/* Alerts promos */

.nhsuk-promo-group__alerts-item {
  margin-bottom: 0;
}

.nhsuk-promo--alert {
  .nhsuk-promo__heading {
    text-decoration: none;
    i {
      margin-right: 8px;
    }
  }
  .nhsuk-promo__link-wrapper {
    box-shadow: -4px 0 0 0 $color_nhsuk-black;
    border: none;
    background-color: $color_nhsuk-warm-yellow;
  }
  .nhsuk-promo__link-wrapper:hover {
    .nhsuk-promo__heading {
      color: $color_nhsuk-blue;
    }
  }
  .nhsuk-promo__link-wrapper:focus {
    border: 4px solid #005eb8;
    box-shadow: none;
    .nhsuk-promo__heading {
      background-color: inherit;
      box-shadow: none;
    }
  }
  .nhsuk-promo__content {
    background-color: $color_nhsuk-warm-yellow;
    color: $color_nhsuk-black;
    padding: 16px;
  }
  .nhsuk-promo__description {
    color: $color_nhsuk-black;
  }
}
