.scrollToTop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  background: $color_nhsuk-blue;
  color: white!important;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 0 #003087; //NHS Dark Blue
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 4px;
  border: 2px solid transparent;
  float: right;
  text-align: center;
  line-height: 12px;
  right: 20px;
}

.scrollToTop:hover, .scrollToTop:focus {
  background-color: #003087;
  text-decoration: underline;
  box-shadow: 0 4px 0 #003087;
}
