.responsive-table {
  $mobile: 641px;
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      @media (min-width: $mobile) {
        display: table-cell;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      padding-left: 1em;
      display: block;
      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;
        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;
        vertical-align: text-top;
        @media (min-width: $mobile) {
          text-align: left;
        }

        &.numeric {
          text-align: left;
          @media (min-width: $mobile) {
            text-align: right;
          }
        }
      }
    }

    .total {
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}

.table-foot {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}
/* Customisations */

.dob-results-td,
.dob-results-th,
.nhs-no-results-td,
.nhs-no-results-th {
  white-space: nowrap;
}

.address-results-td {
  @media (min-width: 769px) {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }
}

.name-results-td {
  font-weight: 600;
  text-decoration: none;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

#search-results-table {
  border-collapse: collapse;

  tr {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  tbody {
    tr:hover {
      cursor: pointer;
      border: 3px solid $color_nhsuk-warm-yellow;
    }

    a:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.patient-search-result {
  background: $color_nhsuk-white;
}

/* BNA */
.bna-table td,
th {
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 0;
  margin-bottom: 16px;
  @media (min-width: 641px) {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.bna-table {
  margin-bottom: 32px;

  tbody {
    tr {
      background-color: white;

      td {
        vertical-align: middle;

        button {
          background-color: transparent;
          border: none;
          padding: 0.25em 0.5em 0.25em 0.25em;
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  .detailsRow {
    td {
      vertical-align: top;
    }
  }

  .detailsTable {
    margin-bottom: 0;

    td {
      border-bottom: none;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .detailsTableLabel {
      text-align: right;
      font-weight: 600;
    }
  }

  .hidden {
    display: none;
  }

  .detailsTableRight {
    td {
      text-align: left;
    }
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label::before {
    top: -5px;
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label::after {
    top: 3px;
    left: 18px;
  }

  .nhsuk-action-link {
    margin-bottom: 0;
  }

  .nhsuk-icon__arrow-right-circle {
    height: 24px;
    top: 0;
  }

  .nhsuk-icon__arrow-right-circle--red {
    fill: $color_nhsuk-red;
  }

  .nhsuk-icon__arrow-right-circle--yellow {
    fill: #ffb81c;
  }

  .nhsuk-action-link__link {
    padding-left: 30px;
    line-height: 0;
  }

  .nhsuk-action-link__text {
    font-size: 14px;
    line-height: 1.71429;
    @media (min-width: 40.0625em) {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .expandedRow {
    background-color: #005eb8;
    color: #fff;

    a {
      color: #fff;
    }

    a:focus {
      color: #231f20;

      svg {
        fill: #231f20;
      }
    }

    svg {
      fill: #fff;

      circle {
        stroke: none;
        fill: none;
      }
    }

    label::after {
      color: #231f20;
    }
  }
}

.td-unavailable {
  color: $color_nhsuk-grey-1;
}
/* REFACTOR WORK */
.scr-table * {
  font-size: 1rem;

  thead,
  tr:hover {
    background-color: $color_nhsuk-white;
  }

  .tr_odd:hover {
    background-color: #f0f4f5;
  }

  .tr_even:hover {
    background-color: $color_nhsuk-white;
  }
}

.scr-table {
  th:first-child {
    padding-left: 8px;
  }

  td:first-child {
    padding-left: 8px;
    min-width: 130px;
  }
  @media screen and (min-width: 376px) {
    td:nth-child(2) {
      min-width: 130px;
    }
  }
}

@media screen and (max-width: 320px) {
  table .scr-table {
    border-spacing: 0!important;
  }
}

.tr_master {
  td {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.tr_odd {
  background-color: #f0f4f5;
}

.bold-field {
  font-weight: bold;
}

.td_support {
  padding-top: 8px;
  padding-bottom: 8px;

  .supporting-info {
    display: block;
  }
}

.supporting-info {
  border-left: 4px solid $color_nhsuk-blue;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

/* ------ OVM ------ */

#home-office-status-table {
  td {
    font-size: 14px;
  };
  th {
    font-size: 14px;
  };
}

#ho-historical-table {
  td {
    font-size: 14px;
  };
  th {
    font-size: 14px;
  };
}

.ho-start-date, .ho-end-date {
  min-width: 110px;
}
