// Bordered tabs
.scra-bordered-tabs-container {
  padding-top: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #C8CBCC;
}

.scra-bordered-tabs {
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .scra-bordered-tabs {
    display: flex;
  }
}

.scra-bordered-tabs-item {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 0;
  font-size: 90%;

  a {
    text-decoration: none;
    color: $color_nhsuk-grey-1;
  }

  a:visited {
    text-decoration: none;
    color: $color_nhsuk-grey-1;
  }

  a:hover {
    color: $color_nhsuk-blue!important;
    background-color: $color_nhsuk-white;
    box-shadow: none;
    text-decoration: underline;
  }
}
@media screen and (max-width: 641px) {
  .scra-bordered-tabs {
    margin-left: -0.5rem;
  }

  .scra-bordered-tabs-item {
    padding: 0.5rem;
  }
}

.scra-bordered-tabs-item-active {
  background-color: #f0f4f5;
  border-top: 1px solid #C8CBCC;
  border-left: 1px solid #C8CBCC;
  border-right: 1px solid #C8CBCC;
  margin-bottom: -1px!important;
  border-bottom: 1px solid #f0f4f5;

  a,
  a:hover {
    color: $color_nhsuk-blue!important;
    background-color: #f0f4f5;
    box-shadow: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
