.responsive-table {
  $mobile: 769px;
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      @media (min-width: $mobile) {
        display: table-cell;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      display: block;
      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;
        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;
        vertical-align: text-top;
        @media (min-width: $mobile) {
          text-align: left;
        }

        &.numeric {
          text-align: left;
          @media (min-width: $mobile) {
            text-align: right;
          }
        }
      }
    }

    .total {
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}

.table-foot {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}
/* Customisations */
table {
  @media (max-width: 769px) {
    border-spacing: 0 16px;
  }
}

.dob-results-td,
.dob-results-th,
.nhs-no-results-td,
.nhs-no-results-th {
  white-space: nowrap;
}

.address-results-td {
  @media (min-width: 769px) {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }
}

.name-results-td {
  font-weight: 600;
  text-decoration: none;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

#search-results-table {
  border-collapse: collapse;

  tr {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  tbody {
    tr:hover {
      cursor: pointer;
      border: 3px solid $color_nhsuk-warm-yellow;
    }

    a:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.patient-search-result {
  background: $color_nhsuk-white;
}

.nrl-results {
  tr {
    background-color: white;
    td {
      vertical-align: top!important;
    }
  }
}
@media (max-width: 768px) {
  #nrl-table {
    border-spacing: 0 32px;
  }

  .nrl-results {
    tr {
      td:last-child {
        border-bottom: 4px solid $color_nhsuk-grey-4;
      }
    }
  }

  .nrl-contact-link {
    margin-bottom: 0;
  }

  .nrl-action-link {
    margin-bottom: 0;
  }

  .multiple-doc-td {
    display: block!important;

    .nrl-contact-link {
      margin-top: 16px;
    }
  }
}

.multiple-doc-td {
  .nrl-action-link {
    margin-bottom: 16px;
  }
}

.nrl-trust-details {
  list-style-type: none;
  margin-bottom: 0;
}

.nrl-action-link {
  margin-bottom: 0;
}
