// Custom tab styles for SCRa redesign
// White & Blue tabs
.scra-white-tabs-container {
  background-color: #fff;
  border-top: 2px solid #003087;
}

.scra-white-tabs {
  padding: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 769px) {
  .scra-white-tabs {
    margin-left: -16px;
    display: flex;
  }
}

.scra-white-tabs-item {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 0;
  font-size: 90%;

  a {
    text-decoration: none;
    color: $color_nhsuk-blue;
    font-size: 90%;
  }

  a:visited {
    text-decoration: none;
    color: $color_nhsuk-blue;
  }
}
@media screen and (max-width: 641px) {
  .scra-white-tabs-item {
    padding: 0.5rem 1rem;
  }
}

.scra-white-tabs-item:hover {
  background-color: #003087;

  a {
    color: $color_nhsuk-white;
    text-decoration: underline;
    background-color: #003087;
    box-shadow: none;
  }
}

.scra-white-tabs-item-active {
  background-color: $color_nhsuk-blue;

  a {
    color: $color_nhsuk-white!important;
  }
}
// Blue & Yellow tabs
.scra-blue-tabs-container {
  background-color: $color_nhsuk-blue;
  border-bottom: 4px solid $color_nhsuk-warm-yellow;
}

.scra-blue-tabs {
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .scra-blue-tabs {
    margin-left: -1rem;
    display: flex;
  }
}

.full-width-container {
  .scra-blue-tabs {
    margin-left: 0;
  }
}

.scra-blue-tabs-item {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 0;
  font-size: 90%;


  a {
    text-decoration: none;
    color: $color_nhsuk-white;
  }

  a:visited {
    text-decoration: none;
    color: $color_nhsuk-white;
  }
}
@media screen and (max-width: 641px) {
  .scra-blue-tabs-item {
    font-size: 80%;
    padding: 0.5rem 1rem;
  }
}

.scra-blue-tabs-item:hover {
  background-color: #003087;

  a {
    color: $color_nhsuk-warm-yellow;
    text-decoration: underline;
    background-color: #003087;
    box-shadow: none;
  }
}

.scra-blue-tabs-item-active {
  margin-bottom: -4px!important;
  border-bottom: 4px solid $color_nhsuk-blue;

  a {
    color: $color_nhsuk-warm-yellow!important;
  }
}
// Bordered tabs
.scra-bordered-tabs-container {
  padding-top: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #C8CBCC;
}

.scra-bordered-tabs {
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .scra-bordered-tabs {
    display: flex;
  }
}

.scra-bordered-tabs-item {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 0;
  font-size: 90%;

  a {
    text-decoration: none;
    color: $color_nhsuk-grey-1;
  }

  a:visited {
    text-decoration: none;
    color: $color_nhsuk-grey-1;
  }

  a:hover {
    color: $color_nhsuk-blue!important;
    background-color: $color_nhsuk-white;
    box-shadow: none;
    text-decoration: underline;
  }
}
@media screen and (max-width: 641px) {
  .scra-bordered-tabs {
    margin-left: -0.5rem;
  }

  .scra-bordered-tabs-item {
    padding: 0.5rem;
  }
}

.scra-bordered-tabs-item-active {
  background-color: #f0f4f5;
  border-top: 1px solid #C8CBCC;
  border-left: 1px solid #C8CBCC;
  border-right: 1px solid #C8CBCC;
  margin-bottom: -1px!important;
  border-bottom: 1px solid #f0f4f5;

  a,
  a:hover {
    color: $color_nhsuk-blue!important;
    background-color: #f0f4f5;
    box-shadow: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
