/* Header logo styles */

.nhsuk-header__logo--small {
  padding: 12px 0;
}

.nhsuk-header__link--small {
  height: 24px;
  width: auto;
  display: block;
}

.nhsuk-logo--small {
  height:24px;
  width:auto;
}
