/* Header background colour */

.nhsuk-header-white {
  background-color: #fff;
}

/* Header logo styles */

.nhsuk-header__logo--small {
  padding: 12px 0;
}

.nhsuk-header__link--small {
  height: 20px;
  width: auto;
  display: block;
}

.nhsuk-logo--small {
  height:20px;
  width:auto;
}
