{% if patient.chargeablestatus === 'chargeable' %}

{# red banner #}
<div class="nhsuk-banner nhsuk-banner--chargeable">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="display:inline;" class="exclamation" style="margin-left:0px;"><span>!</p>
          <p style="display:inline;">Chargeable for NHS services. <a href="patient-details-home-office" style="color:white;">check evidence</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>

{% elif patient.chargeablestatus === 'maybe' %}

{# orange banner #}
<div class="nhsuk-banner nhsuk-banner--maybe">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="display:inline;" class="exclamation" style="margin-left:0px;"><span>!</p>
          <p style="display:inline;">May be chargeable for NHS services. <a href="patient-details-home-office" style="color:white;">check evidence</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>


{% else %}

{# green banner #}
<div class="nhsuk-banner nhsuk-banner--free">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="padding-left:60px;">Green: Access to free NHS services subject to Ordinarily Resident status - <a href="patient-details-home-office" style="color:white;">check evidence</a>
            <svg class="bannertick nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="background:white;" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endif %}

