{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Find a patient
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Find a patient</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="nhsuk-full-width-container">
    <div class='scra-bordered-tabs-container'>
      <div class="nhsuk-width-container">
        <ul class="scra-bordered-tabs">
          <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
            <a class="scra-bordered-tabs-link" href="#">By NHS Number</a>
          </li>
          <li class="scra-bordered-tabs-item">
            <a class="scra-bordered-tabs-link" href="patient-details-search">By Patient Details</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h1 id="changed-element">This is the text that would be changed</h1>
    </div>

  </div>

  {% block pagescripts %}

    <script>

      var storageVariable = sessionStorage.getItem("storageVariable");

      console.log(storageVariable);

      $("#changed-element").text(storageVariable);

    </script>

  {% endblock %}

{% endblock %}
