{% extends 'layouts/layout-landing-page.html' %}

{% block pageTitle %}
Select a role
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Select your role
          <span class="nhsuk-caption-l nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Select the role you wish to use to access the service
          </span>
        </span>
      </h1>

      <section>
        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>You are currently logged in with the <strong>Health Professional Access Role</strong> at the <strong>Leeds Teaching Hospitals NHS Trust</strong></p>
        </div>
        <p>
          If you don't want to change role, you can return to <a href="../search-v3/nhs-number-search">Find a patient</a>.
          </p>
      </section>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <section>
        <h2>Roles with access to NPIS</h2>
        <div class="nhsuk-promo nhsuk-promo--small scra-promo-roles">
          <a href="../search-v3/nhs-number-search" class="nhsuk-promo__link-wrapper ">

            <div class="nhsuk-promo__content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <h3 class="nhsuk-promo__heading role-type">Health Professional Access Role</h3>
                  <p class="nhsuk-promo__description role-location">Leeds Teaching Hospitals NHS Trust</p>
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <details class="nhsuk-details role-permissions-link">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View permissions for this role
                      </span>
                    </summary>
                  </details>
                </div>
                <div class="nhsuk-grid-column-full role-permissions-content hidden">
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Permissions</h2>
                    <ul>
                      <li>View demographics</li>
                      <li>Edit demographics</li>
                      <li>View Summary Care Record</li>
                      <li>Update Summary Care Record</li>
                    </ul>
                  </div>
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Exclusions</h2>
                    <ul>
                      <li>Allocate NHS Number</li>
                      <li>View/Update Female Genital Mutilation information</li>
                      <li>View chargeable status</li>
                      <li>Update chargeable status</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

        <div class="nhsuk-promo nhsuk-promo--small scra-promo-roles">
          <a href="../search-v3/nhs-number-search" class="nhsuk-promo__link-wrapper ">

            <div class="nhsuk-promo__content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <h3 class="nhsuk-promo__heading role-type">Clinical Practicioner Access Role</h3>
                  <p class="nhsuk-promo__description role-location">Leeds Teaching Hospitals NHS Trust</p>
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <details class="nhsuk-details role-permissions-link">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View permissions for this role
                      </span>
                    </summary>
                  </details>
                </div>
                <div class="nhsuk-grid-column-full role-permissions-content hidden">
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Permissions</h2>
                    <ul>
                      <li>View demographics</li>
                      <li>Edit demographics</li>
                      <li>View Summary Care Record</li>
                      <li>Update Summary Care Record</li>
                    </ul>
                  </div>
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Exclusions</h2>
                    <ul>
                      <li>Allocate NHS Number</li>
                      <li>View/Update Female Genital Mutilation information</li>
                      <li>View chargeable status</li>
                      <li>Update chargeable status</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

        <div class="nhsuk-promo nhsuk-promo--small scra-promo-roles">
          <a href="../search-v3/nhs-number-search" class="nhsuk-promo__link-wrapper ">

            <div class="nhsuk-promo__content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <h3 class="nhsuk-promo__heading role-type">Health Professional Access Role</h3>
                  <p class="nhsuk-promo__description role-location">The Royal Bournemouth and Christchurch Hospitals NHS Foundation Trust</p>
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <details class="nhsuk-details role-permissions-link">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View permissions for this role
                      </span>
                    </summary>
                  </details>
                </div>
                <div class="nhsuk-grid-column-full role-permissions-content hidden">
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Permissions</h2>
                    <ul>
                      <li>View demographics</li>
                      <li>Edit demographics</li>
                      <li>View Summary Care Record</li>
                      <li>Update Summary Care Record</li>
                    </ul>
                  </div>
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Exclusions</h2>
                    <ul>
                      <li>Allocate NHS Number</li>
                      <li>View/Update Female Genital Mutilation information</li>
                      <li>View chargeable status</li>
                      <li>Update chargeable status</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

        <div class="nhsuk-promo nhsuk-promo--small scra-promo-roles">
          <a href="../search-v3/nhs-number-search" class="nhsuk-promo__link-wrapper ">

            <div class="nhsuk-promo__content">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <h3 class="nhsuk-promo__heading role-type">Clinical Practicioner Access Role</h3>
                  <p class="nhsuk-promo__description role-location">The Royal Bournemouth and Christchurch Hospitals NHS Foundation Trust</p>
                </div>
                <div class="nhsuk-grid-column-one-half nhsuk-grid-column-tablet-one-half">
                  <details class="nhsuk-details role-permissions-link">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View permissions for this role
                      </span>
                    </summary>
                  </details>
                </div>
                <div class="nhsuk-grid-column-full role-permissions-content hidden">
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Permissions</h2>
                    <ul>
                      <li>View demographics</li>
                      <li>Edit demographics</li>
                      <li>View Summary Care Record</li>
                      <li>Update Summary Care Record</li>
                    </ul>
                  </div>
                  <div class="nhsuk-grid-column-one-half">
                    <h2 class="nhsuk-heading-s">Exclusions</h2>
                    <ul>
                      <li>Allocate NHS Number</li>
                      <li>View/Update Female Genital Mutilation information</li>
                      <li>View chargeable status</li>
                      <li>Update chargeable status</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>
      </section>

      <section>
        <h3>Roles without access to NPIS</h3>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              View roles without access to NPIS
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <table>
              <tbody>
                <tr>
                  <th><strong>Role</strong></th>
                  <th><strong>Organisation</strong></th>
                </tr>
                <tr>
                  <th>Admin/Clinical Support Access Role</th>
                  <td>Leeds teaching hospitals NHS Trust</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </section>

    </div>
  </div>
</div>
{% endblock %}
