{% extends 'layouts/layout-landing-page.html' %}

{% block pageTitle %}
Select a role
{% endblock %}

{% block beforeContent %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:history.back()">Select role</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Confirm role</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:history.back()">Back to Level three</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Role confirmed
          <span class="nhsuk-caption-l nhsuk-caption--bottom">
          </span>
      </h1>

      <h2>The following role is now active</h2>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="section">
        <form action="../search-v3/nhs-number-search">

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Role
              </dt>
              <dd class="nhsuk-summary-list__value">
                Heath Professional Access Role
              </dd>

              <dd class="nhsuk-summary-list__actions">

                <a href="javascript:history.back()">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>

              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Organisation
              </dt>
              <dd class="nhsuk-summary-list__value">
                Leeds Teaching Hospitals NHS Trust (RR8)
              </dd>

              <dd class="nhsuk-summary-list__actions">

                <a href="javascript:history.back()">
                  Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                </a>

              </dd>

            </div>

          </dl>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View permissions for this role
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <h2 class="nhsuk-heading-s">Permissions</h2>
              <ul>
                <li>View demographics</li>
                <li>View Summary Care Record</li>
                <li>Update Summary Care Record</li>
              </ul>

              <h2 class="nhsuk-heading-s">Exclusions</h2>
              <ul>
                <li>Allocate NHS Number</li>
                <li>View/Update Female Genital Mutilation information</li>
                <li>View chargeable status</li>
                <li>Update chargeable status</li>
              </ul>
            </div>
          </details>

          <button class="nhsuk-button" type="submit">
            Accept & continue to Find a patient
          </button>

        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
