{% extends 'layouts/layout-landing-page.html' %}

{% block pageTitle %}
Select a role
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">Select your role
          <span class="nhsuk-caption-l nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Select the role you wish to use to access the service
          </span>
        </span>
      </h1>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You are currently logged in with the <strong>Health Professional Access Role</strong> at the <strong>Leeds Teaching Hospitals NHS Trust (RR8)</strong></p>
        <p>
          This is your only role with access to Mobile SCRa
        </p>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <section>

        <form action="../search-v3/nhs-number-search">
          <button class="nhsuk-button" type="submit">
            Confirm and Find a patient
          </button>
        </form>

      </section>

      <section>
        <h3>Roles without access to Mobile SCRa</h3>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              View roles without access to Mobile SCRa
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <table>
              <tbody>
                <tr>
                  <th><strong>Role</strong></th>
                  <th><strong>Organisation</strong></th>
                </tr>
                <tr>
                  <th>Admin/Clinical Support Access Role</th>
                  <td>Leeds teaching hospitals NHS Trust (RR8)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </section>

    </div>
  </div>
</div>
{% endblock %}
