{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Select/Change role pages</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <p class="nhsuk-body">
        This prototype explores the creation of a screen which allows users to select the relevant role and organisation upon login, as well as change their role or organisation at any point thereafter.
      </p>

      <p>
        There are a number of different scenarios which a user may be involved in when trying to access the service. These scenarios can be viewed using the links in the Prototypes columns.
      </p>

    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a href="select-role-solitary">Select a role (one role available)</a>
      </p>
      <p>
        <a href="select-role-many">Select a role (many roles available)</a>
      </p>
      <p>
        <a href="select-role-smartcard-solitary">Select role when logging in with smartcard (one role)</a>
      </p>
      <p>
        <a href="select-role-smartcard-many">Select role when logging in with smartcard (many  roles)</a>
      </p>
      <p>
        <a href="change-role">Change role after initial login (many roles)</a>
      </p>
      <p>
        <a href="select-role-bulletins-a">Select a role (including bulletins feed)</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
