{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Enter delivery place details
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Create a birth notification for an unregistered mother</h1>
        </div>
      </div>
    </div>
  </div>

</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" id="find-patient" href="nhs-number-search">Find a patient</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="#">Create a birth notification</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="nhs-number-search">Find a patient</a>
    </p>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">

        <h2 class="nhsuk-heading-l">
          <span role="text">Enter delivery place details</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 2 of 6</span>
        </h2>

        <p class="nhsuk-body">
          Please enter details about the organisation where the birth took place.
        </p>
        <form id="create-step-2-form" action="create-birth-notification-3">

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="delivery-place-dropdown">
              Delivery place type
            </label>
            <select class="nhsuk-select" id="delivery-place-dropdown" name="delivery-place">
              <option value="0">NHS hospital - delivery facilities associated with midwife ward</option>
              <option value="1">Domestic address</option>
              <option value="2">NHS hospital - delivery facilities associated with consultant ward</option>
              <option value="3">NHS hospital - delivery associated with GMP ward</option>
              <option value="4">NHS hospital - delivery associated with any combination of two of Maternity/Consultant/GMP ward</option>
              <option value="5">Private hospital</option>
              <option value="6">Other hospital or institution</option>
              <option value="7">NHS hospital - ward or unit without delivery facilities</option>
              <option value="8">None of the above</option>
              <option value="9">Not known</option>
              <option value="9" selected disabled>Please select a delivery place type</option>

            </select>
          </div>

          <div class="nhsuk-form-group" style="display:none">
            <label class="nhsuk-label nhsuk-label__strong" for="delivery-place-name">
              Delivery place
            </label>
            <span class="nhsuk-hint nhsuk-hint-margin-bottom-2">
              Enter a place name or a description of the delivery place.
            </span>
            <span class="nhsuk-hint">
              Alternatively, you can search for an organisation using the exact ODS code, partial organisation name, or postcode
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="delivery-place-name" name="delivery-place-name" type="text">
          </div>

          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Place of birth</h3>
          <span class="nhsuk-hint">
            Enter at least one of Town, County or Country.
          </span>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="bna-town-of-birth">
              Town
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="bna-town-of-birth" name="town-of-birth" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="county-of-birth">
              County
            </label>
            <span class="nhsuk-hint">
              Start typing to search for and select a county
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="bna-county-of-birth" name="county-of-birth" type="text">
          </div>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Country
              </legend>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="pob-england" name="pob" type="radio" value="England">
                  <label class="nhsuk-label nhsuk-radios__label" for="pob-england">
                    England
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="pob-iom" name="pob" type="radio" value="Isle of Man">
                  <label class="nhsuk-label nhsuk-radios__label" for="pob-iom">
                    Isle of Man
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="pob-wales" name="pob" type="radio" value="Wales">
                  <label class="nhsuk-label nhsuk-radios__label" for="pob-wales">
                    Wales
                  </label>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="partner-chu">
              Associated Child Health Unit (CHU)
            </label>
            <span class="nhsuk-hint">
              Enter the Child Health Unit associated with the delivery place
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="partner-chu" name="partner-child-health-unit" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="responsible-chu">
              Responsible Child Health Unit (optional)
            </label>
            <span class="nhsuk-hint">
              Enter if the baby's usual address is outside the catchment area of the associated CHU
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="responsible-chu" name="responsible-child-health-unit" type="text">
          </div>

          <div class="btn-group">
            <button class="nhsuk-button" type="submit">
              Save and continue
            </button>

            <p class="cancel-btn-link"><a href="#">Cancel</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>


{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
