{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="./patient-details-no-alert">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="free-nhs-banner">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="padding-left:60px;">Green: Access to free NHS servcies subject to OR status - check evidence
            <svg id="bannertick" class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="background:white;" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link" href="#">Contacts & next of kin</a></li>
            <li><a class="scra-accordion__link" href="#">Power of attorney</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link" href="#">GP Details</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeable status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul>
            <li><a class="scra-accordion__link" href="#">Home office status</a></li>
            <li><a class="scra-accordion__link" href="patient-details-ovm-status">Overseas visitor manager status</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Reasonable Adjustments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#ra-section">Add a Reasonable Adjustment</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>



  <div class="nhsuk-grid-column-one-half">
    <h1 style="margin-bottom:0px;">Home office status</h1>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="">
          <div class="nhsuk-u-padding-bottom-4"></div>

          <h2 id="bluebanner2" style="padding-left:0px; color:black;">Current status</h2>
          <div class="nhsuk-u-padding-bottom-2"></div>
          <div class="nhsuk-u-reading-width">
          <p style="padding-left:0px; color:black;">This information is the current relevant status for the patient, though there may be other historic statuses held by the Home Office.</p>
          </div>
        </div>
        <div class="nhsuk-u-padding-bottom-3"></div>
        <div class="scra-card" id="acute" style="padding-bottom:5px;">
          <div class="nhsuk-table-responsive">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="col">Start date</th>
                  <th class="nhsuk-table__header" scope="col">End date</th>
                  <th class="nhsuk-table__header" scope="col">Home Office reference</th>
                  <th class="nhsuk-table__header" scope="col">BRP number</th>
                  <th class="nhsuk-table__header" scope="col">Visa type</th>
                  <th class="nhsuk-table__header" scope="col">Immigration status</th>
                  <th class="nhsuk-table__header" scope="col">Healthcare status</th>

                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">01-Jun-2020</td>
                  <td class="nhsuk-table__cell ">No expiry</td>
                  <td class="nhsuk-table__cell ">AM-ypGP-085c-cd7d-9e66-2</td>
                  <td class="nhsuk-table__cell ">Not provided</td>
                  <td class="nhsuk-table__cell ">EU settlement scheme</td>
                  <td class="nhsuk-table__cell ">Indefinite leave to remain</td>
                  <td class="nhsuk-table__cell ">Access to free NHS services</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="">
          <h2 id="bluebanner2" style="padding-left:0px; color:black;">Historical status</h2>
        </div>
        <div class="nhsuk-u-padding-bottom-3"></div>
        <div class="scra-card" id="acute" style="margin:0px">
          <div class="scra-card-header">
          </div>
          <div class="scra-card-content" id="searchhistoric">
            <div class="nhsuk-grid-row" id="historicsearch">
              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-action-link" id="searchforhistory">
                  <a class="nhsuk-action-link__link">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span id="gethistoric" onClick="toggle();"><span class="nhsuk-action-link__text"><span>Get historical status</span>
                  </a>
                </div>
              </div>
            </div>
            <form action="patient-details-ovm-history#historycontent" id="search-history">
              <div class="nhsuk-form-group" id="hidethis" style="display:none;">

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">
                     <div class="nhsuk-u-padding-top-4"></div>
                    <form>
                      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" style="display:none;" id="error-summary">
                        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                          There is a problem
                        </h2>
                        <div class="nhsuk-error-summary__body">
                          <ul class="nhsuk-list nhsuk-error-summary__list">
                            <li>
                              <a href="#dob-start-error">All date fields must be filled in </a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="nhsuk-grid-row" id="gr">
                        <div class="nhsuk-grid-column-one-half">

                          <fieldset id="gr" class="nhsuk-fieldset" aria-describedby="dob-day-error-hint dob-day-error-error" role="group">



                            <div id="start-dob">

                              <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                                <h1 class="nhsuk-fieldset__heading">
                                  Start Date
                                </h1>
                              </legend>
                              <span class="nhsuk-hint" id="example-hint">
                                For example, 15 3 2016
                              </span>
                              <span class="nhsuk-error-message" id="dob-start-error" style="display:none;">
                                <span class="nhsuk-u-visually-hidden">Error:</span> Start date must be complete
                              </span>
                              <div class="nhsuk-date-input">

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="startday">
                                      Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 " id="startday" name="example-day" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="startmonth">
                                      Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="startmonth" name="example-month" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="startyear">
                                      Year
                                    </label>
                                    <input <span class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="startyear" name="example-year" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>



                        <div class="nhsuk-grid-column-one-half">
                          <fieldset id="gr" class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                              <h1 class="nhsuk-fieldset__heading">
                                End Date
                              </h1>
                            </legend>
                            <span class="nhsuk-hint" id="example-hint">
                              For example, 15 3 2017
                            </span>
                            <span class="nhsuk-error-message" id="dob-end-error" style="display:none;">
                              <span class="nhsuk-u-visually-hidden">Error:</span> End date must be complete
                            </span>
                            <div class="nhsuk-date-input" id="end-dob">
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="endday">
                                    Day
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="endday" name="example-day" type="number" pattern="[0-9]*">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="endmonth">
                                    Month
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="endmonth" name="example-month" type="number" pattern="[0-9]*">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="endyear">
                                    Year
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="endyear" name="example-year" type="number" pattern="[0-9]*">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>


                      <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                          <button class="nhsuk-button" id="button" type="submit" style="margin:0px" href="#result">
                            Search
                          </button>

                        </div>
                      </div>

                  </div>
            </form>
          </div>
        </div>



        {% endblock %}

        {%block pageScripts%}

        <html>


        <head>
          <script>
            document.getElementById("gethistoric").onclick = function() {
              if (document.getElementById("hidethis").style.display == 'none') {
                document.getElementById("hidethis").style.display =
                  'block'; // set to table-row instead of an empty string
              } else {
                document.getElementById("hidethis").style.display = 'none';
              }
            }
          </script>
        </head>


        <html>

        </html>

        <head>
          <script>
            $("#button").click(function(e) {

              if (!$('#startday').val() || !$('#startmonth').val() || !$('#startyear').val()) {
                $('#start-dob').addClass('nhsuk-form-group--error');
                $('#dob-start-error').show();
                $('#error-summary').show();

                e.preventDefault();
                if (!$('#startday').val()) {
                  $('#startday').addClass('nhsuk-input--error');
                }
                if (!$('#startmonth').val()) {
                  $('#startmonth').addClass('nhsuk-input--error');
                }
                if (!$('#startyear').val()) {
                  $('#startyear').addClass('nhsuk-input--error');
                }

              } else {
                return true;
                $('#start-dob').html("<h3 class='nhsuk-heading-xs'>Sorry. We couldn't find any patients with " + formattedResultsList + "</h3>");

              }


              if (!$('#endday').val() || !$('#endmonth').val() || !$('#endyear').val()) {
                $('#end-dob').addClass('nhsuk-form-group--error');
                $('#dob-end-error').show();
                $('#error-summary').show();
                e.preventDefault();
                if (!$('#endday').val()) {
                  $('#endday').addClass('nhsuk-input--error');
                }
                if (!$('#endmonth').val()) {
                  $('#endmonth').addClass('nhsuk-input--error');
                }
                if (!$('#endyear').val()) {
                  $('#endyear').addClass('nhsuk-input--error');
                }

              } else {
                return true;

              }



            });
          </script>
        </head>

        <body>
          {% endblock %}
