{% extends 'layouts/layout-application.html' %}


{% block pageTitle %}
Chargeability status
{% endblock %}

{% block beforeContent %}



<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="./patient-details-no-alert">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>



      </ul>
    </div>
  </div>
</div>

<div class="paid-nhs-banner">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="display:inline;" id="exclamation"><span>!</p>
          <p style="display:inline;">Likely chargeable for NHS services.<span style="padding-left:20px;font-size:15px;"><a href="additional-info" style="color:white;">Additional info</a></span></p>

        </ul>

      </div>
    </div>
  </div>
</div>


<div class="user-banner" style="position:sticky;top:0px; z-index:100; " id="myheader">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <ul class="nhsuk-list nhsuk-list--tick">
        <p style="padding-left:60px;"><strong>User:</strong> John Bann</p>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <ul class="nhsuk-list nhsuk-list--tick">
        <p><strong>Organisation:</strong> NELPCT out of hours</p>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <ul style="padding-left:60px;" class="nhsuk-list nhsuk-list--tick">
        <p><strong>Date updated:</strong> 08-Jun-2016</p>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <ul style="padding-left:60px;" class="nhsuk-list nhsuk-list--tick">
        <a style="color:white;position:relative; top:20px" href="patient-details-ovm">View history</a>

      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default" style="z-index:1;">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link" href="#">Contacts & next of kin</a></li>
            <li><a class="scra-accordion__link" href="#">Power of attorney</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link" href="#">GP Details</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeability status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul>
            <li><a class="scra-accordion__link" href="#">Home office status</a></li>
            <li><a class="scra-accordion__link" href="#">Overseas visitor manager status</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Reasonable Adjustments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#ra-section">Add a Reasonable Adjustment</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h2 id="ovms">Overseas visitor manager status</h2>
          </div>
          <div class="nhsuk-grid-column-one-quarter">
            <a style="position:left" class="chargeable-status-tag">
              Cat C: Charge exempt (EHIC/PRC/S2)
            </a>
          </div>


          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="blue-header">
                <h3 id="bluebanner2">Patient data<span><a style="color:white;font-size:15px;padding-left:15px" href="patient-details-ovm-status-edit">Edit</a></span></h3>

              </div>
              <div class="nhsuk-u-padding-bottom-2"></div>
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date patient seen
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">

  </label>
  <input class="nhsuk-input" id="example" name="example" type="text">
</div>

                  </dd>



                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Country of Nationality
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    France
                  </dd>



                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Purpose of entry
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <i>Not recorded</i>
                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Other purpose of entry
                  </dt>
                  <dd class="nhsuk-summary-list__value">

                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of entry
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    04-Jun-2016
                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address line 1
                  </dt>
                  <dd class="nhsuk-summary-list__value">

                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address line 2
                  </dt>
                  <dd class="nhsuk-summary-list__value">

                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address line 3
                  </dt>
                  <dd class="nhsuk-summary-list__value">

                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address line 4
                  </dt>
                  <dd class="nhsuk-summary-list__value">

                  </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home country
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    France
                  </dd>

                </div>

              </dl>

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <div class="blue-header">
                    <h3 id="bluebanner2">Additional details<span><a style="color:white;font-size:15px;padding-left:15px" href="patient-details-ovm-status-edit">Edit</a></span></h3>
                  </div>
                  <div class="nhsuk-u-padding-bottom-2"></div>
                </div>
              </div>

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <div class="scra-card">
                    <div class="nhsuk-grid-column-one-half">

                      <h3>Passport</h3>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Passport Number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          -
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Country of Issue
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          France
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Passport expiry date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          02-Jun-2016
                        </dd>
                      </div>
                    </div>

                    <h3>HO Contact</h3>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        HO E&E contacted
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        -
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Contacted reference
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        -
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date contacted
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        02-Jun-2016
                      </dd>
                    </div>
                  </div>

                </div>
              </div>

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <div class="blue-header">
                    <h3 id="bluebanner2">Entitlement evidence<span><a style="color:white;font-size:15px;padding-left:15px" href="patient-details-ovm-status-edit">Edit</a></span></h3>
                  </div>
                  <div class="nhsuk-u-padding-bottom-2"></div>
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                      <div class="scra-card">
                        <div class="nhsuk-grid-column-one-half">

                          <h3>EHIC</h3>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Passport Number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              -
                            </dd>
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Country of Issue
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              France
                            </dd>
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Passport expiry date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              02-Jun-2016
                            </dd>
                          </div>
                        </div>

                        <h3>S1 Registration</h3>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            HO E&E contacted
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            -
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Contacted reference
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            -
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date contacted
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            02-Jun-2016
                          </dd>
                        </div>


                  <div class="nhsuk-u-padding-bottom-5">

                  </div>

                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">

                        <div class="nhsuk-grid-column-one-half">

                          <h3>EHIC</h3>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Passport Number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              -
                            </dd>
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Country of Issue
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              France
                            </dd>
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Passport expiry date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              02-Jun-2016
                            </dd>
                          </div>
                        </div>

                        <h3>S1 Registration</h3>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            HO E&E contacted
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            -
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Contacted reference
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            -
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date contacted
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            02-Jun-2016
                          </dd>
                        </div>
                      </div>

                    </div>
                  </div>








                  {% endblock %}

                  {%block pageScripts%}

                  <html>


                  <head>
                    <script>
                      var observer = new IntersectionObserver(function(entries) {
                        // no intersection with screen
                        if (entries[0].intersectionRatio === 0)
                          document.querySelector("myheader").classList.add("nav-container-sticky");
                        // fully intersects with screen
                        else if (entries[0].intersectionRatio === 1)
                          document.querySelector("myheader").classList.remove("nav-container-sticky");
                      }, {
                        threshold: [0, 1]
                      });

                      observer.observe(document.querySelector("#nav-container-top"));



                      document.getElementById("gethistoric").onclick = function() {
                        if (document.getElementById("hidethis").style.display == 'none') {
                          document.getElementById("hidethis").style.display =
                            'block'; // set to table-row instead of an empty string
                        } else {
                          document.getElementById("hidethis").style.display = 'none';
                        }
                      }
                    </script>


                  </head>

                  <<head>

                    </head>




                    {% endblock %}
