{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-overview-no-alert">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-details-no-alert">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-quarter">
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ul class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Allergies & Sensitivities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Acute medications</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#fgm">Female genital mutilation</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-xl">Clinical details</h1>
      <h2 class="nhsuk-heading-l">Summary Care Record</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">Allergies & sensitivities</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-table-responsive">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="col">Date</th>
                  <th class="nhsuk-table__header" scope="col">Description</th>
                  <th class="nhsuk-table__header" scope="col">Certainty</th>
                  <th class="nhsuk-table__header" scope="col">Severity</th>
                  <th class="nhsuk-table__header" scope="col">Supporting information</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">08-Jan-1995</td>
                  <td class="nhsuk-table__cell ">House dust mite allergy</td>
                  <td class="nhsuk-table__cell "></td>
                  <td class="nhsuk-table__cell "></td>
                  <td class="nhsuk-table__cell ">Allergic rhinitis</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">Acute medications (issued in the last 12 months)</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-table-responsive">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Acute medications issued in the last 12 months</caption>
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="col">Type</th>
                  <th class="nhsuk-table__header" scope="col">Date</th>
                  <th class="nhsuk-table__header" scope="col">Medication item</th>
                  <th class="nhsuk-table__header" scope="col">Dosage instructions</th>
                  <th class="nhsuk-table__header" scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Acute Medication</td>
                  <td class="nhsuk-table__cell ">26-May-2018</td>
                  <td class="nhsuk-table__cell ">Diclofenac 75mg tablets</td>
                  <td class="nhsuk-table__cell ">take three daily</td>
                  <td class="nhsuk-table__cell ">28 tablets</td>
                </tr>
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Acute Medication</td>
                  <td class="nhsuk-table__cell ">01-Oct-2018</td>
                  <td class="nhsuk-table__cell ">Ranitidine 150mg tablets</td>
                  <td class="nhsuk-table__cell ">take once daily at bedtime</td>
                  <td class="nhsuk-table__cell ">28 tablets</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <a name="fgm"></a>
      <div class="section" id="fgm-indicator-section">
        <h2 class="nhsuk-heading-l">Female genital mutilation (FGM)</h2>
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m">FGM safeguarding responsibilities</h3>
          </div>
          <div class="scra-card-content">
            <div>
              <p>
                Please consider the following:
              </p>
              <ul>
                <li>Do I need to make a referral through my local safeguarding processes?</li>
                <li>Is this a new risk? Or has the risk increased or reduced since the last contact?</li>
                <li>Do I need to make a police report under the mandatory reporting duty?</li>
                <li>Do I need help from my local safeguarding lead or other professional?</li>
              </ul>
              <p>
                For more guidance on <a href="https://www.gov.uk/government/publications/safeguarding-women-and-girls-at-risk-of-fgm">safeguarding women and girls at risk of FGM</a> please view the content on the GOV.UK website.
              </p>
              <div class="nhsuk-action-link nhsuk-u-margin-top-5">
                <a class="nhsuk-action-link__link" href="./add-fgm-indicator">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Add FGM information sharing indicator</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
