{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-overview-no-alert">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
      <h2 class="nhsuk-u-visually-hidden">Contents</h2>
      <ul class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item" aria-current="page">
          <a class="nhsuk-contents-list__link" href="#">Key demographics</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">Contacts & next of kin</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">GP and care providers</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">Chargeability status</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <div class="section">
      <h1>Patient details</h1>
      <h2 class="nhsuk-heading-l">Key demographics</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Usual Name:</span>
                <span class="card-content-name">{{ patient.firstName }} {{ patient.lastName.toUpperCase() }}</span>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Preferred Name:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Other names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Previous names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-key-details">Key details</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Gender:</span>
                <span class="card-content-detail card-content-detail-gender">{{ patient.gender }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">NHS Number:</span>
                <span class="card-content-detail card-content-detail-nhs-no">{{ patient.nhsNumber }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Date of birth:</span>
                <span class="card-content-detail card-content-detail-dob">{{ patient.dob }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Place of birth:</span>
                <span class="card-content-detail card-content-detail-pob">Stratford-upon-Avon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-address">Address</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail card-content-detail-address">{{ patient.address }}</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Temporary address:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="nhsuk-heading-l">Contacts & next of kin</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Contacts</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Peggy Fields</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Grandmother</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail">23 Bracken Croft, Seacroft, Leeds, LS14 1AB</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail">0113 289 0123</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Next of kin</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Fiona Fothergill</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Mother</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail">13 Bayswater Road, Roundhay, Leeds, LS8 2AB</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail">0113 321 0123</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
