{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-overview-simple">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./patient-details-simple">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="./clinical-details-simple">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

  <div class="nhsuk-width-container">
    <div class="section">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="./clinical-details-simple">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
            Back to clinical information
          </a>
      </div>
      <h1 class="nhsuk-heading-xl">Remove FGM indicator</h1>
      <a name="active-plans"></a>
      <form action="./remove-fgm-indicator-success">
        <div class="scra-card">
          <h2 class="nhsuk-heading-l">Confirm removal of FGM indicator</h2>
          <div class="scra-card-content nhsuk-u-reading-width">

            <p>For further guidance please speak to your local safeguarding lead or view <a href="https://www.gov.uk/government/publications/safeguarding-women-and-girls-at-risk-of-fgm">safeguarding women and girls at risk of FGM</a> on the GOV.UK website</p>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-label--m nhsuk-u-margin-bottom-0">
                    <h3 class="nhsuk-fieldset__heading-m nhsuk-u-margin-bottom-3">
                      Why are you removing the FGM indicator?
                    </h3>
                  </legend

                  <div class="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                        Added in error
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        No longer required
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Please provide more detail about why it is no longer required.
                  </label>
                  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>
              </div>
              <button class="nhsuk-button nhsuk-u-margin-top-3" type="submit">
                Remove FGM indicator
              </button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
{% endblock %}
