{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Allocate an NHS Number
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Allocate an NHS Number</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" id="find-patient" href="nhs-number-search">Find a patient</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="#">Alllocate an NHS Number</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="nhs-number-search">Find a patient</a>
      </p>
    </div>
  </nav>

  {% endblock %}

  {% block content %}
  <div class="nhsuk-width-container">


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-u-reading-width">
          <h2 class="nhsuk-heading-l">
            <span role="text">Enter the patient's usual address details</span>
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 3 of 3</span>
          </h2>

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Allocating an NHS Number</h3>
            <p>Allocating an NHS Number is a serious undertaking. Please ensure the details you have entered are correct, and the patient in question does not have an existing NHS Number before completing the submission.</p>
          </div>

          <form id="allocate-step-4-form" action="allocate-success">

            <h3 class="nhsuk-heading-s">Mother's details</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  First name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Nancy
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other names
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <i>None recorded</i>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Smith
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01-Feb-1989
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01234 567890
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  GP Practice
                </dt>
                <dd class="nhsuk-summary-list__value">
                  GP Practice Not Recorded (V81997)
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>

                </dd>

              </div>

            </dl>

            <h3 class="nhsuk-heading-s">Usual address details</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  31599 Dunning Street<br />Leeds<br />West Yorkshire<br />LS12 4HR
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

            </dl>

            <div class="btn-group">
              <button class="nhsuk-button" type="submit">
                Allocate NHS Number
              </button>

              <p class="cancel-btn-link"><a href="#">Cancel</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>



  {% block pageScripts %}
  <script src="/js/bna.js"></script>
  {% endblock %}
  {% endblock %}
