{% extends 'layouts/layout-application-no-personal-details.html' %}

{% block pageTitle %}
Birth Notification
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Birth Notification</h1>
        </div>
      </div>
    </div>
  </div>

</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="./confirm-role">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="./view-list">Birth Notifications</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="./view-list">Back to Birth Notifications</a></p>
  </div>
</nav>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-heading-s">Notification 3 of 3</h2>

      <button class="nhsuk-button nhsuk-button--blue type="submit">
        Print birth notification
      </button>

      <button class="nhsuk-button nhsuk-button--blue type="submit">
        Print wristbands
      </button>

      <button class="nhsuk-button nhsuk-button--blue type="submit">
        Print labels
      </button>




      <h2 class="nhsuk-heading-m">Mother's details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Julia
          </dd>


        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
             Bell
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS Number
          </dt>
          <dd class="nhsuk-summary-list__value">
            968 704 5634
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            17-Nov-1991
          </dd>

        </div>

      </dl>






      <h2 class="nhsuk-heading-m">Baby's birth details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Gender
          </dt>
          <dd class="nhsuk-summary-list__value">
            Male
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            James
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Other names
          </dt>
          <dd class="nhsuk-summary-list__value">
            Patrick
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Smith
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Ethnic category
          </dt>
          <dd class="nhsuk-summary-list__value">
            A - British
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            10-Feb-2020
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Time of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            17:19
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Birth weight
          </dt>
          <dd class="nhsuk-summary-list__value">
            3600 grams
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Birth order
          </dt>
          <dd class="nhsuk-summary-list__value">
            1 of 1
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Suspected congenital abnormality
          </dt>
          <dd class="nhsuk-summary-list__value">
            No
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Live or still birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            Live
          </dd>

        </div>

      </dl>




      <h2 class="nhsuk-heading-m">Baby's usual address details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            House name
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            House number and street
          </dt>
          <dd class="nhsuk-summary-list__value">
            31599 Dunning Street
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Locality
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Post town
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            County
          </dt>
          <dd class="nhsuk-summary-list__value">
            West Yorkshire
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            LS12 4HR
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Home telephone
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Mobile telephone
          </dt>
          <dd class="nhsuk-summary-list__value">
            01234 567 890
          </dd>

        </div>

      </dl>




      <h2 class="nhsuk-heading-m">Baby's discharge address details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            House name
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            House number and street
          </dt>
          <dd class="nhsuk-summary-list__value">
            31599 Dunning Street
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Locality
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Post town
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            County
          </dt>
          <dd class="nhsuk-summary-list__value">
            West Yorkshire
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            LS12 4HR
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Home telephone
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None recorded</i>
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Mobile telephone
          </dt>
          <dd class="nhsuk-summary-list__value">
            01234 567 890
          </dd>

        </div>

      </dl>





      <h2 class="nhsuk-heading-m">GP details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Not registered
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
            GP
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            GP code
          </dt>
          <dd class="nhsuk-summary-list__value">
            G999999861
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Practice code
          </dt>
          <dd class="nhsuk-summary-list__value">
            V819957
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Practice name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Plane Trees
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Practice address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Hymbury House<br />
            Rydon Lane<br />
            Exeter<br />
            Devon
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            EX2 5SA
          </dd>

        </div>

      </dl>






      <h2 class="nhsuk-heading-m">Organisation details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delivery place type
          </dt>
          <dd class="nhsuk-summary-list__value">
            NHS Hospital - delivery associated with maternity ward
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delivery place code
          </dt>
          <dd class="nhsuk-summary-list__value">
            RR8F6
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delivery place name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Gynaecology LGI
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Town of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            County of Birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            West Yorkshire
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            United Kingdom
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Partner Child Health unit
          </dt>
          <dd class="nhsuk-summary-list__value">
            Yorkshire CHIS Office
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Responsible Child Health unit
          </dt>
          <dd class="nhsuk-summary-list__value">
            <i>None selected</i>
          </dd>

        </div>

      </dl>






      <h2 class="nhsuk-heading-m">Notifier details</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Romeo
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Montague
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Organisation
          </dt>
          <dd class="nhsuk-summary-list__value">
            Leeds Teaching Hospitals NHS Trust (RR8)
          </dd>

        </div>

      </dl>


      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="./birth-notification-multiple-2-of-3">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Shirley Bryant</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>





    </div>

  </div>

</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
