{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Enter the baby's birth details
{% endblock %}

{% block beforeContent %}


<section class="nhsuk-hero">

  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Create a birth notification for an unregistered mother</h1>
        </div>
      </div>
    </div>
  </div>

</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" id="find-patient" href="nhs-number-search">Find a patient</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="#">Create a birth notification</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="nhs-number-search">Find a patient</a>
    </p>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-l">
          <span role="text">Enter the baby's birth details</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 4 of 6</span>
        </h2>

        <p class="nhsuk-body">
          Please enter details about the baby, including details about the birth.
        </p>
        <form id="create-step-4-form" action="create-birth-notification-5">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Gender
              </legend>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="baby-gender-female" name="baby-gender" type="radio" value="Female">
                  <label class="nhsuk-label nhsuk-radios__label" for="baby-gender-female">
                    Female
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="baby-gender-male" name="baby-gender" type="radio" value="Male">
                  <label class="nhsuk-label nhsuk-radios__label" for="baby-gender-male">
                    Male
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="baby-gender-not-specified" name="baby-gender" type="radio" value="Not specified">
                  <label class="nhsuk-label nhsuk-radios__label" for="baby-gender-not-specified">
                    Not known
                  </label>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-first-name">
              First name
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-first-name" name="baby-first-name" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-other-names">
              Other names (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-other-names" name="baby-other-names" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-last-name">
              Last name
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-last-name" name="baby-last-name" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="bna-country-of-birth">
              Ethnic category
            </label>
            <select class="nhsuk-select" id="baby-ethnicity" name="baby-ethnic-category">
              <option value="0" selected disabled>Please select an option</option>
            </select>

          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Date of birth
              </legend>
              <span class="nhsuk-hint" id="example-hint">
                For example, 15 3 1984
              </span>

              <div class="nhsuk-date-input" id="baby-dob">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dob-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-dob-day" name="baby-day-of-birth" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dob-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-dob-month" name="baby-month-of-birth" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dob-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="baby-dob-year" name="baby-year-of-birth" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Time of birth
              </legend>
              <span class="nhsuk-hint" id="example-hint">
                Use a 24 hour format, for example, 17 46
              </span>

              <div class="nhsuk-date-input" id="baby-tob">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-hour-of birth">
                      Hour
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-hour-of-birth" name="baby-hour-of-birth" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-minute-of-birth">
                      Minute
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-minute-of-birth" name="baby-minute-of-birth" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-birth-weight">
              Birth weight
            </label>
            <input class="nhsuk-input nhsuk-input--width-4" id="baby-birth-weight" name="baby-birth-weight" type="text"><span class="input-unit nhsuk-u-font-size-19">grams</span>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Number of births
              </legend>

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="births-single" name="number-of-births" type="radio" value="births-single">
                  <label class="nhsuk-label nhsuk-radios__label" for="births-single">
                    Single
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="births-multiple" name="number-of-births" type="radio" value="births-multiple">
                  <label class="nhsuk-label nhsuk-radios__label" for="births-multiple">
                    Multiple
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group birth-order-container" style="display:none">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Birth order
              </legend>

              <div class="nhsuk-date-input" id="birth-order">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-hour-of-birth" name="baby-hour-of-birth" type="number" pattern="[0-9]*" aria-label="This birth number">
                  </div>
                </div>
                <span class="birth-order-text nhsuk-u-font-size-19">of</span>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-minute-of-birth" name="baby-minute-of-birth" type="number" pattern="[0-9]*" aria-label="Total number of births">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-birth-weight">
              Gestation
            </label>
            <span class="nhsuk-hint">
              Enter the number of completed weeks
            </span>
            <input class="nhsuk-input nhsuk-input--width-2" id="baby-birth-weight" name="baby-birth-weight" type="text"><span class="input-unit nhsuk-u-font-size-19">weeks</span>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="congenital-abnormality">
              Suspected congenital abnormality
            </label>
            <select class="nhsuk-select" id="congenital-abnormality" name="suspected-congenital-abnormality">
              <option value="0" selected disabled>Please select an option</option>
            </select>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="congenital-abnormality">
              Live or still born indicator
            </label>
            <select class="nhsuk-select" id="congenital-abnormality" name="suspected-congenital-abnormality">
              <option value="0" selected disabled>Please select an option</option>
            </select>

          </div>

          <div class="nhsuk-form-group" style="display:none;">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Date of death
              </legend>
              <span class="nhsuk-hint" id="example-hint">
                For example, 15 3 1984
              </span>

              <div class="nhsuk-date-input" id="baby-dod">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dod-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-dod-day" name="baby-day-of-death" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dod-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="baby-dod-month" name="baby-month-of-death" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="baby-dod-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="baby-dod-year" name="baby-year-of-death" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="btn-group">
            <button class="nhsuk-button" type="submit">
              Save and continue
            </button>

            <p class="cancel-btn-link"><a href="#">Cancel</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
