{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Enter organisation details
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="section scra-card">
        <h1 class="nhsuk-heading-xl nhsuk-panel__title nhsuk-u-padding-top-4">
          Birth notification saved
        </h1>
      </div>
      <p>You can return to this birth notification to change or submit it from the list of <a href="view-list">recent birth notifications</a>.</p>
      <h2>What to do next</h2>
      <p><a href="nhs-number-search">Create another birth notification for a different mother</a></p>
      <p><a href="view-list">View the list of birth notifications</a></p>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
