<div class="patient-banner">
  <div class="full-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="banner-name">
          <span class="patient-banner-name">William Shakespeare</span>
          <span class="patient-banner-age-gender">48 years old, Male</span>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="banner-list">
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">Date of birth:</span>
              <span class="patient-banner-item-detail">30-Dec-1970</span>
            </div>
          </li>
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">NHS Number:</span>
              <span class="patient-banner-item-detail">123 456 7890</span>
            </div>
          </li>
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">Address:</span>
              <span class="patient-banner-item-detail">1 Town Street, Leeds, West Yorkshire, LS18 3DC</span>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
