<!--- DO NOT USE --->

<!--

<div class="full-width-container patient-banner">
  <div class="nhsuk-grid-row nhsuk-u-grid">
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-eighth nhsuk-u-one-fifth-tablet nhsuk-u-two-thirds-phone patient-banner-item">
      <span class="patient-banner-item-label">Name:</span>
      <span class="patient-banner-item-detail">William Shakespeare</span>
    </div>
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-twelfth nhsuk-u-one-third-phone patient-banner-item">
      <span class="patient-banner-item-label">Gender:</span>
      <span class="patient-banner-item-detail">Male</span>
    </div>
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-eighth nhsuk-u-one-fifth-tablet nhsuk-u-two-thirds-phone patient-banner-item">
      <span class="patient-banner-item-label">Date of birth:</span>
      <span class="patient-banner-item-detail">30-Dec-1970 (38 years old)</span>
    </div>
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-twelfth nhsuk-u-one-eighth-tablet nhsuk-u-one-third-phone patient-banner-item">
      <span class="patient-banner-item-label">NHS Number:</span>
      <span class="patient-banner-item-detail">123 456 7890</span>
    </div>
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-third nhsuk-u-full-width-phone patient-banner-item">
      <span class="patient-banner-item-label">Address:</span>
      <span class="patient-banner-item-detail">1 Town Street, Leeds, West Yorkshire, LS18 3DC</span>
    </div>
  </div>
</div>


--->
