<div class="patient-banner">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="banner-name">
          <span class="patient-banner-name"></span>
          <span class="patient-banner-age"> years old</span><span class="age-gender-separator">, </span><span class="patient-banner-gender"></span>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="banner-list">
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">Date of birth:</span>
              <span class="patient-banner-item-detail patient-banner-dob">30-Dec-1970</span>
            </div>
          </li>
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">NHS Number:</span>
              <span class="patient-banner-item-detail patient-banner-nhs-no"></span>
              <!---<button class="nhsuk-button nhsuk-button--reverse copy-to-clipboard-btn" type="submit">
                Copy
              </button>--->
            </div>
          </li>
          <li class="banner-list-item">
            <div class="banner-item">
              <span class="patient-banner-item-label">Address:</span>
              <span class="patient-banner-item-detail patient-banner-address"></span>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
