{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-l">Edit this patient's National Data Opt-Out preference</h1>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link open_modal" data-target="#ndopExitModal" data-toggle="modal" href="#ndopExitModal">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Return to this Patient's details page</a>
      </div>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Changing a patient's key details</h3>
        <p>Changing a patient’s key details is a serious undertaking. It must be carried out with the utmost care and consideration for potential risks</p>
      </div>

      <form id="ndop-form" action="patient-details#ndop-section">

        <div class="nhsuk-error-summary" id="ndop-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" style="display:none">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <p>
              You must correct the following errors
            </p>
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a id="error-summary-ndop-consent" href="#ndop-consent-error" style="display:none">You must select an opt-out preference for this patient</a>
              </li>
              <li>
                <a id="error-summary-ndop-proxy" href="#ndop-proxy-error" style="display:none">You must select whether this declaration was made via a proxy</a>
              </li>
              <li>
                <a id="error-summary-ndop-proxy-details" href="#ndop-proxy-details-error" style="display:none">You must select the role of the proxy acting on behalf of the patient</a>
              </li>
              <li>
                <a id="error-summary-nic" href="#nic-error" style="display:none">You must enter an associated NIC reference</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="nhsuk-form-group" id="ndop-consent-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h2 class="nhsuk-fieldset__heading">
                This patient allows their confidential information to be used for research and planning:
              </h2>
            </legend>

            <span class="nhsuk-error-message" id="ndop-consent-error" style="display:none">
              <span class="nhsuk-u-visually-hidden">Error:</span> You must select an opt-out preference for this patient
            </span>

            <div class="nhsuk-radios nhsuk-radios--inline" >
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="ndop-yes" name="ndop-consent" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="ndop-yes">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="ndop-no" name="ndop-consent" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="ndop-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        <div class="nhsuk-form-group" id="ndop-proxy-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h2 class="nhsuk-fieldset__heading">
                Was this declaration made on behalf of the patient by a proxy?
              </h2>
            </legend>

            <span class="nhsuk-hint">
              A proxy is another person acting on behalf of the patient
            </span>

            <span class="nhsuk-error-message" id="ndop-proxy-error" style="display:none">
              <span class="nhsuk-u-visually-hidden">Error:</span> You must select whether this declaration was made via a proxy
            </span>


            <div class="nhsuk-radios nhsuk-radios--inline" id="ndop-proxy">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="proxy-yes" name="ndop-proxy" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="proxy-yes">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="proxy-no" name="ndop-proxy" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="proxy-no">
                  No
                </label>
              </div>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="proxy-details" style="margin-top:24px;">
              <div class="nhsuk-form-group">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                  <h2 class="nhsuk-fieldset__heading">
                    What was the role of the proxy acting on behalf of the patient?
                  </h2>
                </legend>

                <span class="nhsuk-error-message" id="ndop-proxy-details-error" style="display:none">
                  <span class="nhsuk-u-visually-hidden">Error:</span> You must select the role of the proxy acting on behalf of the patient
                </span>

                <div class="nhsuk-radios">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="proxy-guardian" name="proxy-details" type="radio" value="guardian">
                    <label class="nhsuk-label nhsuk-radios__label" for="proxy-guardian">
                      Guardian
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="proxy-poa" name="proxy-details" type="radio" value="power of attorney">
                    <label class="nhsuk-label nhsuk-radios__label" for="proxy-poa">
                      Power of Attorney
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="proxy-cad" name="proxy-details" type="radio" value="court appointed deputy">
                    <label class="nhsuk-label nhsuk-radios__label" for="proxy-cad">
                      Court appointed deputy
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

        </div>

        <div class="nhsuk-form-group" id="nic-group">
          <label class="nhsuk-label nhsuk-label__strong" for="nic-reference-input">
            Associated NIC reference
          </label>
          <span class="nhsuk-error-message" id="nic-error" style="display:none">
            <span class="nhsuk-u-visually-hidden">Error:</span> You must enter an associated NIC reference
          </span>
          <input class="nhsuk-input nhsuk-input--width-10" id="nic-reference-input" name="nic-reference-input" type="text">
        </div>

        <button class="nhsuk-button" type="submit">Confirm preference</button>
        <p class="cancel-btn-link"><a class="open_modal" data-target="#ndopExitModal" data-toggle="modal" href="#ndopExitModal">Cancel</a></p>

      </form>


    </div>

  </div>

  <div id="ndopExitModal" class="modal">

    <!-- Modal content -->

    <div class="modal-content small-modal-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full-width">
            <span class="close">&times;</span>
            <h3>Are you sure you want to cancel?</h3>
          </div>
        </div>

        <div class="nhsuk-grid-row">

          <p class="nhsuk-body">
            You will be returned to the patient details screen
          </p>

          <div class="btn-group">
            <a class="nhsuk-button nhsuk-button--blue nhsuk-button--large" id="cancel-ndop" href="patient-details">
              Yes
            </a>

            <button class="nhsuk-button nhsuk-button--reverse nhsuk-button--large close-btn">
              No
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

{% block pageScripts %}
<script>
  $('#proxy-yes').click(function() {
    $('#proxy-details').removeClass('nhsuk-radios__conditional--hidden')
  });

  $('#proxy-no').click(function() {
    $('#proxy-details').addClass('nhsuk-radios__conditional--hidden')
  });

  $("#ndop-form").submit(function(e) {

    if (!$('input[name=ndop-consent]').is(':checked')) {
      $('#ndop-consent-error').show();
      $('#ndop-consent-group').addClass('nhsuk-form-group--error');
      $('#ndop-error-summary').show();
      $('#error-summary-ndop-consent').show();
      e.preventDefault();
    } else {
      $('#ndop-consent-error').hide();
      $('#ndop-consent-group').removeClass('nhsuk-form-group--error');
      $('#error-summary-ndop-consent').hide();
    }

    if (!$('input[name=ndop-proxy]').is(':checked')) {
      $('#ndop-proxy-error').show();
      $('#ndop-proxy-group').addClass('nhsuk-form-group--error');
      $('#ndop-error-summary').show();
      $('#error-summary-ndop-proxy').show();
      e.preventDefault();
    } else {
      $('#ndop-proxy-error').hide();
      $('#ndop-proxy-group').removeClass('nhsuk-form-group--error');
      $('#error-summary-ndop-proxy').hide();
    }

    if ($('#proxy-yes').is(':checked') && !$('input[name=proxy-details]').is(':checked') ) {
      $('#ndop-proxy-details-error').show();
      $('#proxy-details').removeClass('nhsuk-radios__conditional');
      $('#proxy-details').addClass('nhsuk-form-group--error');
      $('#ndop-error-summary').show();
      $('#error-summary-ndop-proxy-details').show();
      e.preventDefault();
    } else {
      $('#ndop-proxy-details-error').hide();
      $('#proxy-details').removeClass('nhsuk-form-group--error');
      $('#error-summary-ndop-proxy-details').hide();
    }

    if ($('input[name="nic-reference-input"]').val() == "") {
      $('#nic-error').show();
      $('#nic-group').addClass('nhsuk-form-group--error');
      $('#ndop-error-summary').show();
      $('#error-summary-nic').show();
      e.preventDefault();
    } else {
      $('#nic-error').hide();
      $('#nic-group').removeClass('nhsuk-form-group--error');
      $('#error-summary-nic').hide();
    }

  });

  $('.cancel-btn-link').click(function() {
    $('#ndopExitModal').show();
  })

  $('.nhsuk-back-link').click(function() {
    $('#ndopExitModal').show();
  })
</script>

{% endblock %}

{% endblock %}
