{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link" href="#">Contacts & next of kin</a></li>
            <li><a class="scra-accordion__link" href="#">Power of attorney</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link" href="#">GP Details</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeability status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul>
            <li><a class="scra-accordion__link" href="#">Chargeability status</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              National data opt-out
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#ndop-section">National data opt-out preference</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="section">
      <h2 class="nhsuk-heading-l">Key demographics</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              <div class="card-content-section">
                <span class="card-content-label">Usual Name:</span>
                <span class="card-content-name">William Shakespeare</span>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Preferred Name:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Other names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Previous names:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-key-details">Key details</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Gender:</span>
                <span class="card-content-detail card-content-detail-gender">Male</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">NHS Number:</span>
                <span class="card-content-detail card-content-detail-nhs-no">123 456 7890</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Date of birth:</span>
                <span class="card-content-detail card-content-detail-dob">01-Dec-1970</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Place of birth:</span>
                <span class="card-content-detail card-content-detail-pob">Stratford-upon-Avon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-address">Address</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail card-content-detail-address">1 Town Street</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Temporary address:</span>
                <span class="card-content-detail">None recorded</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="nhsuk-heading-l">Contacts & next of kin</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Contacts</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Anne Hathaway</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Wife</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail card-content-detail-address">1 Town Street</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail card-content-detail">01234 567 890</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m" id="patient-details-contacts">Next of kin</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Name:</span>
                <span class="card-content-detail">Anne Hathaway</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Relationship:</span>
                <span class="card-content-detail">Wife</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Address:</span>
                <span class="card-content-detail card-content-detail-address">1 Town Street</span>
              </div>
            </div>
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
              <div class="card-content-section">
                <span class="card-content-label">Telephone:</span>
                <span class="card-content-detail card-content-detail">01234 567 890</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <h2 class="nhsuk-heading-l" id="ndop-section">National data opt-out preference</h2>
      <div class="scra-card">
        <div class="scra-card-header">
          <h3 class="nhsuk-heading-m">Current Value</h3>
        </div>
        <div class="scra-card-content">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-u-reading-width">
                <div class="ndop-card-header">
                  <h4 class="nhsuk-heading-xs" id="patient-details-names">Opted in</h4>
                  <p id="ndop-change" class="pds-edit-link"><a href="edit-opt-out-preference">Edit</a></p>
                </div>
                <p class="nhsuk-body">
                  This patient's information can be used beyond their individual care to help the NHS research, plan and improve health and social care services.
                </p>
                <p class="nhsuk-body">
                  This declaration was made by the patient themselves.
                </p>
                <div class="nic-reference-container">
                  <h5 class="nhsuk-heading-xs">NIC Reference:</h5>
                  <p>
                    <span id="nic-reference-number">NIC0005</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
