{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview-ovm">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="patient-details-ovm">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="./clinical-details-no-alert">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="free-nhs-banner">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-list nhsuk-list--tick">
          <p style="padding-left:60px;">Green: Access to free NHS services subject to Ordinarily Resident status - check evidence
            <svg id="bannertick" class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="background:white;" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
          </p>
        </ul>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="#patient-details-address">Address</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul>
            <li><a class="scra-accordion__link" href="#">Contacts & next of kin</a></li>
            <li><a class="scra-accordion__link" href="#">Power of attorney</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul>
            <li><a class="scra-accordion__link" href="#">GP Details</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeable status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul>
            <li><a class="scra-accordion__link" href="#">Home office status</a></li>
            <li><a class="scra-accordion__link" href="patient-details-ovm-status">Overseas visitor manager status</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-5">
              Reasonable Adjustments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul>
            <li><a class="scra-accordion__link" href="#ra-section">Add a Reasonable Adjustment</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <h1 style="margin-bottom:0px">Home office status</h1>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="">
          <h2 id="bluebanner2" style="position:relative; top:13px">Current status</h2>
          <div class="nhsuk-u-padding-bottom-5"></div>
          <div class="nhsuk-u-reading-width">
          <p>This information is the current relevant status for the patient, though there may be other historic statuses held by the Home Office.</p>
        </div>
        <div class="scra-card" id="acute" style="margin:0px; padding-bottom:0px;">
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Start date</th>
                <th class="nhsuk-table__header" scope="col">End date</th>
                <th class="nhsuk-table__header" scope="col">Home Office reference</th>
                <th class="nhsuk-table__header" scope="col">BRP number</th>
                <th class="nhsuk-table__header" scope="col">Visa type</th>
                <th class="nhsuk-table__header" scope="col">Immigration status</th>
                <th class="nhsuk-table__header" scope="col">Healthcare status</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">31-May-2020</td>
                <td class="nhsuk-table__cell ">No expiry</td>
                <td class="nhsuk-table__cell ">AM-ypGP-085c-cd7d-9e66-2</td>
                <td class="nhsuk-table__cell ">Not provided</td>
                <td class="nhsuk-table__cell ">EU settlement scheme</td>
                <td class="nhsuk-table__cell ">Indefinite leave to remain</td>
                <td class="nhsuk-table__cell ">Access to free NHS services</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

        <div class="">
          <h2 id="bluebanner2" id="result" style="padding-bottom:20px;">Historical status</h2>
        </div>
        <div class="nhsuk-u-reading-width" style="padding-top:0px;">
          <h3 id="bluebanner2" id="result" style="padding-bottom:20px;">Search Results</h3>
        <strong>
          <p style="padding-top:5px; margin-bottom:20px;">Showing results for historical status occuring on and between 15-Jan-2015 to 01-June-2020:</p>
        </strong>

        </div>
        <div class="nhsuk-u-padding-bottom-3"></div>
        <div class="scra-card" id="acute" style="margin:0px; padding-bottom:0px; padding-top:0px;">

        <div class="nhsuk-u-padding-bottom-3"></div>

          <div class="scra-card-header">
          </div>
          <div id="historycontent" class="scra-card-content">
            <div class="nhsuk-table-responsive">
              <div class="nhsuk-table-responsive">
                <table class="nhsuk-table">
                  <caption class="nhsuk-table__caption">Allergies, sensitivites and supporting information</caption>
                  <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                      <th class="nhsuk-table__header" scope="col">Start date</th>
                      <th class="nhsuk-table__header" scope="col">End date</th>
                      <th class="nhsuk-table__header" scope="col">Home Office reference</th>
                      <th class="nhsuk-table__header" scope="col">BRP number</th>
                      <th class="nhsuk-table__header" scope="col">Visa type</th>
                      <th class="nhsuk-table__header" scope="col">Immigration status</th>
                      <th class="nhsuk-table__header" scope="col">Healthcare status</th>

                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">

                    <!-- <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">31-May-2020</td>
                      <td class="nhsuk-table__cell ">No expiry</td>
                      <td class="nhsuk-table__cell ">AM-ypGP-085c-cd7d-9e66-2</td>
                      <td class="nhsuk-table__cell ">Not provided</td>
                      <td class="nhsuk-table__cell ">EU settlement scheme</td>
                      <td class="nhsuk-table__cell ">Indefinite leave to remain</td>
                      <td class="nhsuk-table__cell ">Access to free NHS services</td>

                    </tr> -->


                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">19-Jan-2019</td>
                      <td class="nhsuk-table__cell ">None</td>
                      <td class="nhsuk-table__cell ">AM-ypGP-085c-cd7d-9e66-2</td>
                      <td class="nhsuk-table__cell ">Not provided</td>
                      <td class="nhsuk-table__cell ">EU settlement scheme</td>
                      <td class="nhsuk-table__cell ">Leave to remain</td>
                      <td class="nhsuk-table__cell ">Access to free NHS services</td>

                    </tr>

                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">15-Jan-2015</td>
                      <td class="nhsuk-table__cell ">18-Jan-2019</td>
                      <td class="nhsuk-table__cell "></td>
                      <td class="nhsuk-table__cell " colspan="2">No results found between these dates</td>
                      <td class="nhsuk-table__cell "></td>
                      <td class="nhsuk-table__cell "></td>
                      <td class="nhsuk-table__cell "></td>

                    </tr>



                  </tbody>
                </table>

                <div class="nhsuk-u-padding-top-3"></div>
              <div class="nhsuk-u-padding-top-3"></div>



              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-action-link" id="searchforhistory">
                  <a class="nhsuk-action-link__link">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span id="gethistoric" onClick="toggle();"><span class="nhsuk-action-link__text"><span>Search new date range</span>
                  </a>
                  <div class="nhsuk-u-padding-bottom-4"></div>
                </div>
              </div>
            </div>
            <div class="nhsuk-form-group" id="hidethis" style="display:none;">
              <div class="nhsuk-grid-row" id="gr">
                <div class="nhsuk-grid-column-one-half">
                  <fieldset id="gr" class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Start Date
                      </h1>
                    </legend>
                    <span class="nhsuk-hint" id="example-hint">
                      For example, 15 3 1984
                    </span>
                    <div class="nhsuk-date-input" id="example">
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                            Day
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                            Month
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                            Year
                          </label>
                          <input <span class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <fieldset id="gr" class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                      <h1 class="nhsuk-fieldset__heading">
                        End Date
                      </h1>
                    </legend>
                    <span class="nhsuk-hint" id="example-hint">
                      For example, 15 3 1984
                    </span>
                    <div class="nhsuk-date-input" id="example">
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                            Day
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                            Month
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                            Year
                          </label>
                          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <a class="nhsuk-button" id="submit-ptv" type="submit" href="patient-details-ovm-history">
                    Search

                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endblock %}

        {%block pageScripts%}

        <html>

        <head>
          <script>
            document.getElementById("gethistoric").onclick = function() {
              if (document.getElementById("hidethis").style.display == 'none') {
                document.getElementById("hidethis").style.display =
                  ''; // set to table-row instead of an empty string
              } else {
                document.getElementById("hidethis").style.display = 'none';
              }
            }
          </script>
        </head>

        <body>
          {% endblock %}
