{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Covid-19 Banners</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <h5 class="nhsuk-body">
        Click 'Covid-19 information present' on the right to view updates to the covid-19 prototype. 
      </h5>

      <p class="nhsuk-body">
        This prototype explores banners to highlight patients at risk of severe illness from Covid-19. 
      </p>
    </div>

    <a class="nhsuk-button" href="patient-overview-at-risk">Begin prototype</a>

    
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a href="patient-overview-at-risk">At risk patients</a>
      </p>
      <p>
        <a href="patient-clinical-covid-highlight">Covid-19 information present highlighted</a>
      </p>
      <p>
        <a href="patient-clinical-covid">Covid-19 information present</a>
      </p>
     
    </div>
  </div>

</div>
{% endblock %}
