{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Allocate an NHS Number
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Allocate an NHS Number</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" id="find-patient" href="nhs-number-search">Find a patient</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="#">Alllocate an NHS Number</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="nhs-number-search">Find a patient</a>
      </p>
    </div>
  </nav>

  {% endblock %}

  {% block content %}
  <div class="nhsuk-width-container">


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-u-reading-width">
          <h2 class="nhsuk-heading-l">
            <span role="text">Enter the patient's usual address details</span>
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 2 of 2</span>
          </h2>

          <p class="nhsuk-body">
            Please enter the details of the mother you would like to allocate an NHS Number to.
          </p>
          <form id="bna-step-4-form" action="step-5">


            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-house-name">
                House name
              </label>
              <span class="nhsuk-hint" id="house-name-hint">
                You must enter at least one of house name and house number and street
              </span>
              <input class="nhsuk-input nhsuk-input--width-20" id="allocate-house-name" name="allocate-house-name" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-house-street">
                House number and street
              </label>
              <span class="nhsuk-hint" id="house-street-hint">
                You must enter at least one of house name and house number and street
              </span>
              <input class="nhsuk-input nhsuk-input--width-20" id="allocate-house-street" name="allocate-house-number-and-street" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-address-locality">
                Locality (optional)
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="allocate-address-locality" name="allocate-address-locality" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-address-town">
                Post town
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="allocate-address-town" name="allocate-address-town" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-address-county">
                County
              </label>
              <select class="nhsuk-select" id="allocate-address-county" name="allocate-address-county">
                <option value="0" selected disabled>Please select an option</option>
              </select>
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-address-postcode">
                Postcode
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="allocate-address-postcode" name="allocate-address-postcode" type="text">
            </div>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Search for a postcode
                </span>
              </summary>
              <div class="nhsuk-details__text">

              </div>
            </details>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-home-telephone">
                Home telephone
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="allocate-home-telephone" name="allocate-home-telephone" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="allocate-mobile-telephone">
                Mobile telephone
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="allocate-home-telephone" name="allocate-mobile-telephone" type="text">
            </div>

            <div class="btn-group">
              <button class="nhsuk-button" type="submit">
                Allocate NHS Number
              </button>

              <p class="cancel-btn-link"><a href="#">Cancel</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>



  {% block pageScripts %}
  <script src="/js/bna.js"></script>
  {% endblock %}
  {% endblock %}
