{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS Number allocated
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Allocate an NHS Number</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" id="find-patient" href="nhs-number-search">Find a patient</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="#">Alllocate an NHS Number</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="nhs-number-search">Find a patient</a>
      </p>
    </div>
  </nav>

  {% endblock %}

{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="section scra-card">
        <h1 class="nhsuk-heading-xl nhsuk-panel__title nhsuk-u-padding-top-4">
          NHS Number allocated
        </h1>
        <div class="nhsuk-panel__body">
            Patient's NHS Number
            <br>
            <strong>123 456 7890</strong>
          </div>
      </div>
      <p>The patient's NHS number has been successfully created and allocated.</p>
      <h2>What to do next</h2>
      <p><a id="allocate-patient-link" href="patient-details">Create a birth notification for this mother</a></p>
      <p><a href="nhs-number-search">Find a new patient</a></p>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
