{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-details">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a data-target="#myModal" data-toggle="modal" class="open_modal" href="#myModal">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-card-group">

    {% include "includes/functional-overview.html" %}

  </div>

  {% block pageScripts %}
  <script src="/js/bna.js"></script>
  {% endblock %}
{% endblock %}
