{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Enter organisation details
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="section scra-card">
        <h1 class="nhsuk-heading-xl nhsuk-panel__title nhsuk-u-padding-top-4">
          Birth notification created
        </h1>
        <div class="nhsuk-panel__body">
            Baby's NHS Number
            <br>
            <strong>123 456 7890</strong>
          </div>
      </div>
      <p>The baby's birth notification has been successfully submitted and an NHS number has been created.</p>
      <h2>What to do next</h2>
      <p><a href="patient-details">Create another birth notification for the same mother</a></p>
      <p><a href="view-list">View the list of birth notifications</a></p>
      <p><a href="nhs-number-search">Find a new patient</a></p>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
