{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="edit-names">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Return to edit contact information</a>
      </div>

      <h2 class="nhsuk-heading-l">Review and confirm your changes</h2>

      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Changing a patient's key details</h3>
          <p>Please be aware that any changes to a patient’s key details should be undertaken after careful consideration and confirmation with the patient.</p>
          <p>
            Changes will update the patient's record held on the Spine, and potentially being used in other healthcare settings
          </p>
        </div>

        <section class="review-updated-section">

          <h3 class="nhsuk-heading-m">Usual name</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Was previously
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
              <dd class="nhsuk-summary-list__actions">
                <span class="nhsuk-u-visually-hidden">There are no actions for this row</span>
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Updated to
              </dt>
              <dd class="nhsuk-summary-list__value">

              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a class="remove-update-btn remove-name-update-btn" href="#">
                  Remove<span class="nhsuk-u-visually-hidden"> update</span>
                </a>

              </dd>

            </div>

          </dl>

        </section>

      </div>

      <a class="nhsuk-button" id="confirm-name-changes-btn" href="patient-details">Confirm changes</a>

    </div>


  </div>

</div>
{% endblock %}
