{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion accordion-desktop" data-module="accordion" id="scra-accordion">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-address">Address</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-contact-info">Contact information</a></li>
            <li><a class="scra-accordion__link" href="patient-details#scr-consent-preference">Summary Care Record consent preference</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeability status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">

        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters patient-details-content">
    <h2 class="nhsuk-heading-l">Key demographics</h2>
    <div class="nhsuk-u-reading-width">

      <section id="names" title="Names">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
            <p id="pds-edit-names" class="pds-edit-link"><a href="edit-names">Edit</a></p>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Usual name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="usual-name-value">
                    <div class="card-content-name">
                      Mr William Shakespeare
                    </div>
                    <i>Effective since: 30-Jan-1970</i>
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="usual-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="usual-name-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="usual-name-prefix" name="usual-name-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-first-name" name="usual-first-name" type="text" value="William">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-last-name" name="usual-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="usual-suffix" name="usual-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-usual-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-usual-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px;">
                      <button class="nhsuk-button" id="save-usual-name-btn" style="display:inline-block;">Save<span class="nhsuk-u-visually-hidden"> usual name</span> changes</button>
                      <a href="#" class="cancel-btn-link" id="cancel-usual-name">Cancel</a>
                    </div>
                  </div>
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Preferred name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="preferred-name-value">
                    Mr Bill SHAKESPEARE<br />
                    Effective from 17-Jul-2008
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="preferred-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="select-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="pds-name-prefix" name="select-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-first-name" name="pdf-edit-first-name" type="text" value="William">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-suffix" name="pdf-edit-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px;">
                      <button class="nhsuk-button" id="save-preferred-name-btn" style="display:inline-block;">Save<span class="nhsuk-u-visually-hidden"> preferred name</span> changes</button>
                      <a href="#" class="cancel-btn-link" id="cancel-preferred-name">Cancel</a>
                    </div>



                  </div>
                </dd>

              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Alias
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Bachelor name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="bachelor-name-value">
                    None recorded
                  </div>
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Birth name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Maiden name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other previous name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

            </dl>
          </div>
        </div>
      </section>
      <section id="key-details" title="Key details">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-key-details">Key details</h3>
            <p id="pds-edit-key-details" class="pds-edit-link"><a href="edit-key-details-informal-deceased">Edit</a></p>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Gender
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Male
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS Number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  123 456 7890
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  30-Jan-1970
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Time of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>None recorded</p>
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Place of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Stratford-upon-Avon
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  County
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Country of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  United Kingdom
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Interpreter required
                </dt>
                <dd class="nhsuk-summary-list__value">
                  No
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Language
                </dt>
                <dd class="nhsuk-summary-list__value">
                  English
                </dd>

              </div>

            </dl>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Death registration status
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Informal
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of death
                </dt>
                <dd class="nhsuk-summary-list__value">
                  07-Oct-2020
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Time of death
                </dt>
                <dd class="nhsuk-summary-list__value">
                  23:12
                </dd>
              </div>

            </dl>

          </div>
        </div>
      </section>
      <section id="address" title="Address">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-address">Address</h3>
            <p id="pds-edit-address" class="pds-edit-link"><a href="edit-address">Edit</a></p>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="usual-address-value" class="card-content-detail-address">

                  </div>
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Correspondence address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Temporary address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

            </dl>
          </div>
        </div>
      </section>
      <section id="contact-information" title="Contact information">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-contact-info">Contact information</h3>
            <p id="pds-edit-contact-info" class="pds-edit-link"><a href="edit-contact-info">Edit</a></p>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Telephone
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Fax
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Textphone
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Written communication
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Contact preferences
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

              </div>

            </dl>

          </div>
        </div>
      </section>

      <section id="scr-consent-preference" title="SCR consent preference">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="scr-consent-preference">Summary Care Record consent preference</h3>
            <p id="pds-edit-scr" class="pds-edit-link"><a href="#">Edit</a></p>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  SCR Consent preference
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Permission to view required
                </dd>

              </div>
            </dl>
          </div>
        </div>
      </section>


      <div class="section" id="contacts-nok-section">
        <h2 class="nhsuk-heading-l">Contacts & next of kin</h2>
        <section id="contacts" title="Contacts">
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m" id="patient-details-contacts">Contacts</h3>
              <p id="pds-edit-contacts" class="pds-edit-link"><a href="#">Edit</a></p>

            </div>
            <div class="scra-card-content">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Anne Hathaway
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Relationship
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Wife
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 Town Street<br />
                    Stratford-upon-Avon<br />
                    Warwickshire<br />
                    AB1 2CD
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01234 567890
                  </dd>

                </div>

              </dl>
            </div>
          </div>
        </section>
        <section id="next-of-kin" title="Next of kin">
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m" id="patient-details-contacts">Next of kin</h3>
              <p id="pds-edit-nok" class="pds-edit-link"><a href="#">Edit</a></p>
            </div>
            <div class="scra-card-content">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Anne Hathaway
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Relationship
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Wife
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 Town Street<br />
                    Stratford-upon-Avon<br />
                    Warwickshire<br />
                    AB1 2CD
                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01234 567890
                  </dd>

                </div>

              </dl>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


</div>

{% block pageScripts %}

{% endblock %}

{% endblock %}
