{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion accordion-desktop" data-module="accordion" id="refactor-nav">
      <div class="accordion-inner">
        <div class="govuk-accordion__section govuk-accordion__section--expanded">
          <div class="govuk-accordion__section-header scra-accordion__header">
            <h2 class="govuk-accordion__section-heading scra-accordion__heading">
              <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
                Edit names
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <ul class="navigation-ul">

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Edit names</h1>

    <div class="nhsuk-u-reading-width">

      <section id="names" title="Names">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Usual name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="usual-name-value">
                    Mr William Shakespeare<br />
                    <i>Effective since: 30-Jan-1970</i>
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="usual-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="usual-name-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="usual-name-prefix" name="usual-name-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-first-name" name="usual-first-name" type="text" value="William">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-last-name" name="usual-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="usual-suffix" name="usual-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-usual-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-usual-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px;">
                      <a href="#" id="cancel-usual-name">Cancel</a>
                    </div>
                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">
                  <a href="#names" id="change-usual-name">
                    Edit<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Preferred name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="preferred-name-value">
                    Mr Bill Shakespeare<br />
                    <i>Effective since: 17-Jul-2008</i>
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="preferred-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="select-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="pds-name-prefix" name="select-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-first-name" name="pdf-edit-first-name" type="text" value="Bill">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-suffix" name="pdf-edit-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="17">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="07">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2008">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px; width: 120%;">
                      <button class="nhsuk-button nhsuk-button--blue nhsuk-button--small" id="apply-preferred-name-btn" style="display:inline-block;">Apply<span class="nhsuk-u-visually-hidden"> preferred name</span></button>
                      <button class="nhsuk-button nhsuk-button--red nhsuk-button--small" id="remove-preferred-name-btn" style="display:inline-block;">Remove<span class="nhsuk-u-visually-hidden"> preferred name</span></button>
                      <a href="#" class="cancel-btn-link" id="cancel-preferred-name">Cancel</a>
                    </div>

                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#names" id="change-preferred-name">
                    Edit<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Alias
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Add<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Bachelor name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="bachelor-name-value">
                    None recorded
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="bachelor-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="bachelor-name-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="bachelor-name-prefix" name="bachelor-name-prefix">
                      <option value="None" selected disabled>Please select</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Miss">Miss</option>
                      <option value="Dr">Dr</option>
                      <option value="Rev">Rev</option>
                      <option value="Sir">Sir</option>
                      <option value="Lady">Lady</option>
                      <option value="Lord">Lord</option>
                      <option value="Dame">Dame</option>
                      <option value="Other">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="bachelor-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="bachelor-first-name" name="bachelor-first-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="bachelor-middle-name" name="bachelor-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="bachelor-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="bachelor-last-name" name="bachelor-last-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="bachelor-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="bachelor-suffix" name="bachelor-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="bachelor-effective-date-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="bachelor-effective-date-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="bachelor-effective-date-name-day" name="bachelor-effective-date-name-day" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="bachelor-effective-date-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="bachelor-effective-date-name-month" name="bachelor-effective-date-name-month" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="bachelor-effective-date-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="bachelor-effective-date-name-year" name="bachelor-effective-date-name-year" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px; width: 120%;">
                      <button class="nhsuk-button nhsuk-button--blue nhsuk-button--small" id="apply-bachelor-name-btn" style="display:inline-block;">Apply<span class="nhsuk-u-visually-hidden"> preferred name</span></button>
                      <a href="#" class="cancel-btn-link" id="cancel-bachelor-name" style="margin-left: 0;">Cancel</a>
                    </div>



                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#names" id="change-bachelor-name">
                    Add<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Birth name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Add<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Maiden name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Add<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other previous name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Add<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

            </dl>
          </div>
        </div>
      </section>

    </div>

    <section id="save-name-changes" title="Save changes">
      <div class="btn-group">
        <a class="nhsuk-button" href="confirm-name-changes">Save name changes</a>
        <p class="cancel-btn-link"><a href="patient-details">Cancel</a></p>
      </div>
    </section>

  </div>

</div>
</div>

{% block pageScripts %}
<script>
  $("#change-usual-name").click(function() {
    $("#usual-name-group").show();
    $("#usual-name-value").hide();
  });

  $("#save-usual-name-btn").click(function() {
    $("#usual-name-group").hide();
    $("#usual-name-value").show();
  });

  $("#cancel-usual-name").click(function() {
    $("#usual-name-group").hide();
    $("#usual-name-value").show();
  });

  $("#change-preferred-name").click(function() {
    $("#preferred-name-group").show();
    $("#preferred-name-value").hide();
    $("#change-preferred-name").hide();
  });

  $("#apply-preferred-name-btn").click(function() {
    $("#preferred-name-group").hide();
    $("#preferred-name-value").show();
    $("#change-preferred-name").show();
  });

  $("#cancel-preferred-name").click(function() {
    $("#preferred-name-group").hide();
    $("#preferred-name-value").show();
    $("#change-preferred-name").show();
  });

  $("#remove-preferred-name-btn").click(function() {
    $("#preferred-name-group").hide();
    $("#preferred-name-value").text("None recorded");
    $("#preferred-name-value").show();
    $("#change-preferred-name").text("Add");
    $("#change-preferred-name").show();
  });

  $("#change-bachelor-name").click(function() {
    $("#bachelor-name-group").show();
    $("#bachelor-name-value").hide();
  });

  $("#apply-bachelor-name-btn").click(function() {
    var title = $("#bachelor-name-prefix").val();
    var firstName = $("#bachelor-first-name").val();
    firstName = firstName.toLowerCase().replace(/\b[a-z]/g, function(letter) {
      return letter.toUpperCase();
    });
    var bachelorLastName = $("#bachelor-last-name").val();
    bachelorLastName = bachelorLastName.toLowerCase().replace(/\b[a-z]/g, function(letter) {
      return letter.toUpperCase();
    });

    $("#change-bachelor-name").text("Edit");
    $("#bachelor-name-value").text(title + " " + firstName + " " + bachelorLastName);
    $("#bachelor-name-group").hide();
    $("#bachelor-name-value").show();
  });

  $("#cancel-bachelor-name").click(function() {
    $("#bachelor-name-group").hide();
    $("#bachelor-name-value").show();
  });
</script>
{% endblock %}
{% endblock %}
