{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-width-container">

    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">

        <section id="key-details" title="Key details">

          <h1 class="nhsuk-heading-l">Edit key details</h1>

          <div class="scra-card pds-edit-card">
            <div class="scra-card-header pds-edit-card-header">
              <h2 class="nhsuk-heading-m" id="edit-key-details">Key details</h2>
            </div>
            <div class="scra-card-content">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Gender
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Male
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-gender">
                      Edit<span class="nhsuk-u-visually-hidden"> gender</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    30-Jan-1970
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-dob">
                      Edit<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Time of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Add recorded
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-tob">
                      Edit<span class="nhsuk-u-visually-hidden"> time of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Stratford-upon-Avon
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-town">
                      Edit<span class="nhsuk-u-visually-hidden"> town of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    County of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    None recorded
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-county">
                      Add<span class="nhsuk-u-visually-hidden"> county of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Country of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    United Kingdom
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-country">
                      Edit<span class="nhsuk-u-visually-hidden"> country of birth</span>
                    </a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Interpreter required
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    No
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="#key-details" id="change-interpreter">
                      Edit<span class="nhsuk-u-visually-hidden"> interpreter of birth</span>
                    </a>
                  </dd>
                </div>

              </dl>

            </div>
          </div>
        </section>

        <section id="save-changes" title="Save changes">
          <a class="nhsuk-button" href="confirm-key-details-changes">Save key details changes</a>
        </section>

      </div>

    </div>

  </div>

</div>
{% endblock %}
