{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Patient details
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% include "includes/mobile-nav.html" %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion accordion-desktop" data-module="accordion" id="scra-accordion">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Key demographics
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-names">Names</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-key-details">Key details</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-address">Address</a></li>
            <li><a class="scra-accordion__link" href="patient-details#patient-details-contact-info">Contact information</a></li>
            <li><a class="scra-accordion__link" href="patient-details#scr-consent-preference">Summary Care Record consent preference</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-2">
              Contacts & next of kin
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-2">

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-3">
              GP & Care providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-3">

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-4">
              Chargeability status
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-4">

        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-column-three-quarters patient-details-content">
    <h2 class="nhsuk-heading-l">Key demographics</h2>
    <div class="nhsuk-u-reading-width">
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Changing a patient's key details</h3>
        <p>Please be aware that any changes to a patient’s key details should be undertaken after careful consideration and confirmation with the patient.</p>
        <p>
          Changes will update the patient's record held on the Spine, and potentially being used in other healthcare settings
        </p>
      </div>

      <section id="names" title="Names">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-names">Names</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Usual name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="usual-name-value">
                    Mr William Shakespeare<br />
                    <i>Effective since: 30-Jan-1970</i>
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="usual-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="usual-name-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="usual-name-prefix" name="usual-name-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-first-name" name="usual-first-name" type="text" value="William">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="usual-last-name" name="usual-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="usual-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="usual-suffix" name="usual-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-usual-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-usual-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-usual-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-usual-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px;">
                      <button class="nhsuk-button" id="save-usual-name-btn" style="display:inline-block;">Save<span class="nhsuk-u-visually-hidden"> usual name</span> changes</button>
                      <a href="#" class="cancel-btn-link" id="cancel-usual-name">Cancel</a>
                    </div>
                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#names" id="change-usual-name">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Preferred name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="preferred-name-value">
                    None recorded
                  </div>
                  <div class="nhsuk-form-group pds-edit-form-group" id="preferred-name-group" style="display:none;">
                    <label class="nhsuk-label nhsuk-label__strong" for="select-prefix">
                      Prefix (optional)
                    </label>
                    <select class="nhsuk-select" id="pds-name-prefix" name="select-prefix">
                      <option value="1" selected>Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                      <option value="4">Miss</option>
                      <option value="5">Dr</option>
                      <option value="6">Rev</option>
                      <option value="7">Sir</option>
                      <option value="8">Lady</option>
                      <option value="9">Lord</option>
                      <option value="10">Dame</option>
                      <option value="11">Other</option>
                    </select>

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-first-name">
                      First name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-first-name" name="pdf-edit-first-name" type="text" value="William">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-middle-name">
                      Middle name(s) (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-middle-name" name="pdf-edit-middle-name" type="text">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-last-name">
                      Last name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-last-name" name="pdf-edit-last-name" type="text" value="Shakespeare">

                    <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-suffix">
                      Suffix (optional)
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-suffix" name="pdf-edit-suffix" type="text">

                    <fieldset class="nhsuk-fieldset" role="group">
                      <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                        Effective since
                      </legend>

                      <div class="nhsuk-date-input" id="effective-date-name">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                              Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*" value="29">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                              Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*" value="2">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                              Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*" value="2002">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="btn-group" style="margin-top: 24px;">
                      <button class="nhsuk-button" id="save-preferred-name-btn" style="display:inline-block;">Save<span class="nhsuk-u-visually-hidden"> preferred name</span> changes</button>
                      <a href="#" class="cancel-btn-link" id="cancel-preferred-name">Cancel</a>
                    </div>



                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#names" id="change-preferred-name">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Alias
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Bachelor name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Birth name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Maiden name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other previous name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>

                </dd>

              </div>

            </dl>
          </div>
        </div>
      </section>
      <section id="key-details" title="Key details">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-key-details">Key details</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Gender
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Male
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> gender</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS Number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  123 456 7890
                </dd>

                <dd class="nhsuk-summary-list__actions">

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  30-Jan-1970
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Time of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>None recorded</p>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> time of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Place of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Stratford-upon-Avon
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> place of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  County
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> county</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Country of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  United Kingdom
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> country of birth</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Interpreter required
                </dt>
                <dd class="nhsuk-summary-list__value">
                  No
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> interpreter</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Language
                </dt>
                <dd class="nhsuk-summary-list__value">
                  English
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> language</span>
                  </a>

                </dd>

              </div>

            </dl>

          </div>
        </div>
      </section>
      <section id="address" title="Address">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-address">Address</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <div id="usual-address-value" class="card-content-detail-address">

                  </div>
                  <div id="usual-address-group" style="display:none;">
                    <div class="nhsuk-form-group pds-edit-form-group">
                      <form id="edit-usual-address-form">
                        <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-house-name">
                          Building and street
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-house-name" name="pdf-edit-house-name" type="text" value="1 Town Street"><br />
                        <input class="nhsuk-input nhsuk-input--width-20" id="pds-edit-number" name="pdf-edit-number" type="text">

                        <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-locality">
                          Locality
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-locality" name="pdf-edit-locality" type="text">

                        <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-post-town">
                          Post town
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-post-town" name="pdf-edit-post-town" type="text" value="Straford-upon-Avon">

                        <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-county">
                          County
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-15" id="pds-edit-county" name="pdf-edit-county" type="text" value="Warwickshire">

                        <label class="nhsuk-label nhsuk-label__strong" for="pds-edit-postcode">
                          Postcode
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="pds-edit-postcode" name="pdf-edit-postcode" type="text" value="AB1 2CD">

                        <div class="nhsuk-action-link" style="margin-top:32px; width: 120%;">
                          <a class="nhsuk-action-link__link find-postcode__action-link" id="pds-find-postcode__action-link" href="#pds-find-postcode__action-link">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                              <path d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Find an address or postcode</span>
                          </a>
                        </div>

                        <div id="lookup-div" class="lookup-search-results" style="display:none; width: 120%;">
                          <div class="nhsuk-u-reading-width" style="border:4px solid #e8edee; padding:16px;margin-bottom: 48px;">
                            <label class="nhsuk-label nhsuk-label__strong" for="address-lookup">
                              Enter part of an address or postcode
                            </label>
                            <input type="search" id="address-lookup" class="form-control nhsuk-input nhsuk-input--width-15" />
                            <p><a id="cancel-address-lookup" href="#address">Close</a></p>
                            <!--<p><a href="#usual-address" id="cancel-adding-usual-address" >Clear</a></p>-->
                          </div>
                        </div>

                        <fieldset class="nhsuk-fieldset" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                            Effective from
                          </legend>

                          <div class="nhsuk-date-input" id="effective-from-date-name">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-from-date-name-day" name="effective-from-date-name-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-from-date-name-month" name="effective-from-date-name-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-from-date-name-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-from-date-name-year" name="effective-from-date-name-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="nhsuk-fieldset" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                            Effective to
                          </legend>

                          <div class="nhsuk-date-input" id="effective-date-name">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-day" name="effective-date-name-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="effective-date-name-month" name="effective-date-name-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="effective-date-name-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="effective-date-name-year" name="effective-date-name-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                    <p>
                      <p>
                        <a href="#usual-address" id="cancel-adding-usual-address" style="display:none;">Cancel</a>
                      </p>
                      <div class="btn-group" style="margin-top: 24px;">
                        <button class="nhsuk-button" id="save-usual-address-btn" style="display:inline-block;">Save<span class="nhsuk-u-visually-hidden"> preferred name</span> changes</button>
                        <a href="#" class="cancel-btn-link" id="cancel-usual-address">Cancel</a>
                      </div>
                    </p>
                  </div>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#address" id="change-usual-address">
                    Change<span class="nhsuk-u-visually-hidden"> address</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Temporary address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> temporary address</span>
                  </a>

                </dd>

              </div>

            </dl>
          </div>
        </div>
      </section>
      <section id="contact-information" title="Contact information">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="patient-details-contact-info">Contact information</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Telephone
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> telephone</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> email address</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Fax
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> fax</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Textphone
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> textphone</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Written communication
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> written communication</span>
                  </a>

                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  Contact preferences
                </dt>
                <dd class="nhsuk-summary-list__value">
                  None recorded
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> contact preferences</span>
                  </a>

                </dd>

              </div>

            </dl>

          </div>
        </div>
      </section>

      <section id="scr-consent-preference" title="SCR consent preference">
        <div class="scra-card">
          <div class="scra-card-header">
            <h3 class="nhsuk-heading-m" id="scr-consent-preference">Summary Care Record consent preference</h3>
          </div>
          <div class="scra-card-content">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key ">
                  SCR Consent preference
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Permission to view required
                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="#">
                    Change<span class="nhsuk-u-visually-hidden"> telephone</span>
                  </a>

                </dd>

              </div>
            </dl>
          </div>
        </div>
      </section>


      <div class="section" id="contacts-nok-section">
        <h2 class="nhsuk-heading-l">Contacts & next of kin</h2>
        <section id="contacts" title="Contacts">
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m" id="patient-details-contacts">Contacts</h3>
            </div>
            <div class="scra-card-content">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Anne Hathaway
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Relationship
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Wife
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> relationship</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 Town Street<br />
                    Stratford-upon-Avon<br />
                    Warwickshire<br />
                    AB1 2CD
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> address</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01234 567890
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> telephone</span>
                    </a>

                  </dd>

                </div>

              </dl>
            </div>
          </div>
        </section>
        <section id="next-of-kin" title="Next of kin">
          <div class="scra-card">
            <div class="scra-card-header">
              <h3 class="nhsuk-heading-m" id="patient-details-contacts">Next of kin</h3>
            </div>
            <div class="scra-card-content">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Anne Hathaway
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Relationship
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Wife
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> relationship</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 Town Street<br />
                    Stratford-upon-Avon<br />
                    Warwickshire<br />
                    AB1 2CD
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> address</span>
                    </a>

                  </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key ">
                    Telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01234 567890
                  </dd>

                  <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> telephone</span>
                    </a>

                  </dd>

                </div>

              </dl>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


</div>

{% block pageScripts %}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script>
  (function() {
    $('.ap-icon-pin').hide();
    $('.ap-icon-clear').hide();
    var placesAutocomplete = places({
      appId: 'plHXAD50RORF',
      apiKey: 'b08e58629c0e190b4b532116794d6e9b',
      container: document.querySelector('#address-lookup'),
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    }).configure({
      type: 'address'
    });
    placesAutocomplete.on('change', function resultSelected(e) {
      document.querySelector('#pds-edit-house-name').value = e.suggestion.name || '';
      document.querySelector('#pds-edit-post-town').value = e.suggestion.city || '';
      document.querySelector('#pds-edit-postcode').value = e.suggestion.postcode || '';
      document.querySelector('#pds-edit-county').value = e.suggestion.county || '';
      document.querySelector('#address-lookup').value = '';
    });
  })();

  $('.ap-suggestion').click(function() {
    $('.ap-dropdown-menu').hide();
    $('#address-lookup').val("");
  });

  $(".find-postcode__action-link").click(function() {
    $(".lookup-search-results").show();
  });

  $(".lookup-search-results").find("a").click(function() {
    $('#edit-usual-address-form > .nhsuk-input').val("");
    $(".lookup-search-results").hide();
    $("#pds-edit-number").val("1 Henley Street");
    $("#pds-edit-post-town").val("Stratford-upon-Avon");
    $("#pds-edit-county").val("Warwickshire");
    $("#pds-edit-country").val("United Kingdom");
    $("#pds-edit-postcode").val("CV37 6QW");
  });

  $("#cancel-address-lookup").click(function() {
    $(".lookup-search-results").hide();
  });

</script>
<script>
  $(document).ready(function() {

    var address = $('.card-content-detail-address').first().text();
    var address = address.replace(/,/g, '<br>');

    $('.card-content-detail-address').html(address)

    console.log(address)

  });
  $("#change-usual-name").click(function() {
    $("#usual-name-group").show();
    $("#usual-name-value").hide();
  });

  $("#save-usual-name-btn").click(function() {
    $("#usual-name-group").hide();
    $("#usual-name-value").show();
  });

  $("#cancel-usual-name").click(function() {
    $("#usual-name-group").hide();
    $("#usual-name-value").show();
  });


  $("#change-preferred-name").click(function() {
    $("#preferred-name-group").show();
    $("#preferred-name-value").hide();
  });

  $("#save-preferred-name-btn").click(function() {
    $("#preferred-name-group").hide();
    $("#preferred-name-value").show();
  });

  $("#cancel-preferred-name").click(function() {
    $("#preferred-name-group").hide();
    $("#preferred-name-value").show();
  });

  $("#change-usual-address").click(function() {
    $("#usual-address-group").show();
    $("#usual-address-value").hide();
  });

  $("#save-usual-address-btn").click(function() {
    $("#usual-address-group").hide();
    $("#usual-address-value").show();
  });

  $("#cancel-usual-address").click(function() {
    $("#usual-address-group").hide();
    $("#usual-address-value").show();
  });
</script>
{% endblock %}

{% endblock %}
