{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Locum pharmacist login (FFFFF role)</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <p class="nhsuk-body">
        This prototype explores how locum pharmacists (those with the FFFFF user role) can access the redesigned SCRa at the dispensing site from which they are working.
      </p>
    </div>

    <form action="select-role-many">
      <button class="nhsuk-button index-page-link" type="submit">
        Begin prototype
      </button>
    </form>

    <div class="section">

      <h2 class='nhs-heading-l'>Prototype hypotheses</h2>
      <p class="nhsuk-body">
        The redesigned SCRa may be used by locum pharmacists with the user role FFFFF. These pharmacists may work from a number of dispensing sites so we will allow them to select the site they are working from when logging in.
      </p>
      <p class="nhsuk-body">
        To provide this functionality, we will introduce an autocomplete search function to allow users to perform this selection. This is preferred to the existing method of submitting a search and then browsing the results.
      </p>
      <p class="nhsuk-body">
        <strong>If</strong> we allow users to search for a dispensing pharmacy site using autocomplete
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> they will be able to quickly select the site they are working from
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> there will be no need to submit a search and wait for the results to load.
      </p>

      <hr />

      <p class="nhsuk-body">
        <strong>If</strong> we show users the sites using autocomplete as they search
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> they will be sure that the site they are looking for exists
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> there will be no need to search through a large list of potential results
      </p>

    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a class="#" href="select-role-many">Many roles, including FFFFF</a>
      </p>
      <p>
        <a class="#" href="select-role-one">One role (FFFFF)</a>
      </p>
      <p>
        <a class="#" href="select-role-smartcard-many">Smartcard with many roles, including FFFFF</a>
      </p>
      <p>
        <a class="#" href="select-role-smartcard-one">Smartcard with one role (FFFFF)</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
