{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
NCRS redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NCRS redesign </h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Concepts, hypotheses and prototypes</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<section class="nhsuk-section nhsuk-section--white">
  <div class="nhsuk-width-container nhsuk-main-wrapper">

    <h2>Latest prototypes</h2>

    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/cpis-ncrs/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Child Protection - Information views and notify</h2>
              <p class="nhsuk-promo__description">August 2022: Updating the CP-IS page, notifying child protection and recording views</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ra-flag/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Reasonable Adjustments</h2>
              <p class="nhsuk-promo__description">August 2022: </p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/fgm/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Female Genital Mutilation (FGM)</h2>
              <p class="nhsuk-promo__description">August 2022: </p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/search-v5/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Search amendments</h2>
              <p class="nhsuk-promo__description">August 2022: adding post code search to search functionality</p>
            </div>
          </a>
        </div>
      </div>


    </div>

    <h2>Older prototypes</h2>

    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/covid-vaccinations/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">COVID-19 Vaccinations</h2>
              <p class="nhsuk-promo__description">February 2021: Displaying COVID-19 vaccination information in SCRa Private Beta</p>
            </div>
          </a>
        </div>
      </div>

  


      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ovm/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">OVM</h2>
              <p class="nhsuk-promo__description">November 2020: OVM Updates for development</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/pds-edit/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">PDS Edit</h2>
              <p class="nhsuk-promo__description">September 2020: Revisiting PDS Edit for the redesigned SCRa</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/refactoring/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Refactoring</h2>
              <p class="nhsuk-promo__description">June 2020: Redesigning Navigation and SCR layout</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/covid-19/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">COVID-19 Banners</h2>
              <p class="nhsuk-promo__description">April 2020: Test banners for at risk patients</p>
            </div>
          </a>
        </div>
      </div>

  </div>
</section>
{% endblock %}
