{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

  <section class="nhsuk-hero">

    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Concepts, hypotheses and prototypes</p>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block content %}
  <section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-width-container nhsuk-main-wrapper">

      <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/functional-search/start">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Latest prototype</h2>
                <p class="nhsuk-promo__description">Functional search: incorporating a searchable dataset of patients.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/phase-2-cut/start">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Phase 2 cut</h2>
                <p class="nhsuk-promo__description">Final cut for the beginning of Phase 2 development.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/search/start">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Style, layout & navigation</h2>
                <p class="nhsuk-promo__description">Exploring alternatives styles, layouts and navigation for the product.</p>
              </div>
            </a>
          </div>
        </div>

      </div>

      <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/functional-search/start">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">National Record Locator</h2>
                <p class="nhsuk-promo__description">Variations in how we could onboard the National Record Locator service. </p>
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/v1/start">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Investigating layout and navigation</h2>
                <p class="nhsuk-promo__description">Colour schemes and dashboard layouts.</p>
              </div>
            </a>
          </div>
        </div>

      </div>



    </div>
  </section>
{% endblock %}
