{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
NCRS redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NCRS redesign </h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Concepts, hypotheses and prototypes</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<section class="nhsuk-section nhsuk-section--white">
  <div class="nhsuk-width-container nhsuk-main-wrapper">

    <h2>Latest prototypes</h2>

    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/cpis-ncrs/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Child Protection - Information views and notify</h2>
              <p class="nhsuk-promo__description">August 2022: Updating the CP-IS page, notifying child protection and recording views</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ra-flag/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Reasonable Adjustments</h2>
              <p class="nhsuk-promo__description">August 2022: </p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/fgm/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Female Genital Mutilation (FGM)</h2>
              <p class="nhsuk-promo__description">August 2022: </p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/search-v5/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Search amendments</h2>
              <p class="nhsuk-promo__description">August 2022: adding post code search to search functionality</p>
            </div>
          </a>
        </div>
      </div>

    </div>

    <h2>Older prototypes</h2>

    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/covid-vaccinations/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">COVID-19 Vaccinations</h2>
              <p class="nhsuk-promo__description">February 2021: Displaying COVID-19 vaccination information in SCRa Private Beta</p>
            </div>
          </a>
        </div>
      </div>

  


      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ovm/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">OVM</h2>
              <p class="nhsuk-promo__description">November 2020: OVM Updates for development</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/pds-edit/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">PDS Edit</h2>
              <p class="nhsuk-promo__description">September 2020: Revisiting PDS Edit for the redesigned SCRa</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/refactoring/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Refactoring</h2>
              <p class="nhsuk-promo__description">June 2020: Redesigning Navigation and SCR layout</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/covid-19/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">COVID-19 Banners</h2>
              <p class="nhsuk-promo__description">April 2020: Test banners for at risk patients</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/bna/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Birth Notification Application</h2>
              <p class="nhsuk-promo__description">February 2020: Exploring adding BNA to the redesigned SCRa</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ra-flag/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Reasonable Adjustments</h2>
              <p class="nhsuk-promo__description">October 2019: Redesigning reasonable adjustments to fit the redesigned SCRa</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/cpis/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Child Protection - Information Sharing</h2>
              <p class="nhsuk-promo__description">February 2022: Updating the CP-IS page to check whether a patient's interaction is scheduled or unscheduled</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/fgm/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Female Genital Mutilation (FGM)</h2>
              <p class="nhsuk-promo__description">January 2020: Redesigning the FGM indicator and pages to add and remove it.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/search-v4/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Search amendments</h2>
              <p class="nhsuk-promo__description">November 2019: Small changes to search functionality</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/ndop/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">NDOP</h2>
              <p class="nhsuk-promo__description">December 2019: Implementing the National Data Opt-out functionality in redesigned SCRa</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/locum-pharmacist/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Locum pharmacy login</h2>
              <p class="nhsuk-promo__description">October 2019: Investigating how a locum pharmacist would select their dispensing site</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/search-v3/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Search modifications</h2>
              <p class="nhsuk-promo__description">June 2019: modifications based on user testing feedback.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/role-selection/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Select/Change role</h2>
              <p class="nhsuk-promo__description">July 2019: Initial designs</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/accessibility/statement">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Accessibility statement</h2>
              <p class="nhsuk-promo__description">Provisional content (incomplete) - September 2019</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/functional-search/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Functional search</h2>
              <p class="nhsuk-promo__description">Incorporating a searchable dataset of patients.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/phase-2-cut/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Phase 2 cut</h2>
              <p class="nhsuk-promo__description">Final cut for the beginning of Phase 2 development.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/search/start">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Style, layout & navigation</h2>
              <p class="nhsuk-promo__description">Exploring alternatives styles, layouts and navigation for the product.</p>
            </div>
          </a>
        </div>
      </div>

    </div>



  </div>
</section>
{% endblock %}
