{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Concepts, hypotheses and prototypes</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>Latest prototype</h1>
      <p>
        <a href="search/start">Style, layout and navigation</a>
      </p>

      <h2>Older prototypes</h2>
      <h3>National Record Locator</h3>
      <p>
        <a href="#">Examples</a>
      </p>
      <h3>Dec 2018/Jan 2019</h3>
      <p>
        <a href="#">Investigating layout and navigation</a>
      </p>

    </div>

  </div>
{% endblock %}
