{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Add patient impairments
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">

        <h2 class="nhsuk-heading-l">
          <span role="text">Add patient impairments</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 2 of 4</span>
        </h2>

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="ra-step-1">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Return to step 1</a>
        </div>

        <p class="nhsuk-body">
          The purpose of recording and sharing patient impairments is to help healthcare professionals understand individual needs and perform the associated adjustments required for each patient.
        </p>
        <p class="nhsuk-body">
          This is not intended to be a complete list of the patient's clinical conditions. Reasonable adjustments should be recorded at the next step.
        </p>
        <form action="ra-step-3">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="impairments-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Please select the impairments that should be considered when making Reasonable Adjustments
              </legend>

              <span class="nhsuk-hint" id="impairments-hint">
                Select relevant options.
              </span>

              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="autism-checkbox" name="impairment" type="checkbox" value="autism">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="autism-checkbox">
                    Autism
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="autism">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="autism-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="autism-info" name="autism-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="dementia-checkbox" name="impairment" type="checkbox" value="dementia">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="dementia-checkbox">
                    Dementia
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="dementia">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="dementia-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="dementia-info" name="dementia-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="learning-disability-checkbox" name="impairment" type="checkbox" value="learning-disability">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="learning-disability-checkbox">
                    Learning disability(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="learning-disability">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="learning-disability-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="learning-disability-info" name="learning-disability-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="ltc-checkbox" name="impairment" type="checkbox" value="ltc">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="ltc-checkbox">
                    Long-term condition(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="ltc">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="ltc-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="ltc-info" name="ltc-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="mhc-checkbox" name="impairment" type="checkbox" value="mhc">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="mhc-checkbox">
                    Mental health condition(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="mhc">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="mhc-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="mhc-info" name="mhc-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="physical-disability-checkbox" name="impairment" type="checkbox" value="physical-disability">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="physical-disability-checkbox">
                    Physical disability(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="physical-disability">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="physical-disability-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="physical-disability-info" name="physical-disability-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="sensory-disability-checkbox" name="impairment" type="checkbox" value="sensory-disability">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="sensory-disability-checkbox">
                    Sensory disability(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="sensory-disability">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="sensory-disability-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="sensory-disability-info" name="sensory-disability-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="other-checkbox" name="impairment" type="checkbox" value="other">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="other-checkbox">
                    Other condition(s) and/or disability(s)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="other">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="other-impairment-info">
                      Please add additional information about this impairment <strong>(optional)</strong>
                      </label>
                      <textarea class="nhsuk-textarea" id="other-impairment-info" name="other-impairment-info" rows="3"></textarea>
                  </div>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="prefer-not-to-say-checkbox" name="impairment" type="checkbox" value="prefer-not-to-say">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="prefer-not-to-say-checkbox">
                    Patient would prefer not to say
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

          <div class="btn-group">
            <button class="nhsuk-button nhsuk-button--blue" type="submit">
              Next
            </button>

            <button class="nhsuk-button nhsuk-button--reverse" type="submit">
              Skip step
            </button>

            <p class="cancel-btn-link"><a href="manage-alerts">Cancel</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
{% block pageScripts %}
<script src="/js/conditional-reveals.js"></script>
{% endblock %}
{% endblock %}
