{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Search modifications - June 2019</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <p class="nhsuk-body">
        This prototype contains updates to the search functionality of the SCRa redesign based on feedback to user testing done in April and May 2019.
      </p>
    </div>

    <div class="section">
      <p class="nhsuk-body">
        Because this prototype includes a functional search feature, we have a <a href="patient-list">list of patients</a> you can search for.
      </p>
    </div>

    <form action="nhs-number-search">
      <button class="nhsuk-button index-page-link" type="submit">
        Begin prototype
      </button>
    </form>

    <div class="section">
      <h2 class='nhs-heading-l'>Prototype hypotheses</h2>

      <h3 class="nhs-heading-s">Basic search</h3>
      <p class="nhsuk-body">
        In our last round of user testing we observed that users were unsure about which fields they needed to complete on the basic search page, despite the fact that optional fields were labelled as such.
      </p>
      <p class="nhsuk-body">
        <strong>If</strong> we remove all the optional fields from basic search and show only the mandatory fields
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> users will have more success when completing the basic search
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> there will be no confusion as to which fields must be completed.
      </p>

      <h3 class="nhs-heading-s">Advanced search</h3>
      <p class="nhsuk-body">We observed that when selecting a patients gender, users were confused by the terms "Not known" and "Not specified". More specifically, they did not perceive the difference in the two terms</p>
      <p class="nhsuk-body"><strong>If</strong> we remove the "Not known" and "Not specified" options from advanced search and replace them with a "search all" options that searches for all patients regardless of gender</p>
      <p class="nhsuk-body"><strong>Then</strong> users will be able to search all patients regardless of gender when they are unsure what the patient's gender is</p>
      <p class="nhsuk-body"><strong>Because</strong> there is a catchall gender option covering both "not known" and "not specified" patient genders</p>

      <hr />

      <p class="nhsuk-body">Users found the Advanced search screen to be cluttered, in part because of the quantity of date of birth and date of death fields. </p>
      <p class="nhsuk-body">They informed us that they would be extremely unlikely to have a need to search for deceased patients, so we will move this field to the backlog until we have more research to validate it's inclusion. We also found that users expect the DoB and DoD fields to read vertically rather than horizontally.</p>
      <p class="nhsuk-body"><strong>If</strong> we remove the date of death fields from advanced search</p>
      <p class="nhsuk-body"><strong>Then</strong> users will have more success in completing and advanced search</p>
      <p class="nhsuk-body"><strong>Because</strong> there is less clutter on the page and the date of birth fields and we can arrange the date of death fields vertically to aid their successful completion.</p>

      <hr />

      <p class="nhsuk-body">Almost every user we spoke to informed us that they did not use the GP Practice code field. Some of these users were even unsure where they would find the GP Practice code to be able to use it.</p>
      <p class="nhsuk-body"><strong>If</strong> we remove the GP Practice code field from the advanced search</p>
      <p class="nhsuk-body"><strong>Then</strong> users will have more success in completing an advanced search</p>
      <p class="nhsuk-body"><strong>Because</strong> it is a redundant field that only serves to distract users from completing the more relevant fields</p>

      <hr />

      <p class="nhsuk-body">Users expressed their confusion around the "Address & Postcode lookup" option. They informed us that the functionality in current SCRa didn't align with their expectations, which were that by completing a postcode, they would be presented with a list of relevant address from which to choose. This was because they had used other websites and services with this functionality.</p>
      <p class="nhsuk-body">In actuality, the address and postcode lookup feature allows users to find a postcode by inputting known snippets of an address.</p>
      <p class="nhsuk-body"><strong>If</strong> we replace the postcode field and the lookup button that accompanies it</p>
      <p class="nhsuk-body"><strong>Then</strong> users will be able to use the parts of the address they know to find a patient</p>
      <p class="nhsuk-body"><strong>Because</strong> we are widening the address fields they can use to find a specific patient, rather than limiting them to a postcode and a lookup they find confusing</p>

      <h3 class="nhs-heading-s">Search results</h3>

      <p class="nhsuk-body">We tested a number of different search results pages, as the NHS.UK framework doesn't include any widely tested search results components and we wanted to ensure that this page matched our users expectations, as this page is extremely important in helping users find the patient they require.</p>
      <p class="nhsuk-body"><strong>If</strong> we present the search results in the tabular format that the majority of users voted for as their favourite in testing</p>
      <p class="nhsuk-body"><strong>Then</strong> users will be able to browse and subsequently select the correct patient from a list containing potentially lots of results</p>
      <p class="nhsuk-body"><strong>Because</strong> the information will be laid out in a format that meets their mental model of how a search results page would look, and we will be able to show more results on an iPad sized device.</p>

      <hr />

      <p class="nhsuk-body">One of the exercises we asked users to complete involved them landing at a search results page with 0 results. They expressed that the message explaining that no results were found did not sufficiently explain that the search was unsuccessful, and that the text itself did not stand out on the page.</p>
      <p class="nhsuk-body"><strong>If</strong> we tell the users that no results were found as well as what their search paramters were, and offer them the option to refine their search or start from scratch</p>
      <p class="nhsuk-body"><strong>Then</strong> they will be able to see why their search might have failed and amend accordingly</p>
      <p class="nhsuk-body"><strong>Because</strong> the parameters are shown before returning to search pages, and the message explaining the search failure is displayed in larger text and structured over multiple lines to break up the content.</p>

    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a class="index-page-link" href="nhs-number-search">Updated search forms</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
