{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Manage Alerts Landing Page
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview-flag-added">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-details">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Alerts</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header scra-accordion__header">
          <h2 class="govuk-accordion__section-heading scra-accordion__heading">
            <span class="govuk-accordion__section-button scra-accordion__section-button" id="accordion-default-heading-1">
              Reasonable Adjustments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content scra-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul>
            <li><a class="scra-accordion__link" href="#patient-details-names">Create new</a></li>
            <li><a class="scra-accordion__link" href="#patient-key-details">View existing</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l" id="ra-section">Reasonable adjustments</h1>
    <div class="scra-card">
      <div class="scra-card-header">
        <h2 class="nhsuk-heading-m" id="patient-details-names">This patient does not show a requirement for reasonable adjustments</h2>
      </div>
      <div class="scra-card-content">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-u-reading-width">
              <form action="ra-start-page">
                <p>The NHS has a legal duty to make it easy for disabled and non-disabled individuals to use health and care services, as stated by the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance">Equality Act (2010)</a>.</p>
                <p>
                  A Reasonable Adjustments record ensures patients with physical and mental impairments have equal access to healthcare services.
                </p>
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Read more about Reasonable Adjustments
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <p>A Reasonable Adjustments record can show potential adjustments for a patient. These may include (but aren't limited to):</p>
                    <ul>
                      <li>communication needs (supported by the <a href="https://www.england.nhs.uk/ourwork/accessibleinfo/">Accessibility Standard</a>)</li>
                      <li>adjustments to the environment</li>
                      <li>impairments, to help undersyand the necessary adjustments</li>
                    </ul>
                  </div>
                </details>
                <p>
                  If you believe this patient requires a Reasonable Adjustments record, you can create one.
                </p>
                <button class="nhsuk-button" type="submit">
                  Create a Reasonable Adjustments record
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
