{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Create a Reasonable Adjustments record
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item scra-bordered-tabs-item-active">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-l">
          <span role="text">Create a Reasonable Adjustments record</span>
        </h2>
        <p>
          Use this feature to add a Reasonable Adjustments record for a patient.
        </p>
        <form action="ra-step-1">
          <h3 class="nhsuk-heading-m">Before you start</h3>
          <p>
            Please ensure it is appropriate for the patient to have Reasonable Adjustments before creating a record.
          </p>
          <p>
            The patient must have “a physical or mental impairment which has a substantial and long-term adverse effect on their ability to carry out normal day-to-day activities” (the definition of disability as defined by the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Equality Act (2010) (opens in a new tab)</a>).
          </p>
          <p>
            You will be asked to provide details of:
          </p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>how consent has been obtained</li>
            <li>the patient's impairments (the patient may prefer not to say) (optional)</li>
            <li>the patient's required Reasonable Adjustments (optional)</li>
          </ul>
          <p>
            There are 4 steps to complete.
          </p>
          <button class="nhsuk-button" type="submit">
            Start now
          </button>
          <p class="cancel-btn-link"><a href="patient-details">Cancel</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
