{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
SCRa redesign - Index
{% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">SCRa redesign</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Birth Notifications Application</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <div class="section">
      <h2 class='nhs-heading-l'>About this prototype</h2>

      <p class="nhsuk-body">
        This prototype explores the introduction of the Birth Notification Application (BNA) to the redesigned SCRa. The BNA allows users with specific RBAC permissions to notify the birth of a child.
      </p>
      <p class="nhsuk-body">
        Those users with the necessary RBAC permissions will be given relevant navigation options when confirming their role upon login.
      </p>

      <p class="nhsuk-body">
        Our first prototypes will explore the creation of a birth notification for a mother with an existing PDS record. The first stages of the login journey have been removed for brevity in this prototype.
      </p>

      <h3 class="nhsuk-heading-s">Version 4 update</h3>

      <p class="nhsuk-body">
        We've tested a few variations of our user flows and believe that they work well, though we will continue to test them.
      </p>

      <p class="nhsuk-body">
        The most problematic issue we have encountered is with our "View birth notifications" list page. This page in the current Summary Care Record application contains lots of information and isn't responsive, meaning that if we were to lift and shift the existing functionality we wouldn't satisfy the necessary accessibility requirements.
      </p>

      <p class="nhsuk-body">
        We also found that users of version 3 did not realise that the mother's name was a clickable link to view the birth notification.
      </p>

      <p class="nhsuk-body">
        As such, we have introduced a redesigned page in version 4 which we intend to test.
      </p>

    </div>

    <a class="nhsuk-button" href="../bna-v4/select-role">Begin prototype</a>

    <div class="section">
      <h3 class='nhs-heading-s'>Version 4 hypotheses</h2>
      <p class="nhsuk-body">
        <strong>If</strong> we present only the primary information that users require up front
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> they will still be able to identify a birth notification from the list
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> we are removing clutter from the page and giving the page a clear structure across all devices.
      </p>
      <br />
      <p class="nhsuk-body">
        <strong>If</strong> we present secondary information that users require in an expandable field
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> users will be able to better identify the birth notifications they require
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> we are removing clutter from the page initially, whilst stil giving users the option to look for more information if they require it.
      </p>
      <br />
      <p class="nhsuk-body">
        <strong>If</strong> we make the notification status a colour coded Action link
      </p>
      <p class="nhsuk-body">
        <strong>Then</strong> users will be able to identify at a glance any notifications which are in progress, failed or complete and use the link to view further information about each notification.
      </p>
      <p class="nhsuk-body">
        <strong>Because</strong> we know users react well to colour coded information, and we have seen proof that users identify Action links as interactive elements in previous prototypes.
      </p>
    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="scra-card">
      <h2 class="nhsuk-heading-m">Prototypes</h2>
      <p>
        <a href="../bna-v4/select-role">Version 4</a>
      </p>
      <p>
        <a href="../bna-v3/select-role">Version 3</a>
      </p>
      <p>
        <a href="../bna-v2/confirm-role">Version 2 (with confirmation screens)</a>
      </p>
      <p>
        <a href="confirm-role">Version 1 BNA Designs</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
