{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Enter organisation details
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="step-1">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Return to step 1</a>
        </div>
        <h2 class="nhsuk-heading-l">
          <span role="text">Enter organisation details</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 2 of 5</span>
        </h2>

        <p class="nhsuk-body">
          Please enter details about the organisation where the birth took place.
        </p>
        <form id="bna-step-2-form" action="step-3">

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="delivery-place-dropdown">
              Delivery place type
            </label>
            <select class="nhsuk-select" id="delivery-place-dropdown" name="delivery-place">
              <option value="0">NHS hospital - delivery facilities associated with midwife ward</option>
              <option value="1">Domestic address</option>
              <option value="2">NHS hospital - delivery facilities associated with consultant ward</option>
              <option value="3">NHS hospital - delivery associated with GMP ward</option>
              <option value="4">NHS hospital - delivery associated with any combination of two of Maternity/Consultant/GMP ward</option>
              <option value="5">Private hospital</option>
              <option value="6">Other hospital or institution</option>
              <option value="7">NHS hospital - ward or unit without delivery facilities</option>
              <option value="8">None of the above</option>
              <option value="9">Not known</option>
              <option value="9" selected disabled>Please select a delivery place type</option>

            </select>
          </div>

          <div class="nhsuk-form-group" style="display:none">
            <label class="nhsuk-label nhsuk-label__strong" for="delivery-place-code">
              Delivery place code
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="delivery-place-code" name="delivery-place-code" type="text">
          </div>

          <div class="nhsuk-form-group" style="display:none">
            <label class="nhsuk-label nhsuk-label__strong" for="delivery-place-name">
              Delivery place name
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="delivery-place-name" name="delivery-place-name" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="bna-town-of-birth">
              Town of birth
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="bna-town-of-birth" name="town-of-birth" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="county-of-birth">
              County of birth
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="bna-county-of-birth" name="county-of-birth" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="bna-country-of-birth">
              Country of birth
            </label>
            <select class="nhsuk-select" id="bna-country-of-birth" name="country-of-birth">
              <option value="0" selected disabled>Please select a country of birth</option>
            </select>

          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="partner-chu">
              Partner Child Health Unit
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="partner-chu" name="partner-child-health-unit" type="text">
          </div>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Search for a Partner Child Health unit
              </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
          </details>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="responsible-chu">
              Responsible Child Health Unit (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="responsible-chu" name="responsible-child-health-unit" type="text">
          </div>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Search for a Responsible Child Health unit
              </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
          </details>

          <div class="btn-group">
            <button class="nhsuk-button" type="submit">
              Next
            </button>

            <button class="nhsuk-button nhsuk-button--reverse">
              Save for later
            </button>

            <p class="cancel-btn-link"><a href="manage-alerts">Cancel</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
