{% extends 'layouts/layout-application.html' %}

{% block pageTitle %}
Enter organisation details
{% endblock %}

{% block beforeContent %}


<div class="nhsuk-full-width-container">
  <div class='scra-bordered-tabs-container'>
    <div class="nhsuk-width-container-fluid">
      <ul class="scra-bordered-tabs">
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-overview">Overview</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Patient</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="patient-clinical">Clinical</a>
        </li>
        <li class="scra-bordered-tabs-item">
          <a class="scra-bordered-tabs-link" href="#">Documents</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="step-1">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Return to step 3</a>
        </div>
        <h2 class="nhsuk-heading-l">
          <span role="text">Enter the baby's address details</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Step 4 of 5</span>
        </h2>

        <p class="nhsuk-body">
          Please enter the baby's usual address details, and the baby's discharge address details if this differs from their usual address.
        </p>
        <form id="bna-step-4-form" action="step-5">


          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-house-name">
              House name
            </label>
            <span class="nhsuk-hint" id="house-name-hint">
              You must enter at least one of house name and house number and street
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-house-name" name="baby-house-name" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-house-street">
              House number and street
            </label>
            <span class="nhsuk-hint" id="house-street-hint">
              You must enter at least one of house name and house number and street
            </span>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-house-street" name="baby-house-number-and-street" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-address-locality">
              Locality (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-address-locality" name="baby-address-locality" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-address-town">
              Post town
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="baby-address-town" name="baby-address-town" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-address-county">
              County
            </label>
            <select class="nhsuk-select" id="baby-address-county" name="baby-address-county">
              <option value="0" selected disabled>Please select an option</option>
            </select>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-address-postcode">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="baby-address-postcode" name="baby-address-postcode" type="text">
          </div>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Search for a postcode
              </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
          </details>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-home-telephone">
              Home telephone
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="baby-home-telephone" name="baby-home-telephone" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="baby-mobile-telephone">
              Mobile telephone
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="baby-home-telephone" name="baby-mobile-telephone" type="text">
          </div>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                Is the baby's discharge address the same as their usual address?
              </legend>

              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="discharge-address-yes" name="discharge-address-same-as-usual-address" type="radio" value="Yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="discharge-address-yes">
                    Yes
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="discharge-address-no" name="discharge-address-same-as-usual-address" type="radio" value="Male">
                  <label class="nhsuk-label nhsuk-radios__label" for="discharge-address-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="btn-group">
            <button class="nhsuk-button" type="submit">
              Next
            </button>

            <button class="nhsuk-button nhsuk-button--reverse">
              Save for later
            </button>

            <p class="cancel-btn-link"><a href="manage-alerts">Cancel</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>



{% block pageScripts %}
<script src="/js/bna.js"></script>
{% endblock %}
{% endblock %}
